@using EmpInfo.Models;
@{
    StBillSearchParamModel spm = (StBillSearchParamModel)ViewData["spm"];
    List<StBillResultModel> list = (List<StBillResultModel>)ViewData["list"];
}

@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <style type="text/css">
        
    </style>
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>

    <script>
    $(function () {
        $(".form_date").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: true,
            startView: 2,
            minView: 2
        });
        //设置日期联动，结束日期不能大于起始日期
        $("#fromDatePicker1").on("changeDate", function (e) {
            $('#toDatePicker1').datetimepicker('setStartDate', e.date);
        });
        $("#toDatePicker1").on("changeDate", function (e) {
            $('#fromDatePicker1').datetimepicker('setEndDate', e.date);
        });

        $("#searchBt").on("click", function () {
            window.location.href = "@Url.Content("~/K3/SearchStockBillList?account=")" + $("#account").val() + "&fromDate=" + $("#from_date").val() + "&toDate=" + $("#to_date").val();
        });

        $(".list-group-item").on("mouseover", function () {
            $(this).addClass("list-group-item-danger");
        });
        $(".list-group-item").on("mouseout", function () {
            $(this).removeClass("list-group-item-danger");
        });

        $(".list-content").on("click", function () {
            var self = this;
            var h = {};
            h.stDate = $(self).find(".stDate").html();
            h.stNumber = $(self).find(".stNumber").html();
            h.customerName = $(self).find(".customerName").html();
            h.customerNumber = $(self).find(".customerNumber").html();
            h.saleStyle = $(self).find(".saleStyle").html();
            h.srNumber = $(self).find(".srNumber").html();
            h.stId = $(self).find(".stId").val();

            var e = JSON.parse($(self).find(".entryJson").val());

            var tb = "<table style='width:100%;'>";
            tb += "<tr>";
            tb += "<td style='width:110px;'><i class='fa fa-clock-o fa-fw'></i> 制单日期：</td>";
            tb += "<td>" + h.stDate + "</td>";
            tb += "</tr>";
            tb += "<tr>";
            tb += "<td><i class='fa fa-caret-right fa-fw'></i> 出库单号：</td>";
            tb += "<td>" + h.stNumber + "</td>";
            tb += "</tr>";
            tb += "<tr>";
            tb += "<td><i class='fa fa-caret-right fa-fw'></i> 购货客户：</td>";
            tb += "<td>" + h.customerName + "</td>";
            tb += "</tr>";
            tb += "<tr>";
            tb += "<td><i class='fa fa-caret-right fa-fw'></i> 客户编码：</td>";
            tb += "<td>" + h.customerNumber + "</td>";
            tb += "</tr>";
            tb += "<tr>";
            tb += "<td><i class='fa fa-caret-right fa-fw'></i> 销售方式：</td>";
            tb += "<td>" + h.saleStyle + "</td>";
            tb += "</tr>";
            if (h.srNumber) {
                tb += "<tr>";
                tb += "<td><i class='fa fa-caret-right fa-fw'></i> 出货申请：</td>";
                tb += "<td>" + h.srNumber + "</td>";
                tb += "</tr>";
            }
            tb += "</table>";

            tb += "<table style='margin-top:18px;width:100%;' class='table table-condensed table-hover'>";
            tb += "<tr><th style='width:50%;'>产品名称/型号</th><th style='width:24%;'>数量/单位</th><th style='width:26%;'>单价/金额</th></tr>";
            for (var i = 0; i < e.length; i++) {
                tb += "<tr>"
                tb += "<td>" + e[i].itemName + "</br>" + e[i].itemModel + "</td>";
                tb += "<td>" + e[i].qty + "</br>" + e[i].unitName + "</td>";
                tb += "<td>" + e[i].price + "</br>" + e[i].ammount + "</td>";
                tb += "</tr>";
            }
            tb += "</table>";

            var needToGenDeliveryBill = "@spm.account" == "电子" ? false : true;

            openConfirmDialog(tb, function () {
                $.post("@Url.Content("~/K3/BeginAuditStockBill")", {account:"@spm.account",interid:h.stId}, function (data) {
                    if (data.suc) {
                        toastr.success("一审成功！");
                        if (needToGenDeliveryBill) {
                            toastr.info("开始生成送货单...");
                            $.post("@Url.Content("~/K3/GenTrulyDelivery")", {account:"@spm.account",billNo:h.stNumber,srNo:h.srNumber}, function (res) {
                                if (res.suc) {
                                    toastr.success("送货单已成功生成！");
                                    $(self).fadeOut(1000);
                                } else {
                                    toastr.error("送货单生成出错：" + res.msg);
                                }
                            });
                        } else {
                            $(self).fadeOut(1000);
                        }
                    } else {
                        toastr.error("一审失败：" + data.msg);
                    }
                });
            }, "操作确认", "取消", needToGenDeliveryBill?"一审并生成送货单":"开始一审");

        });

        //反审核
        $("#rejectLink").on("click", function () {
            $.post("@Url.Content("~/K3/GetStockBillForReject")", { account: $("#account").val() }, function (data) {
                if (data.suc) {

                    if(data.list.length==0){
                        toastr.info("查询不到24小时内已一审未二审的销售出库单");
                        return;
                    }

                    var html = "<table style='width:100%;'><thead><tr><td style='width:40%;'>销售单号</td><td style='width:40%;'>一审时间</td><td style='width:20%;'>反审</td></tr></thead>";
                    html += "<tbody>";

                    var l = data.list;
                    for (var i = 0; i < l.length; i++) {
                        html += "<tr>";
                        html += "<td>" + l[i].billNo + "</td>";
                        html += "<td>" + l[i].checkDate1 + "</td>";
                        html += "<td><button class='btn btn-default btn-xs' onclick='reject(" + l[i].interId + ")'><i class='fa fa-reply'></i> </button></td>"
                    }

                    html += "</tbody></table>";
                    openMessageDialog(html, "可反审列表");
                } else {
                    toastr.error(data.msg);
                }
            });
        });

        $("#excelBt").on("click", function () {
            if ($("#account").val() == "电子") {
                toastr.error("电子不支持导出出库审核记录");
                return;
            }
            window.location.href = "@Url.Content("~/Report/ExportSRFlowRecord?account=")" + $("#account").val() + "&fromDate=" + $("#from_date").val() + "&toDate=" + $("#to_date").val();
        });


        $("#account").val("@spm.account");

    });

    function reject(id) {
        $.post("@Url.Content("~/K3/BeginAuditStockBill")", { account: $("#account").val(), interid: id,isReject:true }, function (data) {
            if (data.suc) {
                toastr.success("反审核成功！");
                $("#MessageModal").modal("hide");
            } else {
                toastr.error("反审核失败，原因：" + data.msg);
            }
        });
    }

    </script>
}

<div class="panel panel-success">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>            
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
            <li class="active">销售出库单一审</li>
        </ol>
    </div>
    <div class="panel-body">
        <i class="text-danger"> <i class="fa fa-info-circle"></i> 
        选择帐套/开始查询日期/结束查询日期之后，可查询未一审的销售出库单:
        <span style="cursor:pointer;" id="rejectLink"> 【反审核】</span>
        </i>
        <div class="row" style="margin:6px 0;">
            <div class="col-xs-12 col-md-4">
                <select class="form-control" id="account" name="account" style="margin:6px 0;">
                        <option value="半导体">半导体</option>
                        <option value="光电">光电</option>
                        <option value="电子">电子</option>
                </select>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="input-group date form_date" style="margin:6px 0;" id="fromDatePicker1">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input class="form-control" type="text" id="from_date" name="from_date" placeholder="请输入起始日期" readonly value="@spm.fromDate">
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="input-group date form_date" style="margin:6px 0;" id="toDatePicker1">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input class="form-control" type="text" id="to_date" name="to_date" placeholder="请输入结束日期" readonly value="@spm.toDate">
                </div>
            </div>
        </div>
        
        <button class="btn btn-primary btn-block" id="searchBt"><i class="fa fa-search"></i> 搜索K3销售出库单</button>        
        <button class="btn btn-success btn-block" id="excelBt"><i class="fa fa-file-excel-o"></i> 导出出货系统审批记录</button>
        
    </div>
    
    <ul class="list-group">
        @if (list != null) {
            if (list.Count() > 0) { 
                int idx=1;
                foreach (var l in list) { 
                    <li class="list-group-item list-content" style="cursor:pointer;">
                        <span class="text-danger" style="display:inline-block;width:30px;">[@(idx++)]</span> &nbsp;
                        <i class="fa fa-clock-o"></i> <span class="stDate">@l.stDate</span> &nbsp;&nbsp; 
                        <span class="stNumber" style="display:inline-block;width:140px;">@l.stNumber</span>
                        <span class="customerName" style="display:inline-block;width:220px;">@l.customerName</span>
                        <span class="customerNumber" style="display:inline-block;width:100px;">@l.customerNumber</span>
                        <span class="saleStyle" style="display:inline-block;width:100px;">@l.saleStyle</span> &nbsp;&nbsp;
                        <span class="srNumber">@l.srNumber</span>
                        <input type="hidden" class="stId" value="@l.stId" />
                        <input type="hidden" class="entryJson" value="@l.entryJson" />
                    </li>
                }
            }
            else { 
                <li class="list-group-item">
                    <p class="text-center text-warning">-------- 查询不到符合条件的销售出库单 --------</p>
                </li>
            }
        }        
    </ul>

</div>

@section Modal {
    @Html.Partial("_ConfirmDialog")
    @Html.Partial("_MessageDialog")
}