@using EmpInfo.Models;
@{
    ALSearchParam sm = (ALSearchParam)ViewData["sm"];
    List<ei_empLevel> empLevels = (List<ei_empLevel>)ViewData["empLevels"];
    List<vw_askLeaveReport> list = (List<vw_askLeaveReport>)ViewData["list"];    
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <style type="text/css">
        .tdText {
            text-align: right;
            font-style: italic;
            padding-right: 10px;
        }
        .b-label {
            display: inline-block;
            width: 80px;
            vertical-align: top;
            color: gray;
        }

        .b-div {
            margin: 6px 0;
        }

        .dateSpan, .dayTime{
            cursor:pointer;
        }
    </style>
}
@section Scripts {
    @*加入以下js，使IE8支持datetimepicker组件*@
    <script>
        if (!Array.prototype.indexOf) {
            Array.prototype.indexOf = function (elt /*, from*/) {
                var len = this.length >>> 0;

                var from = Number(arguments[1]) || 0;
                from = (from < 0)
                     ? Math.ceil(from)
                     : Math.floor(from);
                if (from < 0)
                    from += len;

                for (; from < len; from++) {
                    if (from in this &&
                        this[from] === elt)
                        return from;
                }
                return -1;
            };
        }
    </script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script>
        var currentTr;
    $(function () {
        //选择部门
        $("#depName").on("click", function () {
            openSelectDepDialog(1, function (selectedDep) {
                console.log(selectedDep);
                $("#depName").val(selectedDep.depLongName);
                $("#depId").val(selectedDep.depId);
            });
        });
        $(".form_date").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: true,
            startView: 2,
            minView: 2
        });
        //设置日期联动，结束日期不能大于起始日期
        $("#fromDatePicker1").on("changeDate", function (e) {
            $('#toDatePicker1').datetimepicker('setStartDate', e.date);
        });
        $("#toDatePicker1").on("changeDate", function (e) {
            $('#fromDatePicker1').datetimepicker('setEndDate', e.date);
        });

        //$("input.check1").iCheck({
        //    checkboxClass: 'icheckbox_square-blue',
        //});
        //$("input.check2").iCheck({
        //    checkboxClass: 'icheckbox_square-green',
        //});

        //$("input.check1").on("ifChecked", function () {
        //    var sysNo = $(this).attr("data-sn");
        //    checkFlag(sysNo, 1, true);
        //});
        //$("input.check1").on("ifUnchecked", function () {
        //    var sysNo = $(this).attr("data-sn");
        //    checkFlag(sysNo, 1, false);
        //});
        //$("input.check2").on("ifChecked", function () {
        //    var sysNo = $(this).attr("data-sn");
        //    checkFlag(sysNo, 2, true);
        //});
        //$("input.check2").on("ifUnchecked", function () {
        //    var sysNo = $(this).attr("data-sn");
        //    checkFlag(sysNo, 2, false);
        //});

        $("input.check1,input.check2").on("change", function () {
            var isChecked = $(this).is(":checked");
            var sysNo = sysNo = $(this).attr("data-sn");
            var which = $(this).hasClass("check1");
            checkFlag(sysNo, which ? "1" : "2", isChecked);            
        });

        $("#alReportBt").on("click", function () {
            exportDatas("BeginExportALExcel");
        });

        $("#alCheckBt").on("click", function () {
            exportDatas("CheckALDatas");
        });

        $(".dateSpan, .dayTime").on("click", function () {            
            var tr = $(this).parents("tr")[0];
            var ds = $($(tr).find(".dateSpan")).html();
            var dt = $($(tr).find(".dayTime")).html();
            
            var sysNo = $($(tr).prev("tr").find(".sysNo")).html();
            var fDate = $.trim(ds.split("~")[0]);
            var tDate = $.trim(ds.split("~")[1]);

            var dNum = $.trim(dt.split("天")[0]);
            var tNum = $.trim(dt.split("天")[1].split("小时")[0]);

            $("#mSysNo").val(sysNo);
            $("#mFromDate").val(fDate);
            $("#mToDate").val(tDate);
            $("#mDays").val(dNum);
            $("#mHours").val(tNum);

            currentTr = tr;

            $("#updateModal").modal("show");

        });

        $("#updateBtn").on("click", function () {
            var days = $("#mDays").val();
            var hours = $("#mHours").val();

            if (isNaN(days) || parseInt(days) != days) {
                toastr.error("天数必须填写整数");
                return;
            }
            if (isNaN(hours)) {
                toastr.error("小时数必须填写数字");
                return;
            }
            if (hours % 0.5 != 0) {
                toastr.error("小时数必须是0.5的倍数");
                return;
            }
            $.post("@Url.Content("~/Report/UpdateALDays")", {
                sysNo: $("#mSysNo").val(),
                fromDate: $("#mFromDate").val(),
                toDate: $("#mToDate").val(),
                days: days,
                hours:hours
            }, function (data) {
                if (data.suc) {
                    toastr.success(data.msg);

                    $($(currentTr).find(".dateSpan")).html($("#mFromDate").val() + " ~ " + $("#mToDate").val());
                    $($(currentTr).find(".dayTime")).html(days + "天" + hours + "小时");

                    $("#updateModal").modal("hide");
                } else {
                    toastr.error(data.msg);
                }
            });

        });

        $("#auditStatus").val("@sm.auditStatus");
        $("#eLevel").val("@sm.empLeve");
    });

    function exportDatas(method) {
        var depId = $("#depId").val();
        var fd = $("#from_date").val();
        var td = $("#to_date").val();

        if (depId == "") {
            toastr.error("请先选择部门");
            return;
        }
        if (fd == "") {
            toastr.error("请先选择起始日期");
            return;
        }
        if (td == "") {
            toastr.error("请先选择结束日期");
            return;
        }
        window.location.href = "@Url.Content("~/Report/")" + method
            + "?depId=" + depId
            + "&fromDate=" + fd
            + "&toDate=" + td
            + "&auditStatus=" + escape($("#auditStatus").val())
            + "&eLevel=" + $("#eLevel").val()
            + "&empName=" + escape($("#empName").val())
            + "&sysNum=" + escape($("#sysNum").val())
            + "&salaryNo=" + escape($("#salaryNo").val())
        ;
    }

        function checkFlag(sysNo, which, checked) {
            $.post("@Url.Content("~/Report/SetALFlag")", {
                sysNo: sysNo,
                which: which,
                isChecked:checked
            }, function (data) {
                if (!data.suc) {
                    toastr.error(data.msg);
                }
            });
        }

    </script>

    
 
}

<div class="panel panel-success">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
            <li class="active">请假报表</li>
        </ol>
    </div>
    <div class="panel-body">
        <i class="text-danger"> <i class="fa fa-info-circle"></i> 输入查询条件之后，可查询或导出excel报表:</i>
        <table style="width:100%;margin-bottom:12px;">
            <tr>
                <td style="width:10%;" class="tdText">
                    请假部门：
                </td>
                <td style="width:30%;">
                    <input type="text" class="form-control" id="depName" style="margin-top:6px;" value="@sm.depName"/>
                    <input type="hidden" id="depId" value="@sm.depId"/>
                </td>
                <td style="width:10%;" class="tdText">
                    起始日期：
                </td>
                <td style="width:20%;">
                    <div class="input-group date form_date" style="margin:6px 0;" id="fromDatePicker1">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input class="form-control" type="text" id="from_date" name="from_date" placeholder="请输入起始日期" readonly value="@sm.fromDate">
                    </div>
                </td>
                <td style="width:10%;" class="tdText">
                    结束日期：
                </td>
                <td style="width:20%;">
                    <div class="input-group date form_date" style="margin:6px 0;" id="toDatePicker1">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input class="form-control" type="text" id="to_date" name="to_date" placeholder="请输入结束日期" readonly value="@sm.toDate">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdText">
                    流程状态：
                </td>
                <td>
                    <select class="form-control" id="auditStatus" name="auditStatus">
                        <option value="所有">所有</option>
                        <option value="已通过">已通过</option>
                        <option value="已拒绝">已拒绝</option>
                        <option value="审批中">审批中</option>
                        <option value="已撤销">已撤销</option>
                    </select>
                </td>
                <td class="tdText">
                    职位级别：
                </td>
                <td>
                    <select class="form-control" id="eLevel" name="eLevel">
                        <option value="-1">所有</option>
                        @foreach (var el in empLevels) {
                            <option value="@el.level_no">@el.level_name</option>
                        }
                    </select>
                </td>
                <td class="tdText">
                    职员姓名：
                </td>
                <td><input type="text" class="form-control" id="empName" value="@sm.empName" /> </td>
            </tr>
            <tr>
                <td class="tdText">
                    流水编号：
                </td>
                <td>
                    <input type="text" class="form-control" id="sysNum" value="@sm.sysNum" style="margin-top:6px;"/>
                </td>
                <td class="tdText">
                    工资条码：
                </td>
                <td>
                    <input type="text" class="form-control" id="salaryNo" value="@sm.salaryNo" />
                </td>
                <td></td><td></td>
            </tr>
        </table>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <button class="btn btn-primary" id="alCheckBt"><i class="fa fa-search"></i> 搜索</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-success" id="alReportBt"><i class="fa fa-file-excel-o"></i> 导出报表</button>
            </div>
        </div>
        @if (list != null) {
            if (list.Count() > 0) {
                <table style="margin-top:18px;width:100%;" class="table table-condensed table-hover">
                    <tr>
                        <th style="width:5%;" class="text-center">
                            行号
                        </th>
                        <th style="width:18%;">
                            申请时间/状态
                        </th>
                        <th style="width:12%;">
                            流水号
                        </th>
                        <th style="width:15%;">
                            申请人
                        </th>
                        <th style="width:8%;">
                            条形码
                        </th>
                        <th style="width:23%;">
                            职位/请假区间
                        </th>
                        <th style="width:12%;">
                            类型/天数
                        </th>
                        <th style="width:7%;">
                            标识
                        </th>
                    </tr>
                    @{
                        int ln = 0;
                        string trClass = "";                        
                    }
                    @foreach (var l in list) {
                        switch (l.status) {
                            case "已通过":
                                trClass = "success";
                                break;
                            case "已拒绝":
                                trClass = "danger";
                                break;
                            case "已撤销":
                                trClass = "warning";
                                break;
                            default:
                                trClass = "";
                                break;
                        }
                    <tr class="@trClass">
                        <td class="text-center">
                            @(++ln)
                        </td>
                        <td>
                            @(((DateTime)l.apply_time).ToString("MM-dd HH:mm")) / @l.status
                        </td>
                        <td>
                            <span class="sysNo">@l.sys_no</span> 
                        </td>
                        <td>
                            @string.Concat(l.applier_name,"(",l.applier_num,")")
                        </td>
                        <td>
                            @l.salary_no
                        </td>
                        <td>
                            @l.level_name
                        </td>
                        <td>
                            @l.leave_type
                        </td>
                        <td>
                            @if (l.check1 == true) {
                                <input type="checkbox" class="check1" data-sn="@l.sys_no" checked style="zoom:120%;" /> 
                            }
                            else {
                                <input type="checkbox" class="check1" data-sn="@l.sys_no" style="zoom:120%;" />
                            }
                            @if (l.check2 == true) {
                                <input type="checkbox" class="check2" data-sn="@l.sys_no" checked style="zoom:120%;"/>
                            }
                            else {
                                <input type="checkbox" class="check2" data-sn="@l.sys_no" style="zoom:120%;" />
                            }
                            
                        </td>
                    </tr>
                    <tr class="@trClass">
                        <td style="border-top-width:0;"></td>
                        <td colspan="4" style="border-top-width:0;">
                            @l.dep_long_name
                        </td>
                        <td style="border-top-width:0;">
                            <span class="dateSpan"> @(((DateTime)l.from_date).ToString("MM-dd HH:mm")) ~ @(((DateTime)l.to_date).ToString("MM-dd HH:mm"))</span>
                        </td>
                        <td style="border-top-width:0;">
                            <span class="dayTime"> @string.Concat(l.work_days, "天", l.work_hours, "小时") </span>
                        </td>
                        <td style="border-top-width:0;">
                            <a target="_blank" href="@string.Concat(Url.Content("~/Apply/CheckALApply?sysNo="),l.sys_no)">详情</a>
                        </td>
                    </tr>      
                    }      
                </table>
            }
            else {
                <p class="text-center text-warning" style="margin-top:20px;">查询不到符合条件的请假记录</p>
            }
        }
    </div>
</div>

@section Modal {

    <div class="modal fade" id="updateModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="fa fa-question-circle"></i> 修改请假时间</h4>
                </div>
                <div class="modal-body">
                    <div class="b-div">
                        <label class="b-label control-label">流水号:</label>
                        <span style="display:inline-block;width:77%">
                            <input type="text" class="form-control" id="mSysNo" readonly/>
                        </span>
                    </div>
                    <div class="b-div">
                        <label class="b-label control-label">开始日期:</label>
                        <span style="display:inline-block;width:77%">
                            <input type="text" class="form-control" id="mFromDate" />
                        </span>
                    </div>
                    <div class="b-div">
                        <label class="b-label control-label">结束日期:</label>
                        <span style="display:inline-block;width:77%">
                            <input type="text" class="form-control" id="mToDate" />
                        </span>
                    </div>
                    <div class="b-div">
                        <label class="b-label control-label">天数:</label>
                        <span style="display:inline-block;width:77%">
                            <input type="text" class="form-control" id="mDays" />
                        </span>
                    </div>
                    <div class="b-div">
                        <label class="b-label control-label">小时数:</label>
                        <span style="display:inline-block;width:77%">
                            <input type="text" class="form-control" id="mHours" />
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="updateBtn" type="button" class="btn btn-success"><i class="fa fa-check"></i> 确认修改</button>
                </div>
            </div>
        </div>
    </div>
    
    @Html.Partial("_SelectDep")
}