@using EmpInfo.Models;
@{
    List<AssistantEmpModel> list = (List<AssistantEmpModel>)ViewData["list"];
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
}
@section Scripts{
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/extensions/mobile/bootstrap-table-mobile.min.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>
    <script>

        $(function () {
            $("#searchText").keyup(function () {
                if (event.keyCode == 13) {
                    $("#searchBt").click();
                }
            });

            $("#searchBt").on("click", function () {
                var searchValue = $("#searchText").val();
                window.location.href = "@Url.Content("~/Report/SearchAssistantEmps?value=")" + searchValue;
            });


        });

        $("#tb").bootstrapTable({
            striped: true,
            mobileResponsive: true,
            pagination: true,
            rowStyle: function () {
                return {
                    css: { "cursor": "pointer" }
                };
            },
            onClickRow: function (row, ele, field) {
                var empType = $.trim(row[2]);
                var cardNumber = $.trim(row[1]);
                window.location.href = "CheckAssistantEmp?empType=" + empType + "&cardNumber=" + cardNumber;
            }
        });
        

    </script>
}
<div class="panel panel-success" id="applyDiv">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
            <li class="active">基干/辅助员工查询</li>
        </ol>
    </div>
    <div class="panel-body">

        <div class="input-group">
            <input type="text" class="form-control" id="searchText" placeholder="输入厂牌、姓名搜索" value="@ViewData["searchValue"]">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" id="searchBt"><span class="fa fa-search"></span> 搜索</button>
            </span>
        </div>
        @if (list != null) {
            if (list.Count() == 0) {
                <p class="text-center text-warning" style="margin-top:20px;">查询不到符合条件的记录</p>
            }
            else {
                <hr style="margin:12px 0" />
                <table data-toggle="table" id="tb">
                    <thead>
                        <tr>
                            <th>姓名</th>
                            <th>厂牌</th>
                            <th>类型</th>
                            <th>部门</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in list) {
                            <tr>
                                <td>@i.empName</td>
                                <td>@i.cardNumber</td>
                                <td>@i.empType</td>
                                <td>@i.depName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
    </div>
</div>
