@using EmpInfo.Models;
@{
    List<vw_svReport> list = (List<vw_svReport>)ViewData["list"];    
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
}
@section Scripts {
    @*加入以下js，使IE8支持datetimepicker组件*@
    <script>
        if (!Array.prototype.indexOf) {
            Array.prototype.indexOf = function (elt /*, from*/) {
                var len = this.length >>> 0;

                var from = Number(arguments[1]) || 0;
                from = (from < 0)
                     ? Math.ceil(from)
                     : Math.floor(from);
                if (from < 0)
                    from += len;

                for (; from < len; from++) {
                    if (from in this &&
                        this[from] === elt)
                        return from;
                }
                return -1;
            };
        }
    </script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script>
        var currentTr;
        $(function () {
            $(".form_date").datetimepicker({
                language: 'zh-CN',
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: true,
                startView: 2,
                minView: 2
            });
            //设置日期联动，结束日期不能大于起始日期
            $("#fromDatePicker1").on("changeDate", function (e) {
                $('#toDatePicker1').datetimepicker('setStartDate', e.date);
            });
            $("#toDatePicker1").on("changeDate", function (e) {
                $('#fromDatePicker1').datetimepicker('setEndDate', e.date);
            });

            $("#ucReportBt").on("click", function () {
                toastr.info("数据正在导出，请稍等...");
                window.location.href = "@Url.Content("~/Report/BeginExportETReport?")"
                + "fromDate=" + $("#fromDate").val()
                + "&toDate=" + $("#toDate").val();
                ;
            });

        });

    </script>

}

<div class="panel panel-success">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
            <li><a href="@Url.Content("~/Apply/ApplyIndex?billType=ET")">紧急出货运输申请</a></li>
            <li class="active">查询报表</li>
        </ol>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="input-group date form_date" style="margin:6px 0;" id="fromDatePicker1">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input class="form-control" type="text" id="fromDate" name="fromDate" placeholder="请输入起始日期" readonly />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="input-group date form_date" style="margin:6px 0;" id="toDatePicker1">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input class="form-control" type="text" id="toDate" name="toDate" placeholder="请输入结束日期" readonly />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <button class="btn btn-success btn-block" id="ucReportBt" data-loading-text="导出中..." style="margin:6px 0;"><i class="fa fa-file-excel-o"></i> 导出报表</button>
            </div>
        </div>
    </div>
</div>

