@using EmpInfo.Models;
@{
    JMSearchParam sm = ViewData["sm"] as JMSearchParam;
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
    <style type="text/css">
        .lbText {
            font-style: italic;
        }
    </style>
}
@section Scripts {
    @*加入以下js，使IE8支持datetimepicker组件*@
    <script>
        if (!Array.prototype.indexOf) {
            Array.prototype.indexOf = function (elt /*, from*/) {
                var len = this.length >>> 0;

                var from = Number(arguments[1]) || 0;
                from = (from < 0)
                     ? Math.ceil(from)
                     : Math.floor(from);
                if (from < 0)
                    from += len;

                for (; from < len; from++) {
                    if (from in this &&
                        this[from] === elt)
                        return from;
                }
                return -1;
            };
        }
    </script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/extensions/mobile/bootstrap-table-mobile.min.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>
    <script>
    var currentTr;
    $(function () {
        $(".form_date").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: true,
            startView: 2,
            minView: 2
        });

        $("#reportBt").on("click", function () {
            if ($("#fromDate").val() == "" && $("#qFromDate").val() == "") {
                toastr.error("提交开始日期和离职开始日期至少应填写一个");
                return;
            }
            var obj = utils.getFormObj($("#fm"));
            toastr.info("数据正在导出，请稍等...");
            window.location.href = "@Url.Content("~/Report/BeginExportJMReport?")"
                + "searchJmJson=" + encodeURIComponent(JSON.stringify(obj));
            });

        $("#checkBt").on("click", function () {
            if ($("#fromDate").val() == "" && $("#qFromDate").val() == "") {
                toastr.error("提交开始日期和离职开始日期至少应填写一个");
                return;
            }
            var obj = utils.getFormObj($("#fm"));
            
            $.post("@Url.Content("~/Report/CheckJMReport")", {
                searchJmJson: JSON.stringify(obj)
            }, function (data) {
                $('#check_tb').bootstrapTable('load', data);
                if (data.length == 0) {
                    toastr.error("当前时间段查无申请");
                }
            });
        });

        $("#updateDepBt").on("click", function () {
            var newDepName = $("#m_depName").val();
            var sysNo = $("#m_sysNo").val();
            if (newDepName == "") {
                toastr.error("请输入新部门名称");
                return;
            }
            openConfirmDialog("确定要修改部门吗？", function () {
                $.post("@Url.Content("~/ApplyExtra/UpdateJMDepName")", { sysNo: sysNo, newDepName: newDepName }, function (data) {
                    if (data.suc) {
                        $("#check_tb").bootstrapTable("updateCellById", { id: sysNo, field: "dep_name", value: newDepName });
                        $("#depModal").modal("hide");
                        toastr.success("部门修改成功");
                    } else {
                        toastr.error(data.msg);
                    }
                });

            });
        });

        $("#quitType").val("@sm.quitType");
        $("#salaryType").val("@sm.salaryType");

    });

        $("#check_tb").bootstrapTable({
            maintainSelected: true,
            striped: true,
            mobileResponsive: true,
            pagination: true,
            pageSize: 40,
            pageList: [20, 40, 60, 100],
            search: true,
            checkboxHeader: false,
            uniqueId: "sys_no",
            columns: [
                {
                    field: "sys_no",
                    title: "流水号"
                }, {
                    field: "dep_name",
                    title: "人事部门",
                    width: "25%"
                }, {
                    field: "quit_type",
                    title: "离职类型"
                }, {
                    field: "name",
                    title: "离职人"
                }, {
                    field: "account",
                    title: "离职账号"
                }, {
                    field: "salary_type",
                    title: "工资类别"
                },
                {
                    field: "leave_date",
                    title: "离职时间",
                    formatter: function (value, row, index, field) {
                        return utils.parseTDate(row.leave_date);
                    }
                },
                {
                    field: "apply_time",
                    title: "申请时间",
                    formatter: function (value, row, index, field) {
                        return utils.parseTDate(value,false);
                    }
                }, {
                    field: "audit_result",
                    title: "处理结果"
                }, {
                    showSelectTitle: true,
                    field: "check1",
                    title: "标识1",
                    checkbox: true
                }, {
                    field: "opButtons",
                    title: "操作按钮",
                    formatter: function (value, row, index) {
                        return '<button class="btn btn-sm btn-primary" style="margin-right:6px;" onclick="OpenUpdateDialog(\'' + row.sys_no +'\',\''+row.dep_name + '\')"><i class="fa fa-edit"></i> 修改部门</button>';
                    }
                }
            ],
            onClickCell: function (field, value, row, $element) {
                if (field != "check1" && field != "opButtons") {
                    if (row.sys_no) {
                        window.open("@Url.Content("~/Apply/CheckApply?sysNo=")" + row.sys_no);
                    }
                }
            },
            onCheck: function (row, $element) {
                toggleCheck1(row.sys_no);
            },
            onUncheck: function (row, $element) {
                toggleCheck1(row.sys_no);
            },
            rowStyle: function (row, index) {
                return { css: { cursor: 'pointer' } };
            }
        });

        function toggleCheck1(sysNo) {
            $.post("ToggleJMCheck1", { sysNo: sysNo }, function (data) {
                if (!data.suc) {
                    toastr.error(data.msg);
                }
            });
        }

        function OpenUpdateDialog(sysNo, depName,index) {
            console.log(sysNo + ":" + depName);
            $("#depModal").modal("show");
            $("#m_sysNo").val(sysNo);
            $("#m_depName").val(depName);
        }



    </script>

}

<div class="panel panel-success">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
            <li><a href="@Url.Content("~/Apply/ApplyIndex?billType=JM")">员工离职流程</a></li>
            <li class="active">查询报表</li>
        </ol>
    </div>
    <div class="panel-body">
        <form id="fm">
            <div class="row" style="margin-bottom:6px;">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">提交日期从：</div>
                    <div class="input-group date form_date" style="margin:6px 0;" id="fromDatePicker1">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input class="form-control" type="text" id="fromDate" name="fromDate" value="@sm.fromDate" autocomplete="off" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">提交日期到：</div>
                    <div class="input-group date form_date" style="margin:6px 0;" id="toDatePicker1">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input class="form-control" type="text" id="toDate" name="toDate" value="@sm.toDate" autocomplete="off" />
                    </div>
                </div>            
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">人事部门名称：</div>
                    <input type="text" class="form-control" name="depName" id="depName" style="margin:6px 0;" value="@sm.depName" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">离职日期从：</div>
                    <div class="input-group date form_date" style="margin:6px 0;" id="fromDatePicker2">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input class="form-control" type="text" id="qFromDate" name="qFromDate" value="@sm.qFromDate" autocomplete="off" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">离职日期到：</div>
                    <div class="input-group date form_date" style="margin:6px 0;" id="toDatePicker2">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input class="form-control" type="text" id="qToDate" name="qToDate" value="@sm.qToDate" autocomplete="off" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">流水号：</div>
                    <input type="text" class="form-control" name="sysNum" id="sysNum" style="margin:6px 0;" value="@sm.sysNum" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">员工姓名：</div>
                    <input type="text" class="form-control" name="empName" id="empName" style="margin:6px 0;" value="@sm.empName" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">员工厂牌：</div>
                    <input type="text" class="form-control" name="cardNumber" id="cardNumber" style="margin:6px 0;" value="@sm.cardNumber" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">工资编号：</div>
                    <input type="text" class="form-control" name="salaryNumber" id="salaryNumber" style="margin:6px 0;" value="@sm.salaryNumber" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4" style="margin:6px 0;">
                    <div class="lbText">离职类型：</div>
                    <select  class="form-control"  name="quitType" id="quitType">
                        <option value="">所有</option>
                        <option value="辞职">辞职</option>
                        <option value="自离">自离</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4" style="margin:6px 0;">
                    <div class="lbText">工资类型：</div>
                    <select  class="form-control"  name="salaryType" id="salaryType">
                        <option value="">所有</option>
                        <option value="计件">计件</option>
                        <option value="月薪">月薪</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="small text-danger"><i class="fa fa-info-circle"></i> 可查询到人事部门名称包含这些关键字的离职申请：@ViewData["canCheckDep"] </div>
        <div class="btn-group btn-group-justified" role="group" style="margin-bottom:20px;margin-top:4px;">
            <div class="btn-group" role="group">
                <button class="btn btn-primary" id="checkBt" data-loading-text="搜索中..."><i class="fa fa-search"></i> 搜索</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-success" id="reportBt" data-loading-text="导出中..."><i class="fa fa-file-excel-o"></i> 导出报表</button>
            </div>
        </div>

        <table id="check_tb"></table>

    </div>
</div>
@section Modal {
    @Html.Partial("_ConfirmDialog")
    <div class="modal fade" id="depModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="groupLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">修改员工部门</h4>
                </div>
                <div class="modal-body">
                    <p class="text-danger"><i class="fa fa-info-circle"></i> 如果离职员工的人事部门有误，可在以下修改为正确的部门：</p>
                    <div class="b-div">
                        <span class="b-label">
                            流水号:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" id="m_sysNo" readonly />
                        </span>
                    </div>
                    <div class="b-div">
                        <span class="b-label">
                            离职人部门:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" id="m_depName" />
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="updateDepBt"><span class="fa fa-check-circle"></span> 确认修改</button>
                </div>
            </div>
        </div>
    </div>
}