@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
    <style type="text/css">
        .lbText {
            font-style: italic;
        }
    </style>
}
@section Scripts {
    @*加入以下js，使IE8支持datetimepicker组件*@
    <script>
        if (!Array.prototype.indexOf) {
            Array.prototype.indexOf = function (elt /*, from*/) {
                var len = this.length >>> 0;

                var from = Number(arguments[1]) || 0;
                from = (from < 0)
                     ? Math.ceil(from)
                     : Math.floor(from);
                if (from < 0)
                    from += len;

                for (; from < len; from++) {
                    if (from in this &&
                        this[from] === elt)
                        return from;
                }
                return -1;
            };
        }
    </script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/extensions/mobile/bootstrap-table-mobile.min.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>
    <script>
    var currentTr;
    $(function () {
        $(".form_date").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: true,
            startView: 2,
            minView: 2
        });
        //设置日期联动，结束日期不能大于起始日期
        $("#fromDatePicker1").on("changeDate", function (e) {
            $('#toDatePicker1').datetimepicker('setStartDate', e.date);
        });
        $("#toDatePicker1").on("changeDate", function (e) {
            $('#fromDatePicker1').datetimepicker('setEndDate', e.date);
        });

        $("#checkBt").on("click", function () {
            if ($("#fromDate").val() == "") {
                toastr.error("请先输入开始日期");
                return;
            }
            if ($("#toDate").val() == "") {
                toastr.error("请先输入结束日期");
                return;
            }

            $.post("SearchTIDataForGuard", {
                fromDate: $("#fromDate").val(),
                toDate: $("#toDate").val()
            }, function (data) {
                $('#check_tb').bootstrapTable('load', data);
                if (data.length == 0) {
                    toastr.error("当前时间段查无车辆放行申请单");
                } else {
                    toastr.success("成功读取" + data.length + "行记录");
                }
            });
        });

        $("#inBt").on("click", function () {
            var rows = $('#check_tb').bootstrapTable('getSelections');
            if (rows.length == 0) {
                toastr.error("请先选择一行后再修改");
                return;
            }
            var entryId = rows[0].entry_id;
            var status = rows[0].t_status;
            if (status != "未进厂") {
                toastr.error("当前状态未【" + status + "】,不能进厂！");
                return;
            }
            changeStatus(entryId,"已进厂");
        });

        $("#outBt").on("click", function () {
            var rows = $('#check_tb').bootstrapTable('getSelections');
            if (rows.length == 0) {
                toastr.error("请先选择一行后再修改");
                return;
            }
            var entryId = rows[0].entry_id;
            var status = rows[0].t_status;
            if (status != "已进厂") {
                toastr.error("当前状态未【" + status + "】,不能出厂！");
                return;
            }
            changeStatus(entryId,"已出厂");

        });

        $("#checkBt").trigger("click");

    });

    function changeStatus(entryId,st) {                
        $.post("ChangeTIStatus", { entryId: entryId, status: st }, function (data) {
            if (data.suc) {
                $("#checkBt").trigger("click");
                toastr.success("操作成功，当前状态是：" + st);
            } else {
                toastr.error("操作失败：" + data.msg);
            }
        });
    }

        $("#check_tb").bootstrapTable({
            striped: true,
            mobileResponsive: true,
            pagination: true,
            pageSize: 40,
            pageList: [20, 40, 60, 100],
            search: true,
            clickToSelect: true,
            columns: [
                {
                    radio: true
                },
                {
                    field: "sys_no",
                    title: "流水号"
                }, {
                    field: "ex_company",
                    title: "货运公司"
                }, {
                    field: "in_day",
                    title: "进厂日期",
                    formatter: function (value, row, index, field) {
                        return utils.parseTDate(row.in_day);
                    }
                }, {
                    field: "in_timespan",
                    title: "进厂时间"
                }, {
                    field: "driver_name",
                    title: "司机姓名"
                }, {
                    field: "driver_no",
                    title: "身份证号"
                },
                {
                    field: "car_type",
                    title: "车辆类型"
                }, {
                    field: "car_no",
                    title: "车牌号码"
                }, {
                    field: "t_status",
                    title: "状态",
                    cellStyle: function (value, row, index) {
                        var textColor = "#333";
                        if (value == "已进厂") {
                            textColor = "#5cb85c";
                        } else if (value == "已出厂") {
                            textColor = "#d9534f";                            
                        }
                        return { css: { color: textColor } };
                    }
                }
                //{
                //    field: "in_time",
                //    title: "进厂时间",
                //    formatter: function (value, row, index, field) {
                //        return utils.parseTDate(value,true);
                //    }
                //},
                //{
                //    field: "out_time",
                //    title: "出厂时间",
                //    formatter: function (value, row, index, field) {
                //        return utils.parseTDate(value, true);
                //    }
                //}
            ],
            rowStyle: function (row, index) {
                return { css: { cursor: 'pointer' } };
            }
        });
                

    </script>

}

<div class="panel panel-success">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
            <li><a href="@Url.Content("~/Apply/ApplyIndex?billType=TI")">物流车辆放行</a></li>
            <li class="active">门卫放行</li>
        </ol>
    </div>
    <div class="panel-body">
        <div class="row" style="margin-bottom:6px;">
            <div class="col-xs-12 col-sm-6">
                <div class="lbText">进厂日期从：</div>
                <div class="input-group date form_date" style="margin:6px 0;" id="fromDatePicker1">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input class="form-control" type="text" id="fromDate" name="fromDate" readonly value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="lbText">进厂日期到：</div>
                <div class="input-group date form_date" style="margin:6px 0;" id="toDatePicker1">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input class="form-control" type="text" id="toDate" name="toDate" readonly value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
            </div>
            
        </div>
        <div>
            <button class="btn btn-block btn-primary" id="checkBt" data-loading-text="搜索中..."><i class="fa fa-search"></i> 搜索</button>
        </div>

        <div class="panel panel-default" style="margin-top:20px;">
            <div class="panel-body">
                <button class="btn btn-lg btn-success" id="inBt" style="padding:8px 24px;margin-right:24px;"><i class="fa fa-sign-in"></i> 进厂</button>
                <button class="btn btn-lg btn-danger" id="outBt" style="padding:8px 24px;"><i class="fa fa-sign-out"></i> 出厂</button>
            </div>

            <table id="check_tb" style="font-size:16px;"></table>
        </div>
    </div>
</div>

