@using EmpInfo.Models;
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
    <style type="text/css">
        .lbText {
            font-style: italic;
        }
    </style>
}
@section Scripts {
    @*加入以下js，使IE8支持datetimepicker组件*@
    <script>
        if (!Array.prototype.indexOf) {
            Array.prototype.indexOf = function (elt /*, from*/) {
                var len = this.length >>> 0;

                var from = Number(arguments[1]) || 0;
                from = (from < 0)
                     ? Math.ceil(from)
                     : Math.floor(from);
                if (from < 0)
                    from += len;

                for (; from < len; from++) {
                    if (from in this &&
                        this[from] === elt)
                        return from;
                }
                return -1;
            };
        }
    </script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>
    <script>
    $(function () {
        $(".form_date").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: true,
            startView: 2,
            minView: 2
        });

        $("#reportBt").on("click", function () {
            var obj = utils.getFormObj($("#fm"));
            if (obj.fromDate == "" || obj.toDate == "") {
                toastr.error("日期期间必须填写才能查询");
                return;
            }
            toastr.info("数据正在导出，请稍等...");
            window.open("../Report/ExportXCExcel?obj=" + utils.StringifyAndParseCharacter(obj));
        });

        $("#checkBt").on("click", function () {
            var obj = utils.getFormObj($("#fm"));
            if (obj.fromDate == "" || obj.toDate == "") {
                toastr.error("日期期间必须填写才能查询");
                return;
            }

            $.post("@Url.Content("~/Report/SearchXCReport")", {
                obj: JSON.stringify(obj)
            }, function (data) {
                $('#check_tb').bootstrapTable('load', data);
                if (data.length == 0) {
                    toastr.error("当前时间段查无申请");
                }
            });
        });

    });

        $("#check_tb").bootstrapTable({
            striped: true,
            pagination: true,
            pageSize: 40,
            pageList: [20, 40, 60, 100],
            search: true,
            columns: [
                {
                    field: "sysNo",
                    title: "流水号"
                }, {
                    field: "applierName",
                    title: "申请人"
                },
                {
                    field: "applyTime",
                    title: "申请时间",
                    formatter: function (value, row, index, field) {
                        return utils.parseTDate(row.applyTime);
                    }
                }, {
                    field: "depName",
                    title: "部门"
                }, {
                    field: "productModel",
                    title: "委外型号"
                }, {
                    field: "qty",
                    title: "委外数量"
                }, {
                    field: "auditStatus",
                    title: "处理结果",
                    cellStyle: function (value, row, index, field) {
                        if (value == "已通过") {
                            return { css: { color: 'green' } };
                        }
                        else if (value == "已拒绝" || value == "撤销") {
                            return { css: { color: 'red' } };
                        }
                        else {
                            return { css: { color: '#333' } };
                        }
                    }
                }
            ],
            onClickCell: function (field, value, row, $element) {
                if (row.sysNo) {
                    window.open("@Url.Content("~/Apply/CheckApply?sysNo=")" + row.sysNo);
                }
            },
            rowStyle: function (row, index) {
                return { css: { cursor: 'pointer' } };
            }
        });





    </script>

}

<div class="panel panel-success">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
            <li><a href="@Url.Content("~/Apply/ApplyIndex?billType=XC")">委外加工流程</a></li>
            <li class="active">查询报表</li>
        </ol>
    </div>
    <div class="panel-body">
        <form id="fm">
            <div class="row" style="margin-bottom:6px;">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">提交日期从：</div>
                    <div class="input-group date form_date" style="margin:6px 0;" id="fromDatePicker1">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input class="form-control" type="text" name="fromDate" autocomplete="off" value="@DateTime.Now.AddDays(-3).ToString("yyyy-MM-dd")" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">提交日期到：</div>
                    <div class="input-group date form_date" style="margin:6px 0;" id="toDatePicker1">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        <input class="form-control" type="text" name="toDate" autocomplete="off" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">申请人：</div>
                    <input type="text" class="form-control" name="applierName" style="margin:6px 0;" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">流水号：</div>
                    <input type="text" class="form-control" name="sysNo" style="margin:6px 0;" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">部门：</div>
                    <input type="text" class="form-control" name="depName" style="margin:6px 0;" />
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lbText">委外型号：</div>
                    <input type="text" class="form-control" name="productModel" style="margin:6px 0;" />
                </div>
            </div>
        </form>
        <div class="btn-group btn-group-justified" role="group" style="margin-bottom:20px;margin-top:4px;">
            <div class="btn-group" role="group">
                <button class="btn btn-primary" id="checkBt" data-loading-text="搜索中..."><i class="fa fa-search"></i> 搜索</button>
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-success" id="reportBt" data-loading-text="导出中..."><i class="fa fa-file-excel-o"></i> 导出报表</button>
            </div>
        </div>

        <table id="check_tb"></table>

    </div>
</div>
