@using EmpInfo.Models;
@{    
    List<ApplyMenuItemModel> menuItems = ViewData["menuItems"] as List<ApplyMenuItemModel>;
}

@section Scripts{
    <script>
    $(function () {        
        $(".screen_900").on("click", function (e) {
            e.preventDefault();
            var w = $(document).width();                
            if (w > 900) {
                window.location.href = $(this).attr("href");
            } else {
                toastr.error("此功能必须在大屏幕显示器操作");
            }
        });
    });
    </script>
}

<div class="panel panel-success">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            @foreach (var n in (ViewData["navigatorLinks"] as List<ApplyNavigatorModel>)){
                <li><a href="@string.Concat(Url.Content("~/"),n.url)">@n.text</a></li>
            }            
            <li class="active">@ViewData["billName"]</li>
        </ol>
    </div>
    <div class="panel-body">
        <i> 点击以下列表选择相应的服务:</i>
    </div>
    <div class="list-group">
        @foreach (var m in menuItems) {
            <a href="@m.url" class="list-group-item @m.linkClass"><span class="@m.colorClass"><i class="fa fa-fw @m.iconFont"></i> @m.text</span></a>
        }        
    </div>
</div>
