@using EmpInfo.Models;
@using Newtonsoft.Json;
@{
    BeginAuditModel bam = ViewData["bam"] as BeginAuditModel;
    DPCheckApplyModel cam = (DPCheckApplyModel)bam.otherInfo;
    List<EmpInfo.FlowSvr.FlowRecordModels> records = cam.records;
    ei_dormRepair form = cam.bill;
    var totalCost = cam.items.Count() == 0 ? 0 : cam.items.Where(i=>!i.is_public_fee).Sum(i => i.price * i.qty);
    var itemsJson = JsonConvert.SerializeObject(cam.items);
    
}

@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/star-rating.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/webupload/webuploader.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
    <style type="text/css">
        .b-div {
            margin: 10px;
        }

        .b-label {
            display: inline-block;
            width: 90px;
            vertical-align: top;
        }

        .row div {
            margin-top: 6px;
        }


        .badge {
            background-color: #3399CC;
        }
    </style>
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>
    <script src="@Url.Content("~/Scripts/star-rating.min.js")"></script>
    <script src="@Url.Content("~/Scripts/webuploader.min.js")"></script>
    <script src="@Url.Content("~/Scripts/myUploaderPro.js?v=2")"></script>
    <script src="@Url.Content("~/Scripts/myDownloaderPro.js")"></script>
    <script src="@Url.Content("~/Scripts/myInputDialog.js")"></script>
    <script>
    $("#tb").bootstrapTable({
        striped: true,
        pagination: false,
        data:@Html.Raw(itemsJson),
            clickToSelect: true,
            idField: "id",
            uniqueId: "id",
            columns: [
                {
                    radio: true
                },
                {
                    field: "item_name",
                    title: "配件名称"
                }, {
                    field: "qty",
                    title: "使用数量"
                }, {
                    field: "price",
                    title: "单价",
                    formatter: function (value, row, index, field) {
                        if(row.is_public_fee){
                            return value+"(公费)";
                        }else{
                            return value;
                        }
                    }
                }
            ]
        });

        $("#tb2").bootstrapTable({
            striped: true,
            pagination: false,
            clickToSelect: true,
            height:300,
            idField: "id",
            uniqueId: "id",
            columns: [
                {
                    radio: true
                },
                {
                    field:"is_public_fee",
                    visible:false
                },
                {
                    field: "item_name",
                    title: "配件名称"
                }, {
                    field: "inventory",
                    title: "库存数量"
                }, {
                    field: "price",
                    title: "单价"
                }
            ]
        });

        $(function(){

            $("#addBt").on("click",function(){
                $("#itemModal").modal("show");
            });

            $("#searchBt").on("click",function(){
                $.post("../ApplyExtra/SearchDPRepairItem",{itemName:$.trim($("#searchText").val())},function(data){
                    if(!data.suc){
                        toastr.error(data.msg);
                        return;
                    }
                    $("#tb2").bootstrapTable("load",JSON.parse(data.extra));
                });
            });

            $("#saveBt").on("click",function(){
                var rows = $('#tb2').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行后再保存");
                    return;
                }
                var row=rows[0];
                if(parseInt(row.inventory)<=0){
                    toastr.error("库存数量不足，不能选择");
                    return;
                }
                
                row.sys_no="@form.sys_no";
                $.post("../ApplyExtra/SaveDPRepairItem",{obj:JSON.stringify(row)},function(data){
                    if(!data.suc){
                        toastr.error(data.msg);
                        return;
                    }
                    $("#tb").bootstrapTable('append', JSON.parse(data.extra));
                    $("#itemModal").modal("hide");
                    updateTotalCost();
                });

            });

            $("#editBt").on("click",function(){
                var rows = $('#tb').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行后再修改");
                    return;
                }
                var row=rows[0];

                $.inputDialog({
                    title: "修改数量",
                    controls: [{ text: "数量", name: "qty", defaultValue: row.qty, placeholder: "请录入数量" }],
                    callback: function (result) {
                        var v = result.qty;
                        if(!utils.testIsInt(v)){
                            toastr.error("数量请输入整数");
                            return false;
                        }
                        updateItemQty(row.id,v);
                        return true;
                    }
                });

            });

            $("#removeBt").on("click",function(){
                var rows = $('#tb').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行后再删除");
                    return;
                }
                var row=rows[0];
                openConfirmDialog("确认要删除此配件吗?", function () {
                    $.post("../ApplyExtra/RemoveDPRepairItem",{id:row.id},function(data){
                        if(!data.suc){
                            toastr.error(data.msg);
                            return;
                        }
                        $("#tb").bootstrapTable('removeByUniqueId',row.id);
                        updateTotalCost();
                    });
                });
            });

            $("#isPublicBt").on("click",function(){
                var rows = $('#tb').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行后再删除");
                    return;
                }
                var row=rows[0];
                openConfirmDialog("确认要切换是否公费吗?", function () {
                    $.post("../ApplyExtra/UpdateDPRepairItemPublicFee",{id:row.id},function(data){
                        if(!data.suc){
                            toastr.error(data.msg);
                            return;
                        }
                        var isPublicFee=data.extra=="1"?true:false;
                        $("#tb").bootstrapTable('updateByUniqueId',{
                            id:row.id,
                            row:{is_public_fee:isPublicFee}
                        });
                        updateTotalCost();
                    });
                });
            });

        });

        function updateTotalCost(){
            var rows=$("#tb").bootstrapTable("getData");
            var total=0;
            console.log(rows);
            for(var i=0;i<rows.length;i++){
                if(!rows[i].is_public_fee){
                    total+=rows[i].price * rows[i].qty;
                }
            }
            $("#repairFee").val(total);
        }

        function updateItemQty(id,qty){
            $.post("../ApplyExtra/UpdateDPRepairItemQty",{id:id,qty:qty},function(data){
                if(!data.suc){
                    toastr.error(data.msg);
                    return;
                }
                $("#tb").bootstrapTable('updateByUniqueId',{
                    id:id,
                    row:{qty:qty}
                });
                updateTotalCost();
            });
        }        

    </script>
    <script>
    $(function () {
        $("#accepterTimePicker").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd hh:ii",
            autoclose: true,
            maxView: 2,
            minuteStep: 10,
            startDate: new Date("@DateTime.Now.ToString("yyyy-MM-dd HH:mm")"),
            endDate: new Date("@DateTime.Now.AddDays(14).ToString("yyyy-MM-dd 20:00")")
        });
        $("#repairFinishPicker").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd hh:ii",
            autoclose: true,
            maxView: 2,
            minuteStep: 10,
            startDate: new Date("@DateTime.Now.AddDays(-14).ToString("yyyy-MM-dd HH:mm")"),
            endDate: new Date("@DateTime.Now.ToString("yyyy-MM-dd HH:mm")")
        });
        $("#rateScore").rating({
            clearCaption: '未评分',
            starCaptions: {
                1: '1分(非常不满意)',
                2: '2分(不满意)',
                3: '3分(一般)',
                4: '4分(满意)',
                5: '5分(非常满意)'
            }
        });

        $("#myUploader").myUploader({
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
            sysNum: "@form.sys_no",
            fileNumLimit: 3,
            prefix: "2^" 
        });

        $("#attList1").myDownloader({ sysNum: "@form.sys_no", prefix: "1^" });
        if ($("#attList2")) {
            $("#attList2").myDownloader({ sysNum: "@form.sys_no", prefix: "2^" });
        }
    });
    function secondAudit(isPass) {
        openConfirmDialog("确认要 " + (isPass ? "同意" : "不同意") + " 此维修申请吗？", function () {
            $.post("HandleApply",
                {
                    sysNo: "@form.sys_no",
                    step: "@bam.step",
                    stepName: "@bam.stepName",
                    isPass: isPass
                }, function (data) {
                    if (data.suc) {
                        toastr.success(data.msg + ",请等待页面跳转...");
                    } else {
                        toastr.error(data.msg);
                    }
                    setTimeout(function () { window.location.href = "CheckApply?sysNo=" + "@bam.sysNum" }, 1000);
                });
        });
    }
    function thirdAudit(isPass) {
        openConfirmDialog("确认要 " + (isPass ? "通过" : "拒绝") + " 此维修申请吗？", function () {
            if (isPass) {
                if ($("#confirmTime").val() == "") {
                    toastr.error("请选择确认维修时间");
                    return;
                }
                if ($("#accepter").val() == "") {
                    toastr.error("请填写联系人");
                    return;
                }
                if ($("#repairComment").val() == "" && $("#accepterShortPhone").val() == "") {
                    toastr.error("手机号码和手机短号必须至少填写一项");
                    return;
                }
            } else {
                if ($.trim($("#repairComment").val()) == "") {
                    toastr.error("拒绝此申请必须在维修意见文本框写明原因");
                    return;
                }
            }

            $.post("HandleApply",
                {
                    sysNo: "@form.sys_no",
                    step: "@bam.step",
                    stepName: "@bam.stepName",
                    isPass: isPass,
                    accepterComment: $("#repairComment").val(),
                    accepter: $("#accepter").val(),
                    //accepterPhone: $("#accepterPhone").val(),
                    //accepterShortPhone: $("#accepterShortPhone").val(),
                    confirmTime: $("#confirmTime").val()
                },
                function (data) {
                    if (data.suc) {
                        toastr.success(data.msg + ",请等待页面跳转...");
                    } else {
                        toastr.error(data.msg);
                    }
                    setTimeout(function () { window.location.href = "BeginAuditApply?sysNo=" + "@bam.sysNum" + "&step=" + "@(bam.step+1)"; }, 1000);
                });
        });
    }
    function fourthAudit(isPass) {
        openConfirmDialog("要 " + (isPass ? "确认完成" : "拒绝") + " 此维修申请吗？", function () {
            var repairFee = $("#repairFee").val();
            if (isPass) {
                if ($("#repairFinishTime").val() == "") {
                    toastr.error("请选择完成维修时间");
                    return;
                }
                if ($("#repairSubject").val() == "") {
                    toastr.error("请维修项目内容");
                    return;
                }
                if (isNaN(repairFee)) {
                    toastr.error("维修费用必须是数字");
                    return;
                }
            } else {
                return;
            }

            $.post("HandleApply",
            {
                sysNo: "@form.sys_no",
                step: "@bam.step",
                stepName: "@bam.stepName",
                isPass: isPass,
                repairSubject: $("#repairSubject").val(),
                repairFinishTime: $("#repairFinishTime").val(),
                repairFee: new Number(repairFee).toFixed(1)
            },
            function (data) {
                if (data.suc) {
                    toastr.success(data.msg + ",请等待页面跳转...");
                    setTimeout(function () { window.location.href = "CheckApply?sysNo=" + "@bam.sysNum"; }, 1000);
                } else {
                    toastr.error(data.msg);
                }
            });
        });
    }
    function fifthAudit(isPass) {
        openConfirmDialog("要 " + (isPass ? "确认评价" : "拒绝") + " 此维修申请吗？", function () {
            var rateScore = $("#rateScore").val();
            if (isPass) {
                if (rateScore == "") {
                    toastr.error("请点击星星对服务进行评分");
                    return;
                }
                if (isNaN(rateScore)) {
                    toastr.error("评分必须是正整数");
                    return;
                }
                if (rateScore < 1) {
                    toastr.error("评分至少必须打一星");
                    return;
                }
                if (rateScore <= 2 && $("#rateOpinion").val() == "") {
                    toastr.error("少于二星的评分必须填写评价意见");
                    return;
                }
            } else {
                return;
            }

            $.post("HandleApply",
                {
                    sysNo: "@form.sys_no",
                    step: "@bam.step",
                    stepName: "@bam.stepName",
                    isPass: isPass,
                    rateScore: rateScore,
                    rateOpinion: $("#rateOpinion").val()
                },
                function (data) {
                    if (data.suc) {
                        toastr.success(data.msg + ",请等待页面跳转...");
                    } else {
                        toastr.error(data.msg);
                    }
                    setTimeout(function () { window.location.href = "CheckApply?sysNo=" + "@bam.sysNum"; }, 1000);
                });
        });
    }
</script>
}

<div class="panel panel-success">
    @if (!form.is_outside) { 
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/DormGroupIndex")">后勤事务</a></li>
            <li><a href="ApplyIndex?billType=DP">宿舍维修申请单</a></li>
            <li class="active">处理维修单</li>
        </ol>
    </div>
    }
    <div class="panel-body">
        @*申请环节*@
        <div class="panel panel-success" id="firstStepDiv">
            <div class="panel-heading">
                <span class="fa-stack">
                    <i class="fa fa-stack-2x fa-circle"></i>
                    <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                <span style="font-size:16px;"> 提交维修申请单</span>
            </div>
            <div class="panel-body">
                <div class="well well-sm text-success">
                    <i class="fa fa-clock-o"></i>
                    @(records.Where(r => r.stepName.Contains("提交")).First().auditors)
                    于
                    @(records.Where(r => r.stepName.Contains("提交")).First().auditTimes)
                    提交成功
                </div>
                @if (records.Where(r => r.stepName.Contains("撤销")).Count() > 0) {
                    <div class="well well-sm text-danger">
                        <i class="fa fa-reply"></i> 
                        @(records.Where(r => r.stepName.Contains("撤销")).First().auditors)
                        于
                        @(records.Where(r => r.stepName.Contains("撤销")).First().auditTimes)
                        撤销/中止此维修单流程
                    </div>
                }
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-sm-6">
                        <span class="b-label">
                            区号:
                        </span>
                        <span>@form.area_name</span>
                    </div>
                    <div class="col-xs-12 col-md-4 col-sm-6">
                        <span class="b-label">
                            宿舍号:
                        </span>
                        <span>@form.dorm_num</span>
                    </div>
                    <div class="col-xs-12 col-md-4 col-sm-6">
                        <span class="b-label">
                            维修类型:
                        </span>
                        <span>
                            @form.repair_type
                        </span>
                    </div>
                    @if (form.repair_time != null) {
                        <div class="col-xs-12 col-md-4 col-sm-6">
                            <span class="b-label">
                                维修时间:
                            </span>
                            <span>
                                @(((DateTime)form.repair_time).ToString("yyyy-MM-dd HH:mm"))
                            </span>
                        </div>
                    }
                    <div class="col-xs-12 col-md-4 col-sm-6">
                        <span class="b-label">
                            费用承担:
                        </span>
                        <span>
                            @form.fee_share_type
                        </span>
                    </div>
                    @if (form.fee_share_type.Equals("舍友分摊")) {
                        <div class="col-xs-12 col-md-4 col-sm-6">
                            <span class="b-label">
                                分摊舍友:
                            </span>
                            <span>
                                @form.fee_share_peple
                            </span>
                        </div>
                    }
                    <div class="col-xs-12 col-md-4 col-sm-6">
                        <span class="b-label">
                            联系人:
                        </span>
                        <span>
                            @form.contact_name
                        </span>
                    </div>
                    <div class="col-xs-12 col-md-4 col-sm-6">
                        <span class="b-label">
                            手机号码:
                        </span>
                        <span>
                            @form.contact_phone
                        </span>
                    </div>
                    <div class="col-xs-12 col-md-4 col-sm-6">
                        <span class="b-label">
                            手机短号:
                        </span>
                        <span>
                            @form.contact_short_phone
                        </span>
                    </div>
                    <div class="col-xs-12">
                        <span class="b-label">维修内容:</span>
                        <span>@form.repair_content</span>
                    </div>
                </div>
                <div style="margin-top:6px;">
                    <div class="b-label">故障图片:</div>
                    <div id="attList1"></div>
                </div>
            </div>

        </div>

        @*舍友会签环节*@
        @if (records.Where(r => r.stepName.Contains("舍友")).Count() > 0) {
            var secondRecords = records.Where(r => r.stepName.Contains("舍友"));
            bool? secondIsPass = null;
            if (secondRecords.Where(r => r.auditResult == "失败").Count() > 0) {
                secondIsPass = false;
            }
            else if (secondRecords.Where(r => r.auditResult == "审核中").Count() == 0) {
                secondIsPass = true;
            }
            <div class="panel @(secondIsPass == true ? "panel-success" : secondIsPass == false ? "panel-danger" : "panel-info") ">
                <div class="panel-heading">
                    <span class="fa-stack">
                        <i class="fa fa-stack-2x fa-circle"></i>
                        <i class="fa fa-stack-1x fa-inverse @(secondIsPass == true ? "fa-check" : secondIsPass == false ? "fa-close" : "fa-question ")"></i>
                    </span>
                    <span style="font-size:16px;"> 舍友确认</span>
                </div>
                <div class="panel-body">
                    @foreach (var suc in secondRecords.Where(r => r.auditResult == "成功")) {
                        <div class="well well-sm text-success">
                           <i class="fa fa-clock-o"></i> @suc.auditors 于 @suc.auditTimes 确认同意维修申请
                        </div>
                    }
                    @foreach (var suc in secondRecords.Where(r => r.auditResult == "失败")) {
                        <div class="well well-sm text-danger">
                           <i class="fa fa-clock-o"></i> @suc.auditors 于 @suc.auditTimes 确认不同意维修申请，流程结束
                        </div>
                    }
                    @foreach (var suc in secondRecords.Where(r => r.auditResult == "审核中")) {
                        <div class="well well-sm text-info">
                           <i class="fa fa-clock-o"></i> 等待 @suc.auditors 确认处理
                        </div>
                    }
                    @if (bam.isPass == null && bam.stepName.Contains("舍友")) {
                        <i>请点击以下按钮确认是否同意此维修申请:</i>
                        <div class="btn-group btn-group-justified" role="group" aria-label="操作按钮" style="margin:12px 0;">
                            <div class="btn-group" role="group">
                                <button class="btn btn-success" onclick="secondAudit(true)">
                                    <i class="fa fa-check"></i>
                                    同意
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button class="btn btn-danger" onclick="secondAudit(false)">
                                    <span class="fa fa-close"></span>
                                    不同意
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @*维修接单环节*@
        @if (records.Where(r => r.stepName.Contains("接单")).Count() > 0) {
            var thirdRecords = records.Where(r => r.stepName.Contains("接单"));
            bool? thirdIsPass = null;
            if (thirdRecords.Where(r => r.auditResult == "失败").Count() > 0) {
                thirdIsPass = false;
            }
            else if (thirdRecords.Where(r => r.auditResult == "审核中").Count() == 0) {
                thirdIsPass = true;
            }
            <div class="panel @(thirdIsPass == true ? "panel-success" : thirdIsPass == false ? "panel-danger" : "panel-info") ">
                <div class="panel-heading">
                    <span class="fa-stack">
                        <i class="fa fa-stack-2x fa-circle"></i>
                        <i class="fa fa-stack-1x fa-inverse @(thirdIsPass == true ? "fa-check" : thirdIsPass == false ? "fa-close" : "fa-question ")"></i>
                    </span>
                    <span style="font-size:16px;"> 后勤受理接单</span>
                </div>
                <div class="panel-body">
                    @foreach (var suc in thirdRecords.Where(r => r.auditResult == "成功")) {
                        <div class="well well-sm text-success">
                           <i class="fa fa-clock-o"></i> @suc.auditors 于 @suc.auditTimes 确认受理此维修申请
                        </div>
                    }
                    @foreach (var suc in thirdRecords.Where(r => r.auditResult == "失败")) {
                        <div class="well well-sm text-danger">
                           <i class="fa fa-clock-o"></i> @suc.auditors 于 @suc.auditTimes 确认不受理此维修申请，流程结束
                        </div>
                    }
                    @foreach (var suc in thirdRecords.Where(r => r.auditResult == "审核中")) {
                        <div class="well well-sm text-info">
                           <i class="fa fa-clock-o"></i> 等待 @suc.auditors 确认受理
                        </div>
                    }
                    @if (thirdIsPass == true) {
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-sm-6">
                                <span class="b-label">
                                    确认维修时间:
                                </span>
                                <span>@(form.confirm_repair_time == null ? "" : ((DateTime)form.confirm_repair_time).ToString("yyyy-MM-dd HH:mm"))</span>
                            </div>
                            <div class="col-xs-12 col-md-4 col-sm-6">
                                <span class="b-label">
                                    维修联系人:
                                </span>
                                <span>@form.accepter_name</span>
                            </div>
                            <div class="col-xs-12 col-md-8 col-sm-12">
                                <span class="b-label">
                                    维修意见:
                                </span>
                                <span>@form.accept_comment</span>
                            </div>
                        </div>
                    }

                    @if (bam.isPass == null && bam.stepName.Contains("接单")) {
                        <i>请填写以下信息并确认是否同意受理此维修申请:</i>

                        <div class="b-div">
                            <span class="b-label">
                                维修意见
                            </span>
                            <span style="display:inline-block;width:70%;">
                                <input type="text" class="form-control" id="repairComment" />
                            </span>
                        </div>
                        <div class="b-div">
                            <span class="b-label">确认维修时间</span>
                            <span style="display:inline;width:70%;vertical-align:top;">
                                <span class="input-group date" style="display:inline-table;width:70%;" id="accepterTimePicker">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                                    <input class="form-control" type="text" readonly id="confirmTime" value="@(DateTime.Now.AddHours(1).ToString("yyyy-MM-dd HH:mm"))">
                                </span>
                            </span>
                        </div>
                        <div class="b-div">
                            <span class="b-label">维修联系人</span>
                            <span style="display:inline-block;width:70%;">
                                <input type="text" class="form-control" id="accepter" value="@bam.auditorName" />
                            </span>
                        </div>
                        <div class="btn-group btn-group-justified" role="group" aria-label="操作按钮" style="margin:12px 0;">
                            <div class="btn-group" role="group">
                                <button class="btn btn-success" onclick="thirdAudit(true)">
                                    <i class="fa fa-check"></i>
                                    同意
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button class="btn btn-danger" onclick="thirdAudit(false)">
                                    <span class="fa fa-close"></span>
                                    不同意
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        @*维修完成环节*@
        @if (records.Where(r => r.stepName.Contains("完成")).Count() > 0) {
            var forthRecords = records.Where(r => r.stepName.Contains("完成"));
            bool? forthIsPass = null;
            if (forthRecords.Where(r => r.auditResult == "失败").Count() > 0) {
                forthIsPass = false;
            }
            else if (forthRecords.Where(r => r.auditResult == "审核中").Count() == 0) {
                forthIsPass = true;
            }
            <div class="panel @(forthIsPass == true ? "panel-success" : forthIsPass == false ? "panel-danger" : "panel-info") ">
                <div class="panel-heading">
                    <span class="fa-stack">
                        <i class="fa fa-stack-2x fa-circle"></i>
                        <i class="fa fa-stack-1x fa-inverse @(forthIsPass == true ? "fa-check" : forthIsPass == false ? "fa-close" : "fa-question ")"></i>
                    </span>
                    <span style="font-size:16px;"> 后勤维修完成</span>
                </div>
                <div class="panel-body">
                    @foreach (var suc in forthRecords.Where(r => r.auditResult == "成功")) {
                        <div class="well well-sm text-success">
                           <i class="fa fa-clock-o"></i> @suc.auditors 于 @suc.auditTimes 确认完成此维修申请
                        </div>
                    }
                    @foreach (var suc in forthRecords.Where(r => r.auditResult == "失败")) {
                        <div class="well well-sm text-danger">
                           <i class="fa fa-clock-o"></i> @suc.auditors 于 @suc.auditTimes 确认拒绝此维修申请，流程结束
                        </div>
                    }
                    @foreach (var suc in forthRecords.Where(r => r.auditResult == "审核中")) {
                        <div class="well well-sm text-info">
                           <i class="fa fa-clock-o"></i> 等待 @suc.auditors 确认处理
                        </div>
                    }
                    @if (forthIsPass == true) {
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-sm-6">
                                <span class="b-label">
                                    维修项目:
                                </span>
                                <span>@form.repaire_subject</span>
                            </div>
                            <div class="col-xs-12 col-md-4 col-sm-6">
                                <span class="b-label">
                                    维修完成时间:
                                </span>
                                <span>@(form.finish_repair_time == null ? "" : ((DateTime)form.finish_repair_time).ToString("yyyy-MM-dd HH:mm"))</span>
                            </div>
                            <div class="col-xs-12 col-md-4 col-sm-6">
                                <span class="b-label">
                                    维修费用:
                                </span>
                                <span>@form.charge_fee 元</span>
                            </div>
                        </div>
                        <div>使用配件清单：</div>
                        <div><table id="tb"></table></div>
                        <div style="margin-top:6px;">
                            <div class="b-label">修复图片:</div>
                            <div id="attList2"></div>
                        </div>
                    }
                    @if (bam.isPass == null && bam.stepName.Contains("完成")) {
                        <i>请填写以下信息并确认完成此维修申请:</i>
                        <div class="b-div">
                            <span class="b-label">
                                维修项目内容
                            </span>
                            <span style="display:inline-block;width:70%;">
                                <input type="text" class="form-control" id="repairSubject" />
                            </span>
                        </div>
                        <div class="b-div">
                            <span class="b-label">维修完成时间</span>
                            <span style="display:inline;width:70%;vertical-align:top;">
                                <span class="input-group date" style="display:inline-table;width:70%;" id="repairFinishPicker">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                                    <input class="form-control" type="text" readonly id="repairFinishTime" value="@(DateTime.Now.ToString("yyyy-MM-dd HH:mm"))">
                                </span>
                            </span>
                        </div>
                        <div class="b-div">
                            <span class="b-label">
                                使用配件清单:
                            </span>
                            <div class="b-input">
                                <button class="btn btn-success btn-sm" type="button" id="addBt"> <i class="fa fa-plus"></i> 新增配件</button>
                                <button class="btn btn-primary btn-sm" type="button" id="editBt"> <i class="fa fa-edit"></i> 修改数量 </button>
                                <button class="btn btn-danger btn-sm" type="button" id="removeBt"> <i class="fa fa-remove"></i> 删除配件 </button>
                                <button class="btn btn-info btn-sm" type="button" id="isPublicBt"> <i class="fa fa-toggle-on"></i> 公费切换 </button>
                            </div>
                        </div>
                        <div>
                            <table id="tb"></table>
                        </div>
                        <div class="b-div">
                            <span class="b-label">维修费用</span>
                            <span style="display:inline-block;width:70%;">
                                <span class="input-group" style="display:inline-table;">
                                    <input type="number" step="0.1" min="0" class="form-control" id="repairFee" value="@totalCost" readonly />
                                    <span class="input-group-addon">元</span>
                                </span>
                            </span>
                            <p class="small text-danger"><i class="fa fa-info-circle"></i> 费用直接从所选的配件清单中计算，如果没有配件消耗，费用是0</p>
                        </div>
                        <div style="display:inline-block;">
                            <div id="picker"> <i class="fa fa-upload"></i> 上传修复图片 </div>
                        </div>
                        <div id="myUploader">
                            
                        </div>
                        <div class="b-div">
                            <button class="btn btn-primary btn-block" onclick="fourthAudit(true)">确认完成</button>
                        </div>
                    }
                </div>
            </div>
        }

        @*服务评价环节*@
        @if (records.Where(r => r.stepName.Contains("评价")).Count() > 0) {
            var fifthRecords = records.Where(r => r.stepName.Contains("评价"));
            bool? fifthIsPass = null;
            if (fifthRecords.Where(r => r.auditResult == "失败").Count() > 0) {
                fifthIsPass = false;
            }
            else if (fifthRecords.Where(r => r.auditResult == "审核中").Count() == 0) {
                fifthIsPass = true;
            }
            <div class="panel @(fifthIsPass == true ? "panel-success" : fifthIsPass == false ? "panel-danger" : "panel-info") ">
                <div class="panel-heading">
                    <span class="fa-stack">
                        <i class="fa fa-stack-2x fa-circle"></i>
                        <i class="fa fa-stack-1x fa-inverse @(fifthIsPass == true ? "fa-check" : fifthIsPass == false ? "fa-close" : "fa-question ")"></i>
                    </span>
                    <span style="font-size:16px;"> 对此次服务确认评价</span>
                </div>
                <div class="panel-body">
                    @foreach (var suc in fifthRecords.Where(r => r.auditResult == "成功")) {
                        <div class="well well-sm text-success">
                           <i class="fa fa-clock-o"></i> @suc.auditors 于 @suc.auditTimes 确认并评价了此维修申请，流程成功结束
                        </div>
                    }
                    @foreach (var suc in fifthRecords.Where(r => r.auditResult == "失败")) {
                        <div class="well well-sm text-danger">
                           <i class="fa fa-clock-o"></i> @suc.auditors 于 @suc.auditTimes 拒绝评价此维修申请，流程结束
                        </div>
                    }
                    @foreach (var suc in fifthRecords.Where(r => r.auditResult == "审核中")) {
                        <div class="well well-sm text-info">
                           <i class="fa fa-clock-o"></i> 等待 @suc.auditors 对此服务进行评价
                        </div>
                    }
                    @if (fifthIsPass == true) {
                        <div class="row">
                            <div class="col-xs-12 col-md-4 col-sm-6">
                                <span class="b-label">
                                    服务打分:
                                </span>
                                <span style="color:#fde16d;font-size:16px;">
                                    @for (var i = 0; i < form.applier_evaluation_score; i++) {
                                        <i class="fa fa-star"></i>
                                    }
                                    @for (var i = 0; i < 5 - form.applier_evaluation_score; i++) {
                                        <i class="fa fa-star-o"></i>
                                    }

                                </span>
                            </div>
                            <div class="col-xs-12 col-md-8 col-sm-6">
                                <span class="b-label">
                                    评价意见:
                                </span>
                                <span>@form.applier_evaluation</span>
                            </div>
                        </div>
                    }
                    @if (bam.isPass == null && bam.stepName.Contains("评价")) {
                        <i>请对本次维修服务进行评价:</i>
                        <div class="b-div">
                            <span class="b-label">
                                服务打分
                            </span>
                            <span style="display:inline-block;width:70%;">
                                <input type="text" id="rateScore" data-min="0" data-max="5" data-step="1" data-show-clear="false" data-size="xs" />
                            </span>
                        </div>
                        <div class="b-div">
                            <span class="b-label">评价意见</span>
                            <span style="display:inline-block;width:70%;">
                                <input type="text" class="form-control" id="rateOpinion" />
                            </span>
                            <p class="small text-danger"><i class="fa fa-info-circle"></i> 如分数低于2星，必须填写评价意见</p>
                        </div>

                        <div class="b-div">
                            <button class="btn btn-primary btn-block" onclick="fifthAudit(true)">确认评价</button>
                        </div>
                    }
                </div>
            </div>
        }


    </div>
</div>

@section modal{
    @Html.Partial("_ConfirmDialog")
    <div class="modal fade" id="itemModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="groupLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">新增配件</h4>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <input type="text" class="form-control" id="searchText" placeholder="请输入配件名称搜索">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" id="searchBt" data-loading-text="查询中..."><span class="fa fa-search"></span> 搜索</button>
                            </span>
                        </div>
                        <div><table id="tb2"></table></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span> 取消</button>
                        <button type="button" class="btn btn-success" id="saveBt"><span class="fa fa-check-circle"></span> 确认</button>
                    </div>
                </div>
            </div>
        </div>
}