@using EmpInfo.Models;
@using Newtonsoft.Json;
@{
    ALBeforeApplyModel ba = ViewData["infoBeforeApply"] as ALBeforeApplyModel;
    List<ei_empLevel> empLevels = JsonConvert.DeserializeObject<List<ei_empLevel>>(ba.pLevels);
    ba.empLevel = ba.empLevel ?? -1;
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/webupload/webuploader.css")" />

    <style type="text/css">
        .b-label {
            display: inline-block;
            width: 25%;
            vertical-align: top;
            color: gray;
        }

        .b-div {
            margin: 10px 0;
        }

        #al_file_tb th {
            font-size: small;
            text-align: center;
        }

        #al_file_tb td {
            font-size: small;
            text-align: center;
        }

        #al_file_list i {
            cursor: pointer;
        }
    </style>
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script src="@Url.Content("~/Scripts/webuploader.min.js")"></script>
    <script src="@Url.Content("~/Scripts/myUserSelecter.js")"></script>
    <script>
        var queue;
        $(function () {
            $("#beginTimePicker,#endTimePicker").datetimepicker({
                language: 'zh-CN',
                format: "yyyy-mm-dd hh:ii",
                autoclose: true,
                startView: 2,
                maxView: 2,
                minuteStep: 5,
            });

            if ("@ba.empLevel" < "7") {
                $("#directSpan").hide();
            }

            //$("#eLevel").val("2");

            //经理级别以上才能选择是否直管
            $("#eLevel").on("change", function () {
                if ($("#eLevel").val() >= 7) {
                    $("#directSpan").show();
                } else {
                    $("#directSpan").hide();
                }
            });

            //选择部门
            $("#eDepName").on("click", function () {
                openSelectDepDialog(0, function (selectedDep) {
                    console.log(selectedDep);
                    $("#eDepName").val(selectedDep.depLongName);
                    $("#eDepNum").val(selectedDep.depNum);
                    $("#eDepId").val(selectedDep.depId);
                });
            });

            //选择代理人
            $("#agentMan").on("focus", function () {
                var self = this;
                $.selectUsers({
                    userHasSelected: $(self).val(),
                    callback: function (result) {
                        $(self).val(result);
                    }
                });
            });

            //选择知会人
            $("#informMan").on("focus", function () {
                var self = this;
                $.selectUsers({
                    userLimit: 10,
                    userHasSelected: $(self).val(),
                    callback: function (result) {
                        $(self).val(result);
                    }
                });
            });

            //请假类型变更
            $("#leave_type").on("change", function () {
                var tp = $(this).val();
                if (tp == "年假") {
                    $("#vacationInfo").slideDown(400);
                } else {
                    $("#vacationInfo").slideUp(400);
                }
            });

            //提交申请
            $("#apply_bt").on("click", function () {
                if (!validateForm()) {
                    return;
                }
                var beginDateNum = Date.parse($("#beginTime").val().replace(/-/g, "/"));
                if (isNaN(beginDateNum)) {
                    toastr.error("[开始时间]不合日期规则");
                    return;
                } else {
                    if (new Date(beginDateNum).getMonth() != new Date().getMonth()) {
                        //如果开始请假日期不是本月，需要用户再确认 2018-08-08
                        openConfirmDialog("请假开始日期不是本月份，是否确认要继续提交？", function () {
                            setTimeout(function () { BeginApply(); }, 500);
                        });
                    } else {
                        BeginApply();
                    }
                }

            });

            //选择审批人员
            $("#confirm_content").on("click", ".changeAuditor", function () {
                var idx = $(this).attr("data-idx");
                var finalAuditors = $(this).parent().find(".auditors");
                openSelectItemDialog(queue[idx].auditors, 1, 10, function (aus) {
                    $(finalAuditors).html(aus);
                    queue[idx].auditors = aus;
                });
            });

        });



        //验证表单
        function validateForm() {
            var leaveType = $("#leave_type").val();
            if (leaveType == "") {
                toastr.error("必选选择请假类型");
            }
            if ($("#eDepNum").val() == "") {
                toastr.error("必须选择[所属部门]");
                return false;
            }
            if ($("#eLevel").val() == "") {
                toastr.error("必须选择[职位级别]");
                return false;
            }
            if (leaveType == "") {
                toastr.error("必须选择[请假类型]");
                return false;
            }
            if ($("#beginTime").val() == "") {
                toastr.error("必须填写请假[开始时间]");
                return false;
            }
            if ($("#endTime").val() == "") {
                toastr.error("必须填写请假[结束时间]");
                return false;
            }
            var days = $("#days").val(), hours = $("#hours").val();
            if (days == "") {
                toastr.error("必须填写[请假天数]");
                return false;
            }
            if (isNaN(days)) {
                toastr.error("[请假天数]必须填写数字");
                return false;
            }
            if (days < 0 || days % 1 != 0) {
                toastr.error("[请假天数]必须为正整数");
                return false;
            }
            if (days > 300) {
                toastr.error("[请假天数]必须少于300天")
            }
            if (hours == "") {
                toastr.error("必须填写[小时]数");
                return false;
            }
            if (isNaN(hours) || hours < 0) {
                toastr.error("[小时]必须填写大于0的数字");
                return false;
            }
            if (parseFloat(hours) >= 12) {
                toastr.error("[小时]必须少于12小时,如果请假2天，写2天0小时即可，不需要写2天16小时");
                return false;
            }
            if (leaveType == "年假") {
                if (hours % 4 != 0) {
                    toastr.error("当[请假类型]是年假时，[小时]数必须是4的整数倍");
                    return false;
                }
                if (parseInt(days) + hours / 8.0 > parseFloat("@ba.vacationDaysLeft")) {
                    toastr.error("当前年休假天数少于请假天数，提交失败");
                    return false;
                }

            } else if (hours % 0.5 != 0) {
                toastr.error("[小时]必须为0.5的整数倍");
                return false;
            }
            if (days == 0 && hours == 0) {
                toastr.error("请假时间不能都是0");
                return false;
            }
            //2020-11-26增加
            if ($.trim($("#goWhere").val()) == "") {
                toastr.error("行政部规定：请假去向必须填写");
                return false;
            }
            //2021-01-27增加
            if ($.trim($("#leaveReason").val()) == "") {
                toastr.error("行政部规定：请假事由必须填写");
                return false;
            }
            if (leaveType == "病假") {
                if ($("#al_file_list tr").length < 1) {
                    toastr.error("当[请假类型]是病假时，必须上传医院诊断证明等附件");
                    return false;
                }
                if (days < 10) {
                    toastr.error("行政部要求：病假天数少于10天时，请走纸质申请流程或按事假请假");
                    return false;
                }
            }
            if (leaveType == "产检假") {
                if ($("#al_file_list tr").length < 1) {
                    toastr.error("当[请假类型]是产检假时，必须上传医院诊断证明等附件");
                    return false;
                }
            }
            return true;

        }

        function showDepName() {
            var name = $("#eDepName").val();
            var no = $("#eDepNum").val();
            if (name == "") {
                toastr.info("请先选择所属部门");
                return;
            }
            openMessageDialog("<div>名称：<span class='text-danger'>" + name + "</span></div><div>编码：<span class='text-danger'>" + no + "</span></div>", "当前所选部门信息");
        }

        function BeginApply() {
            $("#hasAttachment").val($("#al_file_list").children().length > 0);
            $(this).button("loading");
            var formParam = $("#alForm").serialize();
            $.ajax({
                type: 'post',
                url: 'GetFlowQueue',
                data: formParam,
                cache: false,
                dataType: 'json',
                success: function (data) {
                    if (data.suc) {
                        var q = data.list;
                        queue = q;
                        var div = "";
                        var canSelectAuditor = false;
                        var depNo = $("#eDepNum").val();
                        if (depNo.indexOf("212") == 0 || depNo.indexOf("21501") == 0 || depNo.indexOf("10112") == 0) {
                            canSelectAuditor = true;
                        }
                        for (var i = 0; i < q.length; i++) {
                            div += "<div>" + q[i].step + ".";
                            div += "【" + q[i].step_name + "】 <span class='auditors'>" + q[i].auditors + "</span>";
                            if (q[i].auditors.indexOf(";") >= 0 && q[i].countersign != true && canSelectAuditor) {
                                div += " <span class='changeAuditor text-primary' data-idx= '" + i + "' style='cursor:pointer;'>修改审核人</span>"
                            }
                            div += "</div>";
                        }
                        openConfirmDialog(div, function () {
                            $("#apply_bt").button("loading");
                            $.ajax({
                                type: 'post',
                                url: 'SaveApply',
                                data: formParam + "&auditor_queues=" + JSON.stringify(queue),
                                cache: false,
                                dataType: 'json',
                                success: function (data) {
                                    $("#apply_bt").button("reset");
                                    if (data.suc) {
                                        toastr.success(data.msg);
                                        setTimeout(function () { window.location.href = "ApplyIndex?billType=AL"; }, 2000);
                                    } else {
                                        toastr.error("提交失败：" + data.msg);
                                        $("#apply_bt").button("reset");
                                    }
                                }
                            });
                        }, "审批流程预览", "返回修改", "确认提交");
                    } else {
                        toastr.error(data.msg);
                    }
                    $("#apply_bt").button("reset");
                }
            });
        }

    </script>

    <script>
        $(function () {

            $("#al_file_panel").hide();
            var maxNum = 3; //最多上传3个文件
            var maxSingleSize = 10 * 1024 * 1024; //单个文件最多10M,会自动压缩的
            var uploader = WebUploader.create({
                swf: '@Url.Content("~/Content/webupload/Uploader.swf")',
                server: '@Url.Content("~/File/BeginUpload")',
                pick: '#picker',
                resize: false,
                auto: true,
                formData: { sysNum: '@ba.sysNum' },
                fileNumLimit: maxNum,
                fileSingleSizeLimit: maxSingleSize,
                duplicate: true,
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                }
            });

            uploader.on('fileQueued', function (file) {
                file.name = file.name.replace(/&/g, "_");
                var fileName = file.name;
                if (fileName.length > 20) {
                    var ext = fileName.substr(fileName.lastIndexOf("."));
                    fileName = fileName.substr(0, 14) + ".." + ext;
                }
                $("#al_file_list").append('<tr><td id="' + file.id + '" data-fd="' + file.name + '" class="item">' +
                    fileName +
                '</td><td>' + (file.size / 1000).toFixed(1) + " K</td><td class='state'>上传中...</td></tr>");
                $("#al_file_panel").show();
            });

            uploader.on('uploadSuccess', function (file, res) {
                if (!res.suc) {
                    $('#' + file.id).parent().find('td.state').addClass("text-danger").html("上传出错");
                    console.log(res);
                } else {
                    $('#' + file.id).parent().find('td.state').addClass("text-success").html("已上传| <i class='fa fa-times-circle-o text-danger' title='移除'></i>");
                }

            });

            uploader.on('uploadError', function (file) {
                $('#' + file.id).parent().find('td.state').addClass("text-danger").html('上传出错');
            });

            uploader.on('uploadComplete', function (file) {
                //$('#' + file.id).find('.progress').fadeOut();
            });

            //上传队列出错提示
            uploader.on("error", function (type) {
                switch (type) {
                    case "Q_TYPE_DENIED":
                        toastr.error("图片格式不正确");
                        break;
                    case "F_EXCEED_SIZE":
                        toastr.error("单个文件大小必须少于10M");
                        break;
                    case "F_DUPLICATE":
                        toastr.error("不能重复上传文件");
                        break;
                    case "Q_EXCEED_NUM_LIMIT":
                        toastr.error("最多上传文件数量是" + maxNum + "个");
                        break;
                    default:
                        console.error("上传失败：" + type);
                        break;
                }
            });

            //移除已上传文件
            $("#al_file_list").on("click", "td i", function () {
                var fileTD = $(this).parents("tr").find("td")[0];
                openConfirmDialog("确定要移除此上传的文件吗？", function () {
                    var fileId = $(fileTD).attr("id");
                    var fileName = $(fileTD).attr("data-fd");

                    $.post("@Url.Content("~/File/RemoveUploadedFile")", { sysNum: "@ba.sysNum", fileName: fileName }, function (data) {
                        if (data.suc) {
                            toastr.success("文件移除成功");
                            uploader.removeFile(fileId, true);
                            $(fileTD).parent().fadeOut(1000, function () {
                                $(fileTD).parent().remove();
                                var st = uploader.getStats();
                                if (st.successNum == st.cancelNum) {
                                    $("#al_file_panel").fadeOut(1000);
                                }
                            });
                        } else {
                            toastr.error("移除失败：" + data.msg);
                        }
                    });
                });

            });

        });
    </script>
}

<div class="row" style="margin-left:0;margin-right:0;">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" style="padding-left:0;padding-right:0;">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
                    <li><span class="glyphicon glyphicon-hand-right"></span></li>
                    <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
                    <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
                    <li><a href="ApplyIndex?billType=AL">请假申请单</a></li>
                    <li class="active">开始申请</li>
                </ol>
            </div>
            <div class="panel-body">
                <form id="alForm" style="margin-top:-12px;">
                    <div class="b-div">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>申请流水号</button>
                        </span>
                        <span style="display:inline-block;width:70%">
                            <input type="text" class="form-control" name="sys_no" id="sysNum" value="@ba.sysNum" readonly />
                        </span>
                    </div>
                    <div class="b-div">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>所属部门</button>
                        </span>
                        <div style="display:inline-block;width:70%">
                            <div class="input-group">
                                <input type="text" class="form-control" id="eDepName" name="dep_long_name" value="@ba.depName" placeholder="点击此处选择部门" />
                                <span class="input-group-addon" style="cursor:pointer;" onclick="showDepName()"><i class="fa fa-info text-danger"></i></span>
                            </div>
                            <input type="hidden" id="eDepNum" name="dep_no" value="@ba.depNum" />
                            <input type="hidden" id="eDepId" name="dep_id" value="@ba.depId" />
                        </div>
                        <p class="small text-danger"><i class="fa fa-info-circle"></i> 请准确选择所属部门,一年内选错三次将被禁止申请</p>
                    </div>
                    <div class="b-div">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>职位级别</button>
                        </span>
                        <div style="display:inline-block;width:70%">
                            <select class="form-control" id="eLevel" name="emp_level">
                                <option></option>
                                @foreach (var el in empLevels) {
                                    if (el.level_no == ba.empLevel) {
                                        <option value="@el.level_no" selected="selected">@el.level_name</option>
                                    }
                                    else {
                                        <option value="@el.level_no">@el.level_name</option>
                                    }
                                }
                            </select>
                            <div style="margin-top:6px;"><span id="directSpan"><input type="checkbox" id="isDirect" name="is_direct_charge" value="true" /> 董事/总经理办公室直管 </span></div>
                        </div>
                    </div>
                    <div class="b-div">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>请假类型</button>
                        </span>
                        <div style="display:inline-block;width:70%">
                            <select class="form-control" name="leave_type" id="leave_type">
                                <option value="" disabled selected></option>
                                @foreach (var t in new string[] { "事假", "年假", "探亲", "婚假", "产假", "病假", "工伤", "丧假", "产检假", "产假延期", "疫情隔离" }) {
                                    <option value="@t">@t</option>
                                }
                            </select>
                            @*<span style="display:block;margin:0;" class="row">
                                    @{
                                        string[] types = new string[] { "事假", "病假", "年假", "探亲", "婚假", "产假", "工伤", "丧假", "产检假", "产假延期", "疫情隔离" };
                                        foreach (var ty in types) {
                                            if (ty.Length > 2) {
                                                <span class="col-xs-6" style="padding:0 4px;">
                                                    <input type="radio" name="leave_type" value="@ty" /> @ty
                                                </span>
                                            }
                                            else {
                                                <span class="col-xs-3" style="padding:0 4px;">
                                                    <input type="radio" name="leave_type" value="@ty" /> @ty
                                                </span>
                                            }
                                        }
                                    }
                                </span>*@
                            <p class="small text-danger" style="margin:4px 0;"><i class="fa fa-info-circle"></i> 最近30天累计请假 @ba.times 次，合计 @ba.days 天 @ba.hours 小时。</p>
                            <p class="small text-danger" style="display:none;" id="vacationInfo"><i class="fa fa-info-circle"></i> 你当前年休假天数剩余 @ba.vacationDaysLeft 天 </p>
                        </div>
                    </div>
                    <div class="b-div" style="vertical-align:middle;">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>请假时间</button>
                        </span>
                        <div style="display:inline-block;width:70%;vertical-align:top;">
                            <div class="input-group date" id="beginTimePicker">
                                <span class="input-group-addon">从 </span>
                                <input class="form-control" type="text" id="beginTime" name="from_date" autocomplete="off" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                            </div>
                            <div class="input-group date" id="endTimePicker">
                                <span class="input-group-addon">到 </span>
                                <input class="form-control" type="text" id="endTime" name="to_date" autocomplete="off" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                            </div>
                            <div style="display:inline-block;width:52%;">
                                <div class="input-group">
                                    <span class="input-group-addon">共</span>
                                    <input class="form-control" type="text" id="days" name="work_days" style="padding-left:4px;padding-right:4px;" />
                                    <span class="input-group-addon">天</span>
                                </div>
                            </div>
                            <div style="display:inline-block;width:46%;margin-left:-5px;">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="hours" name="work_hours" style="padding-left:4px;padding-right:4px;" />
                                    <span class="input-group-addon">小时</span>
                                </div>
                            </div>
                            <div><input type="checkbox" name="is_continue" value="true" /> 延假（如紧接上一次请假，请务必勾选) </div>
                        </div>
                        <p class="small text-danger"><i class="fa fa-info-circle"></i> 例如：请假1天就是1天0小时；请假1天半写1天4小时</p>
                    </div>
                    <div class="b-div">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>请假去向</button>
                        </span>
                        <span style="display:inline-block;width:70%">
                            <input type="text" class="form-control" name="go_where" id="goWhere" placeholder="填写地点，如城市名、市镇名等" />
                        </span>
                    </div>
                    <div class="b-div">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>请假事由</button>
                        </span>
                        <span style="display:inline-block;width:70%">
                            <textarea type="text" class="form-control" rows="2" id="leaveReason" name="leave_reason" placeholder="填写请假原因"></textarea>
                        </span>
                    </div>
                    <div class="b-div">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>工作代理</button>
                        </span>
                        <span style="display:inline-block;width:70%">
                            <input type="text" class="form-control" id="agentMan" name="agent_man" />
                        </span>
                        <p class="small text-danger" style="margin-top:4px;"><i class="fa fa-info-circle"></i> 如设置了代理人，流程完成后，代理人可代替自己审批流程</p>
                    </div>
                    <div class="b-div">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>知会人</button>
                        </span>
                        <span style="display:inline-block;width:70%">
                            <textarea type="text" class="form-control" rows="2" id="informMan" name="inform_man"></textarea>
                        </span>
                        <p class="small text-danger"><i class="fa fa-info-circle"></i> 如设置了知会人，流程完成后，系统会通知知会人</p>
                    </div>
                    <input type="hidden" name="has_attachment" id="hasAttachment" />
                </form>
                <div class="b-div">
                    <span class="b-label">
                        <button class="btn btn-block btn-default" disabled>附件</button>
                    </span>
                    <div style="display:inline-block;width:70%">
                        <div id="uploader" class="wu-example">
                            <div id="picker"> + </div>
                        </div>
                    </div>
                    <p class="small text-danger"><i class="fa fa-info-circle"></i> 请病假须上传县级或以上医院疾病证明、病历表、治疗发票、住院相关资料等(图片格式)，至少提供两类，最多可上传3张</p>
                    <div class="panel panel-default" id="al_file_panel">
                        <div class="panel-heading">附件信息</div>
                        <div class="panel-body" style="padding:0 8px;">
                            <table class="table table-condensed table-hover" id="al_file_tb" style="margin:10px 0;">
                                <thead>
                                    <tr>
                                        <th style="width:50%;">名称</th>
                                        <th style="width:20%;">大小</th>
                                        <th style="width:30%;">状态</th>
                                    </tr>
                                </thead>
                                <tbody id="al_file_list"></tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <button class="btn btn-danger btn-block" type="button" id="apply_bt" data-loading-text="正在提交..."><i class="fa fa-check-circle-o"></i> 提交请假申请</button>
            </div>
        </div>
    </div>
</div>
@section Modal {
    @Html.Partial("_SelectDep")
    @Html.Partial("_SelectItems")
    @Html.Partial("_ConfirmDialog")
    @Html.Partial("_MessageDialog")
}