@using EmpInfo.Models;
@using Newtonsoft.Json;
@{
    SPBeforeApplyModel m = ViewData["infoBeforeApply"] as SPBeforeApplyModel;
    var spJson = JsonConvert.SerializeObject(m);
    List<string> accountList = new List<string>() { "光电", "半导体", "电子", "仪器", "工业", "信元", "光电科技" };
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/webupload/webuploader.css")" />
    <style type="text/css">
        .b-label {
            display: inline-block;
            width: 90px;
            color: gray;
            vertical-align: middle;
        }

        .b-input {
            display: inline-block;
            width: 68%;
        }

        .b-div {
            margin: 6px 0;
        }

        #al_file_tb th {
            font-size: small;
            text-align: center;
        }

        #al_file_tb td {
            font-size: small;
            text-align: center;
        }

        #al_file_list i {
            cursor: pointer;
        }
    </style>
}
@section Scripts {
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>
    <script src="@Url.Content("~/Scripts/webuploader.min.js")"></script>
    <script src="@Url.Content("~/Scripts/myUserSelecter.js")"></script>
    <script>
        var ex = {
            ex_company: "",
            ex_type: "",
            ex_price: ""
        };
        $("#ex_tb").bootstrapTable({
            striped: true,
            pagination: true,
            pageSize: 5,
            pageList: [5, 10, 20],
            clickToSelect: true,
            columns: [
                {
                    radio: true
                },
                {
                    field: "FName",
                    title: "快递公司"
                }, {
                    field: "FDelivery",
                    title: "快递方式"
                }, {
                    field: "FReed",
                    title: "运费"
                }
            ]
        });
        $(function () {
            displayExInfo();

            $(".selectUser").on("focus", function () {
                var self = this;
                $.selectUsers({
                    userHasSelected: $(self).val(),
                    callback: function (result) {
                        $(self).val(result);
                    }
                });
            });

            $("#checkExBtn").on("click",function(){
                var obj = utils.getFormObj($("#fm"));
                if (obj.from_addr == "") {
                    toastr.error("寄件地址必须填写");
                    return;
                }
                if (obj.to_addr == "") {
                    toastr.error("收件地址必须填写");
                    return;
                }
                $.post("@Url.Content("~/Item/GetSPExInfoWithoutBill")", { spJson: JSON.stringify(obj) }, function (data) {
                    if (data.suc) {                        
                        var result = JSON.parse(data.extra);
                        if(result.length == 0){
                            toastr.error("找不到合适的快递公司，请联系物流部");
                        }else if(result.length == 1){
                            ex.ex_company = result[0].FName;
                            ex.ex_type = result[0].FDelivery;
                            ex.ex_price = result[0].FReed;
                            displayExInfo();
                            toastr.success("快递信息获取成功");
                        }else{
                            $("#exModal").modal("show");
                            $('#ex_tb').bootstrapTable('load', result);
                        }
                    } else {
                        toastr.error(data.msg);
                    }
                });
            });

            $("#selectExBt").on("click", function () {
                var rows = $('#ex_tb').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行后再查询");
                    return;
                }
                ex.ex_company = rows[0].FName;
                ex.ex_type = rows[0].FDelivery;
                ex.ex_price = rows[0].FReed;
                displayExInfo();
                $("#exModal").modal("hide");
            });


            $("#content_type").on("change", function () {
                var ty=$(this).val();
                if (ty != "文件") {
                    $(".product_extra_info").show();
                    if(ty=="产品"){
                        $(".isReturnBackDiv").show();
                    }else{
                        $(".isReturnBackDiv").hide();
                    }
                    if(ty=="原材料"){
                        $(".qualityAuditorNameDiv").show();
                        $(".stockAddrDiv").show();
                    }else{
                        $(".qualityAuditorNameDiv").hide();
                        $(".stockAddrDiv").hide();
                    }
                } else {
                    $(".product_extra_info").hide();
                    $(".isReturnBackDiv").hide();
                    $(".qualityAuditorNameDiv").hide();
                    $(".stockAddrDiv").hide();
                }
            });

            $("#scope").on("change", function () {
                if ($(this).val() == "国外") {
                    $("#internal_div").hide();
                    $("#foreign_div").show();
                } else {
                    $("#internal_div").show();
                    $("#foreign_div").hide();
                }
            });

            //以下信息如有修改，需要重新选择快递公司
            $.each(["package_num","box_size","cardboard_size","cardboard_num","total_weight","from_addr","to_addr","aging"],function(i,v){
                $("#fm [name='"+v+"']").on("change",function(){
                    if(ex.ex_company!=""){
                        ex.ex_company="";
                        ex.ex_type="";
                        ex.ex_price="";
                        displayExInfo();
                    }
                });
            });
                        

            $("#apply_bt").on("click", function () {
                //验证必填项
                var r=utils.validateRequiredField($("#fm"));
                if(!r.suc){
                    toastr.error(r.msg);
                    return;
                }

                var obj = utils.getFormObj($("#fm"));                
                if ($("#al_file_list").children().length == 0) {
                    obj.has_attachment = false;
                }else{
                    obj.has_attachment = true;
                }
                if (obj.send_or_receive == "寄件") {
                    if (obj.from_addr.indexOf("汕尾") < 0) {
                        toastr.error("从外地发往汕尾的，【收寄类型】请选择收件");
                        return;
                    }
                    //if (obj.content_type == "产品" && obj.isReturnBack == "是" && obj.has_attachment == false) {
                    //    toastr.error("寄出产品且是退补货时，必须上传附件证明");
                    //    return;
                    //}
                } else {
                    if (obj.to_addr.indexOf("汕尾") < 0) {
                        toastr.error("从汕尾发往外地的，【收寄类型】请选择寄件");
                        return;
                    }
                }
                if((obj.from_addr.indexOf("仁寿")>=0 && obj.from_addr.indexOf("眉山")<0) || (obj.to_addr.indexOf("仁寿")>=0 && obj.to_addr.indexOf("眉山")<0)){
                    toastr.error("仁寿属于眉山市，请在地址中加上眉山市，否则运费计算会有问题");
                    return;
                }
                if (obj.content_type != "文件") {
                    if(items.length<1){
                        toastr.error("至少必须录入一行明细");
                        return;
                    }
                    if (obj.package_num == "") {
                        toastr.error("件数必须填写");
                        return;
                    }
                    if (obj.box_size == "") {
                        toastr.error("包装箱尺寸必须填写");
                        return;
                    }
                    if (obj.aging == "") {
                        toastr.error("配送时效必须选择");
                        return;
                    }
                    if (!utils.testIsSize(obj.box_size)) {
                        toastr.error("包装箱尺寸格式不正确，必须是【数字*数字*数字】");
                        return;
                    }
                    if (obj.cardboard_size != "" && obj.cardboard_size != "0") {
                        if (!utils.testIsSize(obj.cardboard_size)) {
                            toastr.error("卡板尺寸格式不正确，必须是【数字*数字*数字】");
                            return;
                        }
                    }
                    if (!utils.testIsInt(obj.package_num)) {
                        toastr.error("件数必须录入整数");
                        return;
                    }
                    if (obj.cardboard_num != "" && !utils.testIsInt(obj.cardboard_num)) {
                        toastr.error("卡板数必须录入整数");
                        return;
                    }
                    if(obj.content_type == "原材料"){
                        if(obj.quality_audior_name==""){
                            toastr.error("品质审核人必须选择");
                            return;
                        }
                        if(obj.stock_addr==""){
                            toastr.error("仓库地址必须选择");
                            return;
                        }
                    }else if(obj.content_type == "产品"){
                        if(obj.isReturnBack==""){
                            toastr.error("是否信利产品必须选择");
                            return;
                        }
                    }
                }
                if (!utils.testIsFloat(obj.total_weight, 1)) {
                    toastr.error("总毛重格式不正确，必须是整数或1位小数");
                    return;
                }                

                if(obj.scope!="国外"){
                    obj.ex_company = ex.ex_company;
                    obj.ex_type = ex.ex_type;
                    obj.ex_price = ex.ex_price;
                }
                if (obj.ex_company == "") {
                    toastr.error("快递公司不能为空");
                    return;
                }

                openConfirmDialog("确定要提交申请吗？", function () {
                    $("#apply_bt").button("loading");
                    $.ajax({
                        type: 'post',
                        url: 'SaveApply',
                        data: "sys_no=" + obj.sys_no + "&sp=" + JSON.stringify(obj).replace(/\&/g, "%26") + "&entry=" + JSON.stringify(items).replace(/\&/g, "%26"),
                        cache: false,
                        dataType: 'json',
                        success: function (data) {
                            $("#apply_bt").button("reset");
                            if (data.suc) {
                                toastr.success("提交成功:" + data.msg);
                                setTimeout(function () { window.location.href = "CheckApply?sysNo=" + obj.sys_no; }, 2000);
                            } else {
                                toastr.error("提交失败：" + data.msg);
                                $("#apply_bt").button("reset");
                            }
                        }
                    });
                });
            });

            $(".product_extra_info").hide();
            $("#internal_div").hide();
            $("#foreign_div").hide();
            setTimeout(function(){
                $("#fm").css("visibility", "visible");
                utils.loadObjData($("#fm"),@Html.Raw(spJson));
                if("@m.content_type"!=""){
                    $("#content_type").trigger("change");
                    $("#scope").trigger("change");
                }
            },100);
        })

        function displayExInfo() {
            var info = "快递公司：" + ex.ex_company + "\n快递方式：" + ex.ex_type + "\n运费(元)：" + ex.ex_price;
            $("#exInfo").html(info);
        }
    </script>
    <script>
        var items = [];
        var changeIdx = -1;
        function openDialog() {
            changeIdx = -1;
            $("#itemModal").modal("show");
            $("#item_name").val("");
            $("#item_modual").val("");
            $("#item_qty").val("");
        }

        function addChItem() {
            var qty = $("#item_qty").val();
            var modual = $("#item_modual").val();
            var name = $("#item_name").val();

            if ($.trim(qty) == "" || isNaN(qty)) {
                toastr.error("数量必须输入数字");
                return;
            }
            if ($.trim(modual) == "") {
                toastr.error("规格型号必须填写");
                return;
            }
            if ($.trim(name) == "") {
                toastr.error("产品名称必须填写");
                return;
            }
            if (changeIdx < 0) {
                items.push({ name:name, modual: modual, qty: qty });

                var idx = items.length - 1;
                var tr = "<tr id='tr" + idx + "'>";
                tr += "<td>" + name + "</td>";
                tr += "<td>" + modual + "</td>";
                tr += "<td>" + qty + "</td>";
                tr += "<td>";
                tr += "<a href='#' title='修改' onclick='changeChItem(" + idx + ")'><i class='text-success fa fa-pencil'></i></a>";
                tr += " | ";
                tr += "<a href='#' title='删除' onclick='removeChItem(" + idx + ")'><i class='text-danger fa fa-times'></i></a>";
                tr += "</td>";
                tr += "</tr>";
                $("#ch_tb_content").append(tr);
            } else {
                items[changeIdx].name = name;
                items[changeIdx].modual = modual;
                items[changeIdx].qty = qty;

                $($("#tr" + changeIdx).find("td")[0]).html(name);
                $($("#tr" + changeIdx).find("td")[1]).html(modual);
                $($("#tr" + changeIdx).find("td")[2]).html(qty);
            }
            $("#itemModal").modal("hide");
        }

        function changeChItem(idx) {
            changeIdx = idx;
            $("#itemModal").modal("show");
            $("#item_name").val(items[idx].name);
            $("#item_modual").val(items[idx].modual);
            $("#item_qty").val(items[idx].qty);
        }

        function removeChItem(idx) {
            items.splice(idx, 1);
            $("#tr" + idx).remove();
        }
    </script>
    <script>
        $(function () {

            $("#al_file_panel").hide();
            var maxNum = 3; //最多上传3个文件
            var maxSingleSize = 10 * 1024 * 1024; //单个文件最多10M,会自动压缩的
            var uploader = WebUploader.create({
                swf: '@Url.Content("~/Content/webupload/Uploader.swf")',
                server: '@Url.Content("~/File/BeginUpload")',
                pick: '#picker',
                resize: false,
                auto: true,
                formData: { sysNum: '@m.sys_no' },
                fileNumLimit: maxNum,
                fileSingleSizeLimit: maxSingleSize,
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                }
            });

            uploader.on('fileQueued', function (file) {
                file.name = file.name.replace(/&/g,"_");
                var fileName = file.name;
                if (fileName.length > 20) {
                    var ext = fileName.substr(fileName.lastIndexOf("."));
                    fileName = fileName.substr(0, 14) + ".." + ext;
                }
                $("#al_file_list").append('<tr><td id="' + file.id + '" data-fd="' + file.name + '" class="item">' +
                    fileName +
                '</td><td>' + (file.size / 1000).toFixed(1) + " K</td><td class='state'>上传中...</td></tr>");
                $("#al_file_panel").show();
            });

            uploader.on('uploadSuccess', function (file, res) {
                if (!res.suc) {
                    $('#' + file.id).parent().find('td.state').addClass("text-danger").html("上传出错");
                    console.log(res);
                } else {
                    $('#' + file.id).parent().find('td.state').addClass("text-success").html("已上传| <i class='fa fa-times-circle-o text-danger' title='移除'></i>");
                }

            });

            uploader.on('uploadError', function (file) {
                $('#' + file.id).parent().find('td.state').addClass("text-danger").html('上传出错');
            });

            uploader.on('uploadComplete', function (file) {
                //$('#' + file.id).find('.progress').fadeOut();
            });

            //上传队列出错提示
            uploader.on("error", function (type) {
                switch (type) {
                    case "Q_TYPE_DENIED":
                        toastr.error("图片格式不正确");
                        break;
                    case "F_EXCEED_SIZE":
                        toastr.error("单个文件大小必须少于10M");
                        break;
                    case "F_DUPLICATE":
                        toastr.error("不能重复上传文件");
                        break;
                    case "Q_EXCEED_NUM_LIMIT":
                        toastr.error("最多上传文件数量是" + maxNum + "个");
                        break;
                    default:
                        toastr.error("上传失败：" + type);
                        break;
                }
            });

            //移除已上传文件
            $("#al_file_list").on("click", "td i", function () {
                var fileTD = $(this).parents("tr").find("td")[0];
                openConfirmDialog("确定要移除此上传的文件吗？", function () {
                    var fileId = $(fileTD).attr("id");
                    var fileName = $(fileTD).attr("data-fd");

                    $.post("@Url.Content("~/File/RemoveUploadedFile")", { sysNum: "@m.sys_no", fileName: fileName }, function (data) {
                        if (data.suc) {
                            toastr.success("文件移除成功");
                            uploader.removeFile(fileId,true);
                            $(fileTD).parent().fadeOut(1000, function () {
                                $(fileTD).parent().remove();
                                var st = uploader.getStats();
                                if (st.successNum == st.cancelNum) {
                                    $("#al_file_panel").fadeOut(1000);
                                }
                            });
                        } else {
                            toastr.error("移除失败：" + data.msg);
                        }
                    })
                });

            });

        });
    </script>
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
            <li><a href="ApplyIndex?billType=SP">寄/收件申请</a></li>
            <li class="active">开始申请</li>
        </ol>
    </div>
    <div class="panel-body">
        <form id="fm" style="visibility:hidden;">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            申请流水号:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="sys_no" id="sysNum" readonly />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            联系电话:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="applier_phone" required />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            公司:
                        </span>
                        <div class="b-input">
                            <select class="form-control" name="company" id="company" required>
                                <option value="">---- 下拉选择公司 ----</option>
                                @foreach (var d in accountList) {
                                    <option value="@d">@d</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            部门:
                        </span>
                        <div class="b-input">
                            <select class="form-control" name="bus_name" id="bus_name" required>
                                <option value="">---- 下拉选择事业部 ----</option>
                                @foreach (var d in m.busDepList) {
                                    <option value="@d">@d</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            收寄类型:
                        </span>
                        <div class="b-input">
                            <select class="form-control" name="send_or_receive" id="send_or_receive" required>
                                <option value="">---- 下拉选择收寄类型 ----</option>
                                <optgroup label="从汕尾寄往外地的请选择寄件">
                                    <option value="寄件">寄件</option>
                                </optgroup>
                                <optgroup label="从外地寄往汕尾的请选择收件">
                                    <option value="收件">收件</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            收寄内容:
                        </span>
                        <div class="b-input">
                            <select class="form-control" name="content_type" id="content_type" required>
                                <option value="">---- 下拉选择收寄内容 ----</option>
                                <option value="产品">产品</option>
                                <option value="文件">文件</option>
                                <option value="原材料">原材料</option>
                                <option value="辅料/设备配件">辅料/设备配件</option>
                                
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 isReturnBackDiv">
                    <div class="b-div">
                        <span class="b-label">
                            是否信利产品:
                        </span>
                        <div class="b-input">
                            <select class="form-control" name="isReturnBack" id="isReturnBack" >
                                <option value="">---- 下拉选择是否信利产品 ----</option>
                                <option value="是">是</option>
                                <option value="否">否</option>
                            </select>
                        </div>
                    </div>
                </div>                
                <div class="col-md-4 col-sm-6 col-xs-12 qualityAuditorNameDiv">
                    <div class="b-div">
                        <span class="b-label">
                            品质审核人:
                        </span>
                        <div class="b-input">
                            <input type="text" class="form-control selectUser" name="quality_audior_name" placeholder="请选择品质审核人" />                            
                        </div>
                    </div>
                </div>              
                <div class="col-md-4 col-sm-6 col-xs-12 stockAddrDiv">
                    <div class="b-div">
                        <span class="b-label">
                            仓库地址:
                        </span>
                        <div class="b-input">
                            <select class="form-control" name="stock_addr" id="stock_addr">
                                <option value="">---- 下拉选择仓库地址 ----</option>
                                @foreach (var a in m.stockAddrList) {
                                    <option value="@a">@a</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 product_extra_info">
                    <div class="b-div">
                        <span class="b-label">
                            件数:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="package_num" placeholder="必填" />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 product_extra_info">
                    <div class="b-div">
                        <span class="b-label">
                            包装箱尺寸:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="box_size" placeholder="必填" />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 product_extra_info">
                    <div class="b-div">
                        <span class="b-label">
                            卡板尺寸:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="cardboard_size" placeholder="选填" />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 product_extra_info">
                    <div class="b-div">
                        <span class="b-label">
                            卡板数:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="cardboard_num" placeholder="选填" />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 product_extra_info">
                    <div class="b-div">
                        <span class="b-label">
                            配送时效:
                        </span>
                        <div class="b-input">
                            <select class="form-control" name="aging" id="aging">
                                <option value="">---- 下拉选择配送时效 ----</option>
                                <option value="次日达（24小时内）">次日达（24小时内）</option>
                                <option value="隔日达（48小时内）">隔日达（48小时内）</option>
                                <option value="陆运（3-4天）">陆运（3-4天）</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            总毛重(KG):
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="total_weight" placeholder="必填：最多可录入1位小数" required />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            收寄范围:
                        </span>
                        <div class="b-input">
                            <select class="form-control" name="scope" id="scope" required>
                                <option value="">---- 下拉选择收寄范围 ----</option>
                                <optgroup label="寄件/收件地址都为广东省内的">
                                    <option value="省内">省内</option>
                                </optgroup>
                                <optgroup label="寄件/收件地址其中之一是广东省外的">
                                    <option value="省外">省外</option>
                                </optgroup>
                                <optgroup label="寄件/收件地址其中之一是港澳台的">
                                    <option value="港澳台">港澳台</option>
                                </optgroup>
                                <optgroup label="寄件/收件地址其中之一是国外的">
                                    <option value="国外">国外</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            寄件地址:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="from_addr" placeholder="必填：至少包含省和市" required />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            收件地址:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="to_addr" placeholder="必填：至少包含省和市" required />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            收件人:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="receiver_name" placeholder="必填" required />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            收件人电话:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="receiver_phone" placeholder="必填" required />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            申请原因:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="apply_reason" placeholder="选填" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="b-div product_extra_info">
                <span class="b-label">
                    物品明细:
                </span>
                <div class="b-input">
                    <button class="btn btn-primary" type="button" onclick="openDialog()"> + </button>
                </div>
            </div>
            <table class="table table-condensed table-hover product_extra_info" style="margin:10px 0 30px 0;">
                <thead>
                    <tr>
                        <th style="width:30%;">物品名称</th>
                        <th style="width:30%;">规格型号</th>
                        <th style="width:25%;">数量</th>
                        <th style="width:15%;">操作</th>
                    </tr>
                </thead>
                <tbody id="ch_tb_content"></tbody>
            </table>

            <div id="internal_div">
                <div><button type="button" class="btn btn-primary" id="checkExBtn"><i class="fa fa-search"></i> 获取/选择快递公司</button></div>
                <textarea class="form-control" id="exInfo" rows="3" readonly style="margin-top:6px;"></textarea>
            </div>
            <div id="foreign_div">
                <div class="b-div">
                    <span class="b-label">
                        快递公司:
                    </span>
                    <span class="b-input">
                        <input type="text" class="form-control" name="ex_company" id="ex_company" />
                    </span>
                </div>
            </div>
            <div class="b-div">
                <span class="b-label">
                    快递单号:
                </span>
                <span class="b-input">
                    <input type="text" class="form-control" name="ex_no" id="ex_no" required />
                </span>
            </div>
            <div class="b-div">
                <span class="b-label" style="vertical-align:top;">
                    上传附件:
                </span>
                <div style="display:inline-block;width:70%">
                    <div id="uploader" class="wu-example">
                        <div id="picker"> + </div>
                    </div>
                    <p class="small text-danger"><i class="fa fa-info-circle"></i> 寄出产品需要放行时，必须上传图片附件（最多可上传3张）</p>
                </div>
            </div>
            <div class="panel panel-default" id="al_file_panel">
                <div class="panel-heading">附件信息</div>
                <div class="panel-body" style="padding:0 8px;">
                    <table class="table table-condensed table-hover" id="al_file_tb" style="margin:10px 0;">
                        <thead>
                            <tr>
                                <th style="width:50%;">名称</th>
                                <th style="width:20%;">大小</th>
                                <th style="width:30%;">状态</th>
                            </tr>
                        </thead>
                        <tbody id="al_file_list"></tbody>
                    </table>
                </div>
            </div>
            <button class="btn btn-danger btn-block" type="button" id="apply_bt" data-loading-text="正在提交..." style="margin-top:12px;"><i class="fa fa-check-circle-o"></i> 提交申请</button>
        </form>
    </div>
</div>

<div class="panel panel-default" style="margin:16px 0 0 0;">
    <div class="panel-body">
        <h4 class="text-danger"><i class="fa fa-info-circle"></i> 操作说明 </h4>
        <div style="margin-left:18px;padding-top:6px;" class="text-danger">
            <p>
                0. 提交时建议在电脑端操作，使用google chrome或360极速浏览器，打开内网网址：http://192.168.90.100/Emp ,登陆移动办公平台提交申请。
            </p>
            <p>
                1. 流程步骤如下：<br/>
                [1]. 收寄文件：流程开始--->员工提交申请--->部门负责人审批--->流程结束。<br/>
                [2]. 收寄产品：流程开始--->员工提交申请--->部门负责人审批--->QA审批（如果寄信利产品）--->物流部审批 --->流程结束。<br/>
                [3]. 收寄原材料：流程开始--->员工提交申请--->品质部审批--->部门负责人审批--->仓管部审批--->物流部审批--->流程结束。<br/>
                [4]. 收集辅料/设备配件：流程开始--->员工提交申请--->部门负责人审批--->物流部审批 --->流程结束。
            </p>
            <p>
                2. 10KG以内的省内件，默认使用顺丰标快；10KG以内的省外件或港澳台件，时效是次日达的，默认使用顺丰标快；
                10KG以内的省外件或港澳台件，时效是隔日达或其他的，默认使用顺丰特惠；大于10KG的，请先联系物流部周秀花确认后，在系统选择正确的物流公司和快递方式；
                国外件，系统不计算运费，需要手工填写快递公司；
            </p>
            <p>
                3. 包装箱尺寸和卡板尺寸的格式是长*宽*高，单位是厘米（CM）；如果没有卡板的，可以不需填写卡板数量和卡板尺寸。
            </p>
            @*<p>
                4. 收寄类型是寄件且收寄内容是产品且是退补货的，必须上传附件（图片格式），QA审批后即可在查看界面打印放行条，给门卫扫描后放行，不需再走放行条流程。
            </p>*@
            <p>
                4. 如有问题，请联系物流部周秀花：13543166052（676052），zhouxh.wlb@truly.com.cn
            </p>
        </div>
    </div>
</div>

@section Modal {
    @Html.Partial("_ConfirmDialog")
    <div class="modal fade" id="exModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="groupLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">选择快递公司</h4>
                </div>
                <div class="modal-body">
                    <table id="ex_tb"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span> 关闭</button>
                    <button type="button" class="btn btn-success" id="selectExBt"><span class="fa fa-check-circle"></span> 确认选择</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="itemModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="groupLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">新增明细</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="item_modual" class="sr-only">名称:</label>
                        <div class="input-group">
                            <div class="input-group-addon">名称:</div>
                            <input type="text" class="form-control" id="item_name" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="item_modual" class="sr-only">型号:</label>
                        <div class="input-group">
                            <div class="input-group-addon">型号:</div>
                            <input type="text" class="form-control" id="item_modual" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="item_qty" class="sr-only">数量:</label>
                        <div class="input-group">
                            <div class="input-group-addon">数量:</div>
                            <input type="number" class="form-control" id="item_qty" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span> 取消</button>
                    <button type="button" class="btn btn-success" onclick="addChItem()"><span class="fa fa-check-circle"></span> 确认</button>
                </div>
            </div>
        </div>
    </div>
}
