@using EmpInfo.Models;
@{
    BeginAuditModel bam = ViewData["bam"] as BeginAuditModel;
    DEAuditOtherInfoModel info = bam.otherInfo as DEAuditOtherInfoModel;
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <style type="text/css">
        .b-label {
            display: inline-block;
            width: 85px;
            color: gray;
            vertical-align: top;
        }

        .b-input {
            display: inline-block;
            width: 70%;
        }

        .b-div {
            margin: 4px 0;
        }

        .item_header {
            cursor: pointer;
        }        
    </style>
}
@section Scripts {
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script>
        var items = @Html.Raw(info.entryJson);
        for(var i = 0;i<items.length;i++){
            delete items[i].ei_DEApply;
            items[i].idx = i;
        }        
        var idx = -1;
        
            $("#tb").bootstrapTable({
                striped: true,
                mobileResponsive: true,
                pagination: false,
                clickToSelect: true,
                data:items,
                columns: [
                {
                    radio: true,
                },
                {
                    field: "catalog",
                    title: "类别",
                },
                {
                    field: "subject",
                    title: "项目",
                },
                {
                    field: "name",
                    title: "名称",
                },
                {
                    field: "unit_name",
                    title: "单位",
                },
                {
                    field: "qty",
                    title: "数量",
                },
                {
                    field: "summary",
                    title: "摘要",
                },
                {
                    field: "supplier_name",
                    title: "供应商",
                },
                {
                    field: "unit_price",
                    title: "单价",
                },
                {
                    field: "total",
                    title: "金额",
                },
                {
                    field: "tax_rate",
                    title: "税率%",
                },
                {
                    field: "total_with_tax",
                    title: "价税合计",
                },
                {
                    field: "clear_date",
                    title: "结算日期",
                    formatter: function (value, row, index, field) {
                        return utils.parseTDate(row.clear_date);
                    }
                },
                {
                    field: "comment",
                    title: "备注",
                }],
                onDblClickRow: function (row, $element, field) {
                    $("#editBt").trigger("click");
                },
            });
        
            $(function () {
                //$("#addBt").on("click", function () {
                //    utils.resetForm($("#itemFm"));
                //    $("#itemTitle").html("新增");
                //    $("#itemModal").modal("show");
                //    idx = -1;
                //});

                $("#editBt").on("click", function () {
                    var rows = $('#tb').bootstrapTable('getSelections');
                    if (rows.length == 0) {
                        toastr.error("请先选择一行后再修改");
                        return;
                    }
                    if(!rows[0].tax_rate){
                        rows[0].tax_rate = 9;
                    }
                    utils.loadObjData($("#itemFm"), rows[0]);
                    idx = rows[0].idx;
                    $("#itemTitle").html("修改");
                    $("#itemModal").modal("show");
                });

                $("#saveBt").on("click", function () {
                    var result = utils.validateRequiredField($("#itemFm"));
                    if (!result.suc) {
                        toastr.error(result.msg);
                        return;
                    }
                    var item = utils.getFormObj($("#itemFm"));

                    if (!utils.testIsFloat(item.qty, 4)) {
                        toastr.error("数量必须是数字，并且小数位数最多4位");
                        return;
                    }

                    if (idx == -1) {
                        item.idx = items.length;
                        items.push(item);
                    } else {
                        var i;
                        items.map(function (it, index) { if (it.idx == idx) { i = index; item.idx = it.idx; } });
                        items[i] = item;
                    }
                    $('#tb').bootstrapTable('load', items);
                    $("#itemModal").modal("hide");
                });

                //$("#removeBt").on("click", function () {
                //    var rows = $('#tb').bootstrapTable('getSelections');
                //    if (rows.length == 0) {
                //        toastr.error("请先选择一行后再删除");
                //        return;
                //    }
                //    idx = rows[0].idx;
                //    openConfirmDialog("确定要删除选中的行吗？", function () {
                //        var i;
                //        items.map(function (it, index) { if (it.idx == idx) { i = index; } });
                //        items.splice(i, 1);
                //        $('#tb').bootstrapTable('load', items);
                //    });
                //});

            });

    </script>
    <script>
    $(function () {

        {
            utils.loadObjData($("#fm"),@Html.Raw(info.billJson));
            $("#bill_date").val(utils.parseTDate($("#bill_date").val()));            
        }

        $(".form_date").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: true,
            startView: 2,
            minView: 2
        });

        $("#flowRecordBt").on("click", function () {
            var box = $("<div></div>");
            $(box).load("CheckFlowRecord .list-group", { sysNo: "@bam.sysNum" }, function () {
                openMessageDialog($(box).html(), "查看流转记录");
            });
        });
        $("#excelBt").on("click", function () {
            window.location.href = "@Url.Content("~/Report/ExportDEExcel?sysNo=")"+"@bam.sysNum";
        });

        $("#submit_bt").on("click",function(){
            BeginAudit(true,false,$("#submit_bt"));
        });

        $("#reject_bt").on("click",function(){
            BeginAudit(false,false,$("#reject_bt"));
        });

        $("#back_bt").on("click",function(){
            BeginAudit(false,true,$("#back_bt"));
        });

    });

    function BeginAudit(isPass,isBack, $btn){
        var itemJson="[]";
        if(isPass){
            var obj = utils.getFormObj($("#fm"));
            var result = utils.validateRequiredField($("#fm"));
            if (!result.suc) {
                toastr.error(result.msg);
                return;
            }
            itemJson = JSON.stringify(items).replace(/\&/g, "%26").replace(/\+/g, "%2b").replace(/\=/g, "%3d");
        }
        $("#isPass").val(isPass);
        $("#isBack").val(isBack);
        openConfirmDialog("确定要"+(isPass?"流转到下一步吗？":(isBack?"退回上一步吗？": "拒绝此申请单吗？")), function () {
            $btn.button("loading");
            $.ajax({
                type: 'post',
                url: 'HandleApply',
                data: $("#fm").serialize() + "&entry=" + itemJson,
                cache: false,
                dataType: 'json',
                success: function (data) {
                    if (data.suc) {
                        toastr.success("处理成功:" + data.msg);
                        setTimeout(function () { window.location.href = "GetMyAuditingList?billType=DE" }, 2000);
                    } else {
                        toastr.error("处理失败：" + data.msg);
                    }
                    $btn.button("reset");
                }
            });
        });
    }

    </script>

    @if (bam.isPass == true) {
        <script>
            $(function(){
                $("#fm").find("button").hide();
                $("#fm").find("input").attr("readonly","readonly");
                $("#btn_group").hide();
            });
        </script>
    }
    else {
        if (bam.stepName.Contains("经理")) {
            <script>
                $(function(){
                    $("#fm").find("input").attr("readonly","readonly");
                    $("#btn_group").hide();
                });
            </script>
        }
        else {
            <script>
                var subjectSelect = $("#subject").clone();
                var nameSelect = $("#name").clone();
                $(function(){
                    $("#back_bt").hide();
                    //$("#reject_bt").hide();

                    $("#catalog").on("change", function () {
                        var v = $(this).val();
                        $("#subject").empty();
                        $("#subject").append(subjectSelect.find("option[data-cat='']").clone());
                        $("#subject").append(subjectSelect.find("option[data-cat='"+v+"']").clone());
                        $("#subject").val("");
                    });
                    

                    $("#subject").on("change", function () {
                        var v = $(this).val();
                        $("#name").empty();
                        $("#name").append(nameSelect.find("option[data-sub='']").clone());
                        $("#name").append(nameSelect.find("option[data-sub='" + v + "']").clone());
                        $("#name").val("");
                    });
                    

                    $("#qty,#unit_price,#tax_rate").on("change",function(){
                        var qty = $.trim($("#qty").val());
                        var unit_price = $.trim($("#unit_price").val());
                        var tax_rate = $.trim($("#tax_rate").val());

                        if(qty && unit_price){
                            $("#total").val((parseFloat(qty) * parseFloat(unit_price)).toFixed(2));

                            if(tax_rate){
                                $("#total_with_tax").val((parseFloat(qty) * parseFloat(unit_price)*(1+(parseFloat(tax_rate)/100))).toFixed(2));
                            }
                        }

                    });

                });
            </script>
        }
    }

}

<div class="panel panel-danger">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
            <li><a href="ApplyIndex?billType=DE">后勤工程支出申请单</a></li>
            <li class="active">开始申请</li>
        </ol>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="b-div">
                    <span class="b-label">
                        流转记录:
                    </span>
                    <span class="b-input">
                        <button type="button" class="btn btn-default btn-sm" id="flowRecordBt"><i class="fa fa-level-down"></i> 流转记录</button>
                    </span>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <span class="b-label">
                    Excel导出:
                </span>
                <span class="b-input">
                    <button type="button" class="btn btn-default btn-sm" id="excelBt"><i class="fa fa-file-excel-o"></i> 开始导出</button>
                </span>
            </div>
        </div>
        <form id="fm">
            <input type="hidden" name="stepName" id="stepName" value="@bam.stepName" />
            <input type="hidden" name="step" value="@bam.step" />
            <input type="hidden" name="sysNo" value="@bam.sysNum" />
            <input type="hidden" name="isPass" id="isPass" />
            <input type="hidden" name="isBack" id="isBack" value="false" />
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            申请流水号:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="sys_no" readonly />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            申请人:
                        </span>
                        <div class="b-input">
                            <input type="text" class="form-control" name="applier_name" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            制单日期:
                        </span>
                        <div class="b-input">
                            <div class="input-group date form_date" id="fromDatePicker1">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                <input class="form-control" type="text" id="bill_date" name="bill_date" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            
            <div class="b-div" id="btn_group">
                <span class="b-label">
                    操作按钮:
                </span>
                <span class="b-input">
                    @*<button class="btn btn-success btn-sm" type="button" id="addBt"> <i class="fa fa-plus"></i> 新增</button>*@
                    <button class="btn btn-primary btn-sm" type="button" id="editBt" title="双击数据行也可修改"> <i class="fa fa-edit"></i> 修改</button>
                    @*<button class="btn btn-danger btn-sm" type="button" id="removeBt"> <i class="fa fa-remove"></i> 删除</button>*@
                </span>
            </div>
            <table data-toggle="table" id="tb"></table>

            <button class="btn btn-primary btn-block" type="button" id="submit_bt" data-loading-text="正在处理..." style="margin-top:24px;"><i class="fa fa-forward"></i> 下一步</button>
            <button class="btn btn-warning btn-block" type="button" id="back_bt" style="margin-top:4px;"><i class="fa fa-backward"></i> 退回上一步</button>
            <button class="btn btn-danger btn-block" type="button" id="reject_bt" style="margin-top:4px;"><i class="fa fa-stop"></i> 拒绝</button>
        </form>
    </div>
</div>

@section Modal {
    @Html.Partial("_MessageDialog")
    @Html.Partial("_ConfirmDialog")

    <div class="modal fade" id="itemModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="groupLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="itemTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="itemFm">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">                                
                                    <div class="input-group">
                                        <div class="input-group-addon">类别:</div>
                                        <select class="form-control" name="catalog" id="catalog" required>
                                            <option value="">---- 下拉选择类别 ----</option>
                                            @foreach (var d in info.subjects.Select(s => s.catalog_name).Distinct()) {
                                                <option value="@d">@d</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">                                
                                    <div class="input-group">
                                        <div class="input-group-addon">项目:</div>
                                        <select class="form-control" name="subject" id="subject" required>
                                            <option value="">---- 下拉选择项目 ----</option>
                                            @foreach (var d in info.subjects) {
                                                <option value="@d.name" data-cat="@d.catalog_name">@d.name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">                                
                                    <div class="input-group">
                                        <div class="input-group-addon">名称:</div>
                                        <select class="form-control" name="name" id="name" required>
                                            <option value="">---- 下拉选择名称 ----</option>
                                            @foreach (var d in info.names) {
                                                <option value="@d.name" data-sub="@d.subject_name">@d.name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">                                
                                    <div class="input-group">
                                        <div class="input-group-addon">单位:</div>
                                        <input type="text" class="form-control" name="unit_name" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">                                
                                    <div class="input-group">
                                        <div class="input-group-addon">数量:</div>
                                        <input type="text" class="form-control" name="qty" id="qty" required />
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">                                
                                    <div class="input-group">
                                        <div class="input-group-addon">摘要:</div>
                                        <input type="text" class="form-control" name="summary" required />
                                    </div>
                                </div>
                            </div>
                            @if (bam.step >= 200) {
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">供应商:</div>
                                            <input type="text" class="form-control" name="supplier_name" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">单价:</div>
                                            <input type="text" class="form-control" name="unit_price" id="unit_price" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">金额:</div>
                                            <input type="text" class="form-control" name="total" id="total" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">税率%:</div>
                                            <input type="text" class="form-control" name="tax_rate" id="tax_rate" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">价税合计:</div>
                                            <input type="text" class="form-control" name="total_with_tax" id="total_with_tax" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">                                        
                                        <div class="input-group date form_date" id="fromDatePicker2">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> 结算日期:</span>
                                            <input class="form-control" type="text" id="clear_date" name="clear_date" readonly />
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">备注:</div>
                                            <input type="text" class="form-control" name="comment" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span> 取消</button>
                    <button type="button" class="btn btn-success" id="saveBt"><span class="fa fa-check-circle"></span> 确认</button>
                </div>
            </div>
        </div>
    </div>

}
