@using EmpInfo.Models;
@using Newtonsoft.Json;
@{
    BeginAuditModel bam = (BeginAuditModel)ViewData["bam"];
    XCCheckApplyModel m = bam.otherInfo as XCCheckApplyModel;
    string proJson = JsonConvert.SerializeObject(m.pros);
    ei_xcApply h = m.bill;
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/webupload/webuploader.css")" />
    <style type="text/css">
        .b-label {
            display: inline-block;
            width: 100px;
            vertical-align: top;
            color: gray;
        }

        .b-input {
            display: inline-block;
            width: 65%;
        }

        .b-div {
            margin: 10px 0;
        }
    </style>

}
@section Scripts {
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script src="@Url.Content("~/Scripts/webuploader.min.js")"></script>
    <script src="@Url.Content("~/Scripts/myUploaderPro.js?v=2")"></script>
    <script>
        $(function () {
            if ($("#myUploader1").length > 0) {
                console.log("1");
                $("#myUploader1").myUploader({
                    sysNum: "@bam.sysNum",
                    fileNumLimit: 10,
                    prefix: "营运部附件_",
                    accept: {
                        title: '*',
                        extensions: '*',
                        mimeTypes: '*'
                    }
                });
            }

            if ($("#myUploader2").length > 0) {
                console.log("2");
                $("#myUploader2").myUploader({
                    sysNum: "@bam.sysNum",
                    fileNumLimit: 10,
                    prefix: "采购单_",
                    accept: {
                        title: '*',
                        extensions: '*',
                        mimeTypes: '*'
                    }
                });
            }

            if ($("#myUploader3").length > 0) {
                console.log("3");
                $("#myUploader3").myUploader({
                    sysNum: "@bam.sysNum",
                    fileNumLimit: 10,
                    prefix: "统计报表_",
                    accept: {
                        title: '*',
                        extensions: '*',
                        mimeTypes: '*'
                    }
                });
            }

            @*if ($("#myUploader4").length > 0) {
                console.log("4");
                $("#myUploader4").myUploader({
                    sysNum: "@bam.sysNum",
                    fileNumLimit: 10,
                    prefix: "产品接收_",
                    accept: {
                        title: '*',
                        extensions: '*',
                        mimeTypes: '*'
                    }
                });
            }*@

            $("#printBt").on("click", function () {
                window.open("../Report/PrintXC?sysNo=@bam.sysNum");
            })

        });
    </script>
    <script>
        $(function () {
            $(".datePicker").datetimepicker({
                language: 'zh-CN',
                format: "yyyy-mm-dd",
                autoclose: true,
                startView: 2,
                minView: 2,
                endDate:"@DateTime.Now.ToString("yyyy-MM-dd")"
            });
            $("#applyContent").load("CheckApply", { sysNo: "@bam.sysNum" }, function () {
                $($("#applyContent .panel-heading")[0]).html("<i class='fa fa-list'></i> @bam.billTypeName");
                $("#waiting").remove();

                //doAfterLoad();

            });

        });

        function audit(isPass) {
            if ($("#ck_ceo")) {
                $("#need_ceo_confirm").val($("#ck_ceo").is(":checked"));
            }
            $("#isPass").val(isPass);
            openConfirmDialog("确认要" + (isPass ? "同意" : "拒绝") + "此申请吗？", function () {
                $.ajax({
                    type: 'post',
                    url: 'HandleApply',
                    data: $("#auditForm").serialize(),
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data.suc) {
                            toastr.success(data.msg);
                            setTimeout(function () { window.location.href = "@string.Concat("GetMyAuditingList?billType=",bam.billType)"; }, 2000);
                        } else {
                            toastr.error(data.msg);
                        }
                    }
                });
            });
        }
    </script>
    @if (bam.isPass != null) {
        <script>
            $(function () {
                $("#opinion").prop("readonly", "readonly").prop("placeholder", "");
                $("#opinion").val("@bam.opinion");
            });
        </script>

    }
    @*<script>
        function doAfterLoad() {

            $("#tb2").bootstrapTable({
                data:@Html.Raw(proJson),
                striped: true,
                clickToSelect: true,
                mobileResponsive: true,
                idField: "id",
                uniqueId: "id",
                columns: [
                    {
                        radio: true
                    },
                    {
                        field: "in_qty",
                        title: "实收数量",
                        width: "25%"
                    }, {
                        field: "in_time",
                        title: "接收时间",
                        width: "25%",
                        formatter: function (value, row, index, field) {
                            return utils.parseTDate(row.in_time);
                        }
                    }, {
                        field: "in_user",
                        title: "接收人",
                        width: "20%"
                    }, {
                        field: "in_comment",
                        title: "备注",
                        width: "30%"
                    }
                ]
            });

            $("#addBt").on("click",function(){
                utils.resetForm($("#itemFm"));
                $("#itemModal").modal("show");
                $("#itemModal .modal-title").html("新增接收记录");
            });

            $("#editBt").on("click",function(){
                var rows = $('#tb2').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行后再修改");
                    return;
                }
                var row = rows[0];
                row.in_time = utils.parseTDate(row.in_time);
                utils.loadObjData($("#itemFm"), row);
                $("#itemModal .modal-title").html("修改接收记录");
                $("#itemModal").modal("show");

            });

            $("#saveBt").on("click",function(){
                var validateMsg = utils.validateRequiredField($("#itemFm"));
                if(!validateMsg.suc){
                    toastr.error(validateMsg.msg);
                    return;
                }
                var obj=utils.getFormObj($("#itemFm"));
                if(obj.in_time == ""){
                    toastr.error("接收时间必须选择");
                    return;
                }
                if(!utils.testIsInt(obj.in_qty)){
                    toastr.error("数量必须是整数");
                    return;
                }
                obj.sys_no = "@h.sys_no";

                $.post("../ApplyExtra/SaveXCProInRecord",{obj:JSON.stringify(obj)},function(data){
                    if(!data.suc){
                        toastr.error(data.msg);
                        return;
                    }
                    toastr.success(data.msg);
                    if(obj.id == 0){
                        $("#tb2").bootstrapTable('append', JSON.parse(data.extra));
                    }else{
                        $("#tb2").bootstrapTable('updateByUniqueId', { id: obj.id, row: JSON.parse(data.extra) });
                    }
                    $("#itemModal").modal("hide");
                });
            });

            $("#removeBt").on("click",function(){
                var rows = $('#tb2').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行后再删除");
                    return;
                }
                openConfirmDialog("确定要删除选中的行吗？", function () {
                    console.log(rows[0].id);
                    $.post("../ApplyExtra/RemoveXCProInRecord",{id:rows[0].id},function(data){
                        if(data.suc){
                            toastr.success("删除成功");
                            $("#tb2").bootstrapTable('removeByUniqueId', rows[0].id);
                        }else{
                            toastr.error(data.msg);
                        }
                    });
                });
            });

            $("#tb3").bootstrapTable({
                striped: true,
                mobileResponsive: true,
                columns: [
                    {
                        field: "item_name",
                        title: "物料名称",
                        width: "30%"
                    }, {
                        field: "item_modual",
                        title: "规格型号",
                        width: "40%"
                    }, {
                        field: "qty",
                        title: "数量",
                        width: "20%"
                    }, {
                        field: "unit_name",
                        title: "单位",
                        width: "10%"
                    }
                ]
            });

            $("#searchStockBt").on("click",function(){
                var self=this;
                var stockNo=$("#bus_stock_no").val();
                var account = "@h.k3_account";

                if(stockNo==""){
                    toastr.error("请先输入委外加工出库单号");
                    return;
                }

                $(self).button("loading");
                $.post("../Item/GetK3BusStockBill",{account:account,billNo:stockNo},function(data){
                    $(self).button("reset");
                    if(data.length<1){
                        toastr.error("查询不到委外加工出库单明细，请检查单号是否正确");
                        return;
                    }
                    $("#tb3").bootstrapTable("load",data);
                });

            });

        }


    </script>*@

}
@*通过load获取申请单内容*@
<div class="text-center text-danger" id="waiting"><i class="fa fa-3x fa-spinner fa-pulse"></i></div>
<div id="applyContent"></div>

@*物流填写信息*@

<div class="auditContent">

    <div class="panel panel-primary">
        <div class="panel-heading" id="auditHead">
            <i class='fa fa-pencil'></i> @bam.stepName -- @bam.sysNum
        </div>
        <div class="panel-body">
            @if (bam.isPass == null) {
                <form id="auditForm">
                    <input type="hidden" name="sysNo" value="@bam.sysNum" />
                    <input type="hidden" name="step" value="@bam.step" />
                    <input type="hidden" name="stepName" value="@bam.stepName" />
                    <input type="hidden" name="isPass" id="isPass" value="true" />
                    <input type="hidden" name="need_ceo_confirm" id="need_ceo_confirm" value="false" />

                    @if (bam.stepName.Contains("采购询价")) {
                        <div class="b-div">
                            <span class="b-label">
                                供应商名称:
                            </span>
                            <div class="b-input">
                                <input type="text" class="form-control" name="supplier_name" value="@h.supplier_name" required />
                            </div>
                        </div>
                        <div class="b-div">
                            <span class="b-label">
                                单价（元）:
                            </span>
                            <div class="b-input">
                                <input type="text" class="form-control" name="unit_price" id="unit_price" value="@h.unit_price" required />
                            </div>
                        </div>
                    }
                    else if (bam.stepName.Contains("营运部审批")) {
                        @*<div class="b-div">
                            <span class="b-label">
                                原料抽检结果:
                            </span>
                            <div class="b-input">
                                <textarea type="text" class="form-control" rows="3" name="check_out_comment" placeholder="此处可填写原料抽检结果">@h.check_out_comment</textarea>
                            </div>
                        </div>*@
                        <div class="b-div">
                            <span class="b-label">
                                转总裁办审批:
                            </span>
                            <div class="b-input">
                                <input type="checkbox" id="ck_ceo" />
                            </div>
                        </div>
                        <div style="display:inline-block;">
                            <div id="picker"> <i class="fa fa-upload"></i> 上传营运部附件 </div>
                        </div>
                        <div id="myUploader1">

                        </div>
                    }
                    else if (bam.stepName.Contains("采购下单")) {
                        <div style="display:inline-block;">
                            <div id="picker"> <i class="fa fa-upload"></i> 上传采购单附件 </div>
                        </div>
                        <div id="myUploader2">

                        </div>
                    }
                    @*else if (bam.stepName.Contains("物料组")) {
                        <div class="b-div">
                            <span class="b-label">
                                委外出库单号:
                            </span>
                            <div class="b-input">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="bus_stock_no" name="bus_stock_no" value="@h.bus_stock_no" placeholder="输入后点读取按钮">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" id="searchStockBt" data-loading-text="查询中...">读取</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="b-div">
                            <span class="b-label">
                                委外出库单明细:
                            </span>
                        </div>
                        <div style="margin-bottom:12px;">
                            <table data-toggle="table" id="tb3"></table>
                        </div>
                    }
                    else if (bam.stepName.Contains("物流盘点发出")) {
                        <button class="btn btn-primary" id="printBt"><i class="fa fa-print"></i> 打印放行条</button>
                        <div class="b-div">
                            <span class="b-label">
                                物流抽检备注:
                            </span>
                            <div class="b-input">
                                <textarea type="text" class="form-control" rows="3" name="stock_out_comment" placeholder="此处可填写抽检结果">@h.stock_out_comment</textarea>
                            </div>
                        </div>
                        <div style="display:inline-block;">
                            <div id="picker"> <i class="fa fa-upload"></i> 上传抽检照片 </div>
                        </div>
                        <div id="myUploader3">

                        </div>
                    }
                    else if (bam.stepName.Contains("仓库接收成品")) {
                        <div class="b-div">
                            <span class="b-label">
                                产品接收明细:
                            </span>
                            <div class="b-input">
                                <button class="btn btn-success btn-sm" type="button" id="addBt" style="margin-bottom:4px;"> <i class="fa fa-plus"></i> 新增</button>
                                <button class="btn btn-primary btn-sm" type="button" id="editBt" style="margin-bottom:4px;"> <i class="fa fa-edit"></i> 修改 </button>
                                <button class="btn btn-danger btn-sm" type="button" id="removeBt" style="margin-bottom:4px;"> <i class="fa fa-th"></i> 删除</button>
                            </div>
                        </div>
                        <div style="margin-bottom:12px;">
                            <table data-toggle="table" id="tb2"></table>
                        </div>

                        <div class="b-div">
                            <span class="b-label">
                                仓库接收备注:
                            </span>
                            <div class="b-input">
                                <textarea type="text" class="form-control" rows="3" name="stock_in_comment" placeholder="此处可填写接收备注">@h.stock_in_comment</textarea>
                            </div>
                        </div>

                        <div style="display:inline-block;">
                            <div id="picker"> <i class="fa fa-upload"></i> 上传产品照片 </div>
                        </div>
                        <div id="myUploader4">

                        </div>
                    }*@
                    else if (bam.stepName.Contains("申请人提交结案")) {
                        @*<div class="b-div">
                            <span class="b-label">
                                产品抽检结果:
                            </span>
                            <div class="b-input">
                                <textarea type="text" class="form-control" rows="3" name="check_in_comment" placeholder="此处可填写产品抽检结果">@h.check_in_comment</textarea>
                            </div>
                        </div>*@
                        <div style="display:inline-block;">
                            <div id="picker"> <i class="fa fa-upload"></i> 上传统计报表 </div>
                        </div>
                        <div id="myUploader3">

                        </div>
                    }
                    @*else if (bam.stepName.Contains("申请人确认领回")) {
                        <div class="b-div">
                            <span class="b-label">
                                领回日期:
                            </span>
                            <div class="b-input">
                                <div class="form-group" style="margin:0;">
                                    <div class="input-group date datePicker" id="datePicker2">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                                        <input class="form-control" type="text" name="take_back_time" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }*@

                    <textarea class="form-control" rows="2" name="opinion" placeholder="请在此处输入审核意见"></textarea>

                </form>
                <div style="margin-top:12px;"></div>
                if (bam.stepName.Contains("申请人提交结案")) {
                    <button type="button" class="btn btn-block btn-success" onclick="audit(true)"><i class="fa fa-truck"></i> 提交结案</button>
                }
                else {
                    <div class="btn-group btn-group-justified" role="group">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger" onclick="audit(false)">拒绝</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success" onclick="audit(true)">同意</button>
                        </div>
                    </div>
                }
            }
            else {
                <div style="margin-top:12px;"></div>
                if (bam.isPass == true) {
                    <button type="button" class="btn btn-block btn-success disabled">已同意此申请</button>
                }
                else {
                    <button type="button" class="btn btn-block btn-danger disabled">已拒绝此申请</button>
                }
            }
        </div>
    </div>
</div>

<div class="panel panel-default" style="margin:16px 0;">
    <div class="panel-body">
        <h4 class="text-danger"><i class="fa fa-info-circle"></i> 说明 </h4>
        <div style="margin-left:18px;padding-top:6px;" class="text-danger">
            <p>
                1. 流程步骤：流程开始--->提交申请--->计划部负责人审批-->部门主管审批--->部门总经理审批--->采购询价--->营运部审批--->
                总裁办审批（若部门累计金额超过月度目标）--->采购部下单--->申请人提交结案申请--->营运部审批结案申请--->结束
                <br />
                2. 委外时间设定为每周一至周五下午五点前，超出则顺延至第二个工作日处理。
                <br />
                3. 不再允许一单多次的委外申请，每张委外单只对单次出库生效。
                <br />
                4. SMT、CCM等部门，与供应商沟通配套料由其自己购买，本厂不再搭配外发。
                <br />
                5. 各个门的委外目标由营运部指定，并每月进行管控。
            </p>
        </div>
    </div>
</div>

@section Modal {
    @*<div class="modal fade" id="itemModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="groupLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">新增接收明细</h4>
                </div>
                <div class="modal-body">
                    <form id="itemFm">
                        <input type="hidden" name="id" data-value="0" />
                        <div class="b-div">
                            <span class="b-label">
                                实收数量:
                            </span>
                            <span class="b-input">
                                <input type="number" class="form-control" name="in_qty" required />
                            </span>
                        </div>
                        <div class="b-div">
                            <span class="b-label">
                                接收时间:
                            </span>
                            <div class="b-input">
                                <div class="form-group" style="margin:0;">
                                    <div class="input-group date datePicker" id="datePicker1">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                                        <input class="form-control" type="text" name="in_time" autocomplete="off" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-div">
                            <span class="b-label">
                                接收人:
                            </span>
                            <span class="b-input">
                                <input type="text" class="form-control" name="in_user" required />
                            </span>
                        </div>
                        <div class="b-div">
                            <span class="b-label">
                                备注:
                            </span>
                            <span class="b-input">
                                <input type="text" class="form-control" name="in_comment" />
                            </span>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span> 取消</button>
                    <button type="button" class="btn btn-success" id="saveBt"><span class="fa fa-check-circle"></span> 确认</button>
                </div>
            </div>
        </div>
    </div>*@

    @Html.Partial("_ConfirmDialog")
}