@using EmpInfo.Models;
@{
    DEBeforeApplyModel m = ViewData["infoBeforeApply"] as DEBeforeApplyModel;
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <style type="text/css">
        .b-label {
            display: inline-block;
            width: 85px;
            color: gray;
            vertical-align: top;
        }

        .b-input {
            display: inline-block;
            width: 70%;
        }

        .b-div {
            margin: 4px 0;
        }

        .item_header {
            cursor: pointer;
        }
    </style>
}
@section Scripts {    
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script>        
        $(function () {
            $(".form_date").datetimepicker({
                language: 'zh-CN',
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: true,
                startView: 2,
                minView: 2
            });

            $("#catalog").on("change", function () {
                $("#subject").val("");
                var v = $(this).val();
                $("#subject").find("option").each(function (i, e) {
                    var cat = $(e).attr("data-cat");
                    if (cat) {
                        if (cat == v) {
                            $(e).show();
                        } else {
                            $(e).hide();
                        }
                    }
                });
            });
            
            $("#subject").on("change", function () {
                $("#name").val("");
                var v = $(this).val();
                $("#name").find("option").each(function (i, e) {
                    var cat = $(e).attr("data-sub");
                    if (cat) {
                        if (cat == v) {
                            $(e).show();
                        } else {
                            $(e).hide();
                        }
                    }
                });
            });

            $("#apply_bt").on("click",function(){
                var obj = utils.getFormObj($("#fm"));                
                var result = utils.validateRequiredField($("#fm"));
                if (!result.suc) {
                    toastr.error(result.msg);
                    return;
                }
                
                if (!utils.testIsFloat(obj.qty, 4)) {
                    toastr.error("数量必须是数字，并且小数位数最多4位");
                    return;
                }

                var jsonObj=JSON.stringify(obj).replace(/\&/g, "%26").replace(/\+/g, "%2b").replace(/\=/g, "%3d");
                openConfirmDialog("确定要提交申请吗？", function () {
                    $("#apply_bt").button("loading");
                    $.ajax({
                        type: 'post',
                        url: 'SaveApply',
                        data: "obj=" + jsonObj+"&sys_no="+obj.sys_no,
                        cache: false,
                        dataType: 'json',
                        success: function (data) {
                            $("#apply_bt").button("reset");
                            if (data.suc) {
                                toastr.success("提交成功:" + data.msg);
                                setTimeout(function () { window.location.href = "CheckApply?sysNo=" + obj.sys_no; }, 2000);
                            } else {
                                toastr.error("提交失败：" + data.msg);
                                $("#apply_bt").button("reset");
                            }

                        }
                    });
                });

            });

        });
    </script>
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
            <li><a href="ApplyIndex?billType=DE">后勤工程支出申请单</a></li>
            <li class="active">开始申请</li>
        </ol>
    </div>
    <div class="panel-body">
        <form id="fm">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            申请流水号:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="sys_no" value="@m.sys_no" readonly />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            申请人:
                        </span>
                        <div class="b-input">
                            <input type="text" class="form-control" name="applier_name" value="@m.applier_name" readonly />
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            制单日期:
                        </span>
                        <div class="b-input">
                            <div class="input-group date form_date" id="fromDatePicker1">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                <input class="form-control" type="text" id="bill_date" name="bill_date" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            类别:
                        </span>
                        <div class="b-input">
                            <select class="form-control" name="catalog" id="catalog" required>
                                <option value="">---- 下拉选择类别 ----</option>
                                @foreach (var d in m.subjects.Select(s=>s.catalog_name).Distinct()) {
                                <option value="@d">@d</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            项目:
                        </span>
                        <span class="b-input">
                            <select class="form-control" name="subject" id="subject" required>
                                <option value="">---- 下拉选择项目 ----</option>
                                @foreach (var d in m.subjects) {
                                <option value="@d.name" data-cat="@d.catalog_name">@d.name</option>
                                }
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            名称:
                        </span>
                        <span class="b-input">
                            <select class="form-control" name="name" id="name" required>
                                <option value="">---- 下拉选择名称 ----</option>
                                @foreach (var d in m.names) {
                                <option value="@d.name" data-sub="@d.subject_name">@d.name</option>
                                }
                            </select>
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            单位:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="unit_name" required />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            数量:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="qty" required />
                        </span>
                    </div>
                </div>                
            </div>            
            <div class="b-div">
                <span class="b-label" style="vertical-align:top;">
                    摘要:
                </span>
                <span class="b-input">
                    <textarea type="text" class="form-control" rows="3" name="summary" placeholder="填写具体位置等信息" required></textarea>
                </span>
            </div>
            <button class="btn btn-danger btn-block" type="button" id="apply_bt" data-loading-text="正在提交..." style="margin-top:4px;"><i class="fa fa-check-circle-o"></i> 提交申请</button>
        </form>
    </div>
</div>

@section Modal {
    @Html.Partial("_ConfirmDialog")
}
