@using EmpInfo.Models;
@using Newtonsoft.Json;
@{    
    BeginAuditModel bam = (BeginAuditModel)ViewData["bam"];
    ei_spApply sp = (ei_spApply)bam.otherInfo;
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
    <style type="text/css">
        .b-label {
            display: inline-block;
            width: 85px;
            color: gray;
            vertical-align: middle;
        }

        .b-input {
            display: inline-block;
            width: 70%;
        }

        .b-div {
            margin: 6px 0;
        }
    </style>

}
@section Scripts {
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>
    <script>
    var ex={
        ex_company:"",
        ex_type:"",
        ex_price:""
    };
    $("#ex_tb").bootstrapTable({
        striped: true,
        pagination: true,
        pageSize: 5,
        pageList: [5, 10, 20],
        clickToSelect:true,
        columns: [
            {
                radio:true
            },
            {
                field: "FName",
                title: "快递公司"
            }, {
                field: "FDelivery",
                title: "快递方式"
            }, {
                field: "FReed",
                title: "运费"
            }
        ]
    });


    $(function () {
        $("#applyContent").load("CheckApply #topContainer", { sysNo: "@bam.sysNum" }, function () {
            $($("#applyContent .panel-heading")[0]).html("<i class='fa fa-list'></i> @bam.billTypeName 详情");
                $("#waiting").remove();
                $(".auditContent").css("visibility", "visible");
                $("#flowRecordBt").on("click", function () {
                    var box = $("<div></div>");
                    $(box).load("CheckFlowRecord .list-group", { sysNo: "@bam.sysNum" }, function () {
                        openMessageDialog($(box).html(), "查看流转记录");
                    });
                });
            });
            displayExInfo();

            $("#checkExBtn").on("click",function(){
                if ($('#ex_tb').bootstrapTable('getData').length > 0) {
                    $("#exModal").modal("show");
                    return;
                }
                $.post("@Url.Content("~/Item/GetSPExInfo")", { sysNum: "@bam.sysNum" }, function (data) {
                if (data.suc) {
                    $("#exModal").modal("show");
                    $('#ex_tb').bootstrapTable('load', JSON.parse(data.extra));
                } else {
                    toastr.error(data.msg);
                }
            });
        });

        $("#selectExBt").on("click",function(){
            var rows = $('#ex_tb').bootstrapTable('getSelections');
            if (rows.length == 0) {
                toastr.error("请先选择一行后再查询");
                return;
            }
            ex.ex_company = rows[0].FName;
            ex.ex_type = rows[0].FDelivery;
            ex.ex_price = rows[0].FReed;
            displayExInfo();
            $("#exModal").modal("hide");
        });

    });
    function audit(isPass) {
        openConfirmDialog("确认要" + (isPass ? "同意" : "拒绝") + "此申请吗？", function () {
            $.post("HandleApply", {
                sysNo: "@bam.sysNum",
                step: "@bam.step",
                stepName:"@bam.stepName",
                isPass: isPass,
                opinion: $("#opinion").val(),
                ex_company: ex.ex_company,
                ex_type: ex.ex_type,
                ex_price: ex.ex_price,
                ex_no: $("#ex_no").val()
            }, function (data) {
                if (data.suc) {
                    toastr.success(data.msg);
                    setTimeout(function () { window.location.href = "@string.Concat("GetMyAuditingList?billType=",bam.billType)"; }, 2000);
                } else {
                    toastr.error(data.msg);
                }
            });
        });
    }
    function displayExInfo() {
        var info = "快递公司：" + ex.ex_company + "\n快递方式：" + ex.ex_type + "\n运费（元）：" + ex.ex_price;
        $("#exInfo").html(info);
    }    
    </script>
    @if (bam.isPass != null) {
        <script>
            $(function () {
                $("#opinion").prop("readonly", "readonly").prop("placeholder", "");
                $("#opinion").val("@bam.opinion");
            });
        </script>
    }
    @if (!string.IsNullOrEmpty(sp.ex_company)) {
        <script>
            ex.ex_company = "@sp.ex_company";
            ex.ex_type = "@sp.ex_type";
            ex.ex_price = "@sp.ex_price";
            displayExInfo();
        </script>
    }
}
@*通过load获取申请单内容*@
<div class="text-center text-danger" id="waiting"><i class="fa fa-3x fa-spinner fa-pulse"></i></div>
<div id="applyContent"></div>

@*审批信息*@
<div class="auditContent">
    <div class="panel panel-primary">
        <div class="panel-heading" id="auditHead">
            <i class='fa fa-pencil'></i> 开始审批
        </div>
        <div class="panel-body">
            @if (bam.isPass == null) {
                <form id="auditForm">
                    @if (bam.stepName.Contains("事业部") || bam.stepName.Contains("物流")) {
                        <div><button type="button" class="btn btn-primary" id="checkExBtn"><i class="fa fa-search"></i> 选择快递公司</button></div>                        
                        <textarea class="form-control" id="exInfo" rows="3" readonly style="margin-top:6px;"></textarea>
                    }
                    @if (bam.stepName.Contains("申请人") || bam.stepName.Contains("物流")) {
                        <div class="b-div">
                            <span class="b-label" style="vertical-align:top;">
                                快递单号:
                            </span>
                            <span style="display:inline-block;width:70%">
                                <input type="text" class="form-control" name="ex_no" id="ex_no" value="@sp.ex_no" />
                            </span>
                        </div>
                    }
                </form>
            }
            <textarea class="form-control" rows="2" id="opinion" placeholder="请在此处输入审核意见" style="margin-top:8px;"></textarea>
            <div style="margin-top:12px;"></div>
            @if (bam.isPass == null) {
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success" onclick="audit(true)">同意</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger" onclick="audit(false)">拒绝</button>
                    </div>
                </div>
            }
            else if ((bool)bam.isPass) {
                <button type="button" class="btn btn-block btn-success disabled">已同意此申请</button>
            }
            else {
                <button type="button" class="btn btn-block btn-danger disabled">已拒绝此申请</button>
            }
        </div>
    </div>
</div>
@section Modal {
    @Html.Partial("_MessageDialog")
    @Html.Partial("_ConfirmDialog")
<div class="modal fade" id="exModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="groupLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">选择快递公司</h4>
                </div>
                <div class="modal-body">                    
                    <table id="ex_tb"></table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span> 关闭</button>
                    <button type="button" class="btn btn-success" id="selectExBt"><span class="fa fa-check-circle"></span> 确认选择</button>
                </div>
            </div>
        </div>
    </div>
}
