@using EmpInfo.Models;
@{
    string sysNum = ViewData["infoBeforeApply"] as string;
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
    <style type="text/css">
        .b-label {
            display: inline-block;
            width: 85px;
            color: gray;
            vertical-align: middle;
        }

        .b-input {
            display: inline-block;
            width: 70%;
        }

        .b-div {
            margin: 4px 0;
        }
    </style>
}
@section Scripts {
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/extensions/mobile/bootstrap-table-mobile.min.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>

    <script>
        var items = [];
        var idx = -1;
        $("#tb").bootstrapTable({
            striped: true,
            mobileResponsive: true,
            pagination: false,
            clickToSelect: true,
            columns: [
                {
                    radio: true
                }, {
                    field: "card_number",
                    title: "厂牌"
                }, {
                    field: "name",
                    title: "姓名"
                }, {
                    field: "sex",
                    title: "性别"
                }, {
                    field: "education",
                    title: "学历"
                }, {
                    field: "account",
                    title: "账号"
                }, {
                    field: "out_dep_name",
                    title: "调出部门"
                }, {
                    field: "out_dep_id",
                    visible: false
                }, {
                    field: "out_dep_position",
                    title: "调出岗位"
                }, {
                    field: "out_time",
                    title: "调出日期"
                }, {
                    field: "in_dep_name",
                    title: "调入部门"
                }, {
                    field: "in_dep_id",
                    visible: false
                }, {
                    field: "in_dep_position",
                    title: "调入岗位"
                }, {
                    field: "in_time",
                    title: "到岗日期"
                }
            ],
            onDblClickRow: function (row, $element, field) {
                $("#editBt").trigger("click");
            }
        });

        $(function () {
            $("#addBt").on("click", function () {
                $("#itemFm").find("[name='card_number'],[name='name'],[name='sex'],[name='education'],[name='account'],[name='out_dep_position']").val("");

                $("#itemTitle").html("新增员工信息");
                $("#itemModal").modal("show");
                idx = -1;
            });

            $("#editBt").on("click", function () {
                var rows = $('#tb').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行后再修改");
                    return;
                }
                utils.loadObjData($("#itemFm"), rows[0]);
                idx = rows[0].idx;
                $("#itemModal").modal("show");
            });

            $("#saveBt").on("click", function () {
                var result = utils.validateRequiredField($("#itemFm"));
                if (!result.suc) {
                    toastr.error(result.msg);
                    return;
                }
                var item = utils.getFormObj($("#itemFm"));
                if (idx == -1) {
                    item.idx = items.length;
                    items.push(item);
                } else {
                    var i;
                    items.map(function (it, index) { if (it.idx == idx) { i = index; } });
                    items[i] = item;
                }
                $('#tb').bootstrapTable('load', items);
                $("#itemModal").modal("hide");
            });

            $("#removeBt").on("click", function () {
                var rows = $('#tb').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行后再删除");
                    return;
                }
                idx = rows[0].idx;
                openConfirmDialog("确定要删除选中的行吗？", function () {
                    var i;
                    items.map(function (it, index) { if (it.idx == idx) { i = index; } });
                    items.splice(i, 1);
                    $('#tb').bootstrapTable('load', items);
                });
            });

        })

    </script>

    <script>
        $(function () {
            $(".datePicker").datetimepicker({
                language: 'zh-CN',
                format: "yyyy-mm-dd",
                autoclose: true,
                startView: 2,
                minView: 2,
                initialDate: "@DateTime.Now.ToString("yyyy-MM-dd")"
            });

            //设置日期联动，结束日期不能大于起始日期
            $("#dp1").on("changeDate", function (e) {
                $('#dp2').datetimepicker('setStartDate', e.date);
            });
            $("#dp2").on("changeDate", function (e) {
                $('#dp1').datetimepicker('setEndDate', e.date);
            });

            $("#card_number").on("blur", function () {
                if ($("#card_number").val().length > 7) {
                    getHREmpDetail();
                } else {
                    toastr.error("请输入正确的厂牌编号");
                }
            });


            $("#in_dep_name").on("click", function () {
                openSelectDepDialog(2, function (selectedDep) {
                    $("#in_dep_name").val(selectedDep.depLongName);
                    $("#in_dep_id").val(selectedDep.depId);
                });
            });

            $("#out_dep_name").on("click", function () {
                openSelectDepDialog(2, function (selectedDep) {
                    $("#out_dep_name").val(selectedDep.depLongName);
                    $("#out_dep_id").val(selectedDep.depId);
                });
            });

            $("#salary_type").on("change", function () {
                if ($(this).val() == "计件") {
                    $("#out_minister_div").hide();
                    $("#in_minister_div").hide();
                } else {
                    $("#out_minister_div").show();
                    $("#in_minister_div").show();
                }
            });

            $(".selectUser").on("click", function () {
                var self = this;
                openSelectUserDialog($(self).val(), 3, function (result) {
                    $(self).val(result);
                });
            });

            $("#apply_bt").on("click", function () {
                var result = utils.validateRequiredField($("#fm"));
                if (!result.suc) {
                    toastr.error(result.msg);
                    return;
                }
                var obj = utils.getFormObj($("#fm"));
                
                if (obj.salary_type != "计件") {
                    if (obj.out_minister_name == "") {
                        toastr.error("必须选择调出部门部长/助理");
                        return;
                    }
                    if (obj.in_minister_name == "") {
                        toastr.error("必须选择调入部门部长/助理");
                        return;
                    }
                }

                if (items.length == 0) {
                    toastr.error("必须至少录入一行员工信息");
                    return;
                }
                
                openConfirmDialog("确定要提交申请吗？", function () {
                    $("#apply_bt").button("loading");
                    $.ajax({
                        type: 'post',
                        url: 'SaveApply',
                        data: "sys_no=" + obj.sys_no + "&head=" + JSON.stringify(obj).replace(/\&/g, "%26") + "&entry=" + JSON.stringify(items).replace(/\&/g, "%26"),
                        cache: false,
                        dataType: 'json',
                        success: function (data) {
                            $("#apply_bt").button("reset");
                            if (data.suc) {
                                toastr.success("提交成功:" + data.msg);
                                setTimeout(function () { window.location.href = "CheckApply?sysNo=" + obj.sys_no; }, 2000);
                            } else {
                                toastr.error("提交失败：" + data.msg);
                                $("#apply_bt").button("reset");
                            }

                        }
                    });
                });
            });

        });

        function getHREmpDetail() {
            var num = $("#card_number").val();
            $.post("@Url.Content("~/Item/GetHREmpInfoDetail")", { cardNumber: num, empStatus: "在职" }, function (data) {
                if (data.suc) {
                    var info = JSON.parse(data.extra);
                    //info.out_dep_id = info.dep_id;
                    //info.out_dep_name = info.dep_name;
                    info.out_dep_position = info.position;
                    delete info.salary_type;
                    //delete info.dep_id;
                    //delete info.dep_name;
                    utils.loadObjData($("#itemFm"), info);
                } else {
                    toastr.error(data.msg);
                }
            });
        }

    </script>
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
            <li><a href="ApplyIndex?billType=SJ">员工调动申请流程</a></li>
            <li class="active">开始申请</li>
        </ol>
    </div>
    <div class="panel-body">
        <form id="fm">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            申请流水号:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control" name="sys_no" value="@sysNum" readonly />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            调动类型:
                        </span>
                        <div class="b-input">
                            <select class="form-control" name="switch_type" id="switch_type" required>
                                <option value="">---- 下拉选择调动类型 ----</option>
                                @foreach (var d in new string[] { "公司内", "跨公司" }) {
                                    <option value="@d">@d</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            工资类型:
                        </span>
                        <span class="b-input">
                            <select class="form-control" name="salary_type" id="salary_type" required>
                                <option value="">---- 下拉选择工资类型 ----</option>
                                @foreach (var d in new string[] { "计件", "月薪", "计转月", "月转计" }) {
                                    <option value="@d">@d</option>
                                }
                            </select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            调出部门文员:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control selectUser" name="out_clerk_name" placeholder="选择文员" required />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            调出部门主管/经理:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control selectUser" name="out_manager_name" placeholder="选择主管/经理" required />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" id="out_minister_div" style="display:none;">
                    <div class="b-div">
                        <span class="b-label">
                            调出部门部长/助理:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control selectUser" name="out_minister_name" placeholder="选择调出部门部长/助理" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            调入部门文员:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control selectUser" name="in_clerk_name" placeholder="选择文员" required />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="b-div">
                        <span class="b-label">
                            调入部门主管/经理:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control selectUser" name="in_manager_name" placeholder="选择主管/经理" required />
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" id="in_minister_div" style="display:none;">
                    <div class="b-div">
                        <span class="b-label">
                            调入部门部长/助理:
                        </span>
                        <span class="b-input">
                            <input type="text" class="form-control selectUser" name="in_minister_name" placeholder="选择调入部门部长/助理" />
                        </span>
                    </div>
                </div>
            </div>
            <p class="small text-danger"><i class="fa fa-info-circle"></i> 以上处理节点可选1~3个处理人，如选择多人，其中1人处理完成即可</p>
            <div class="b-div">
                <span class="b-label" style="vertical-align:top;">
                    调动原因/说明:
                </span>
                <span class="b-input">
                    <textarea type="text" class="form-control" rows="2" id="comment" name="comment" required></textarea>
                </span>
            </div>
            <div class="b-div">
                <span class="b-label">
                    操作按钮:
                </span>
                <span class="b-input">
                    <button class="btn btn-success btn-sm" type="button" id="addBt"> <i class="fa fa-plus"></i> 新增调动人员</button>
                    <button class="btn btn-primary btn-sm" type="button" id="editBt" title="双击数据行也可修改"> <i class="fa fa-edit"></i> 修改调动人员 </button>
                    <button class="btn btn-danger btn-sm" type="button" id="removeBt"> <i class="fa fa-remove"></i> 删除调动人员</button>
                </span>
            </div>
            <table data-toggle="table" id="tb"></table>

            <button class="btn btn-danger btn-block" type="button" id="apply_bt" data-loading-text="正在提交..." style="margin-top:24px;"><i class="fa fa-check-circle-o"></i> 提交申请</button>
        </form>
    </div>
</div>

@section Modal {
    @Html.Partial("_ConfirmDialog")
    @Html.Partial("_SelectUsers")
    @Html.Partial("_SelectDep")
    <div class="modal fade" id="itemModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="groupLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="itemTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="itemFm">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">                                
                                    <div class="input-group">
                                        <div class="input-group-addon">厂牌:</div>
                                        <input type="text" class="form-control" id="card_number" name="card_number" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">                                
                                    <div class="input-group">
                                        <div class="input-group-addon">姓名:</div>
                                        <input type="text" class="form-control" id="name" name="name" readonly required placeholder="输入厂牌后自动带出" />
                                        <input type="hidden" id="sex" name="sex" />
                                        <input type="hidden" id="education" name="education" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">                                
                                    <div class="input-group">
                                        <div class="input-group-addon">账号:</div>
                                        <input type="text" class="form-control" id="account" name="account" readonly placeholder="输入厂牌后自动带出" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">                                
                                    <div class="input-group">
                                        <div class="input-group-addon">调出部门:</div>
                                        <input type="text" class="form-control" name="out_dep_name" id="out_dep_name" required placeholder="点击选择人事部门" />
                                        <input type="hidden" id="out_dep_id" name="out_dep_id" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">                                
                                    <div class="input-group">
                                        <div class="input-group-addon">调出岗位:</div>
                                        <input type="text" class="form-control" name="out_dep_position" required placeholder="填入厂牌后带出" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">   
                                    <div class="input-group date datePicker" id="dp1">
                                        <span class="input-group-addon">调出日期:</span>
                                        <input class="form-control" type="text" id="out_time" name="out_time" autocomplete="off" readonly required />
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                                    </div> 
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">                                
                                    <div class="input-group">
                                        <div class="input-group-addon">调入部门:</div>
                                        <input type="text" class="form-control" name="in_dep_name" id="in_dep_name" required placeholder="点击选择人事部门" />
                                        <input type="hidden" id="in_dep_id" name="in_dep_id" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">                                
                                    <div class="input-group">
                                        <div class="input-group-addon">调入岗位:</div>
                                        <input type="text" class="form-control" name="in_dep_position" required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">   
                                    <div class="input-group date datePicker" id="dp2">
                                        <span class="input-group-addon">到岗日期:</span>
                                        <input class="form-control" type="text" id="in_time" name="in_time" autocomplete="off" readonly required />
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-remove"></span> 取消</button>
                    <button type="button" class="btn btn-success" id="saveBt"><span class="fa fa-check-circle"></span> 确认</button>
                </div>
            </div>
        </div>
    </div>
}
