@using EmpInfo.Models;
@using Newtonsoft.Json;
@{
    BeginAuditModel bam = (BeginAuditModel)ViewData["bam"];
    ei_mqApply otherInfo = (ei_mqApply)bam.otherInfo;
    string auditJson = JsonConvert.SerializeObject(bam.otherInfo);
    string startDate = ((DateTime)otherInfo.apply_time).ToString("yyyy-MM-dd");
    string endDate = ((DateTime)otherInfo.apply_time).AddDays(30).ToString("yyyy-MM-dd");

}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <style type="text/css">
        .b-label {
            display: inline-block;
            width: 85px;
            color: gray;
            vertical-align: middle;
        }

        .b-input {
            display: inline-block;
            width: 70%;
        }

        .b-div {
            margin: 6px 0;
        }

        .op_bt {
            cursor: pointer;
        }
    </style>

}
@section Scripts {
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")"></script>
    <script src="@Url.Content("~/Scripts/myUserSelecter.js")"></script>
    <script>
        $(function () {
            $(".datePicker").datetimepicker({
                language: 'zh-CN',
                format: "yyyy-mm-dd",
                autoclose: true,
                startView: 2,
                minView: 2,
                startDate: "@startDate",
                endDate:"@endDate"
            });
            $("#hasTalked").iCheck({
                checkboxClass: 'icheckbox_square-red'
            });
            $("#hasTalked").on("ifChecked",function(){
                $("#keepSuc").removeAttr("disabled");
                $("#keepFail").removeAttr("disabled");
            });
            $("#hasTalked").on("ifUnchecked",function(){
                $("#keepSuc").attr("disabled","disabled");
                $("#keepFail").attr("disabled","disabled");
            });

            $(".selectUser").on("focus", function () {
                var self = this;
                $.selectUsers({
                    userLimit:3,
                    userHasSelected: $(self).val(),
                    callback: function (result) {
                        $(self).val(result);
                    }
                });
            });
            $("#applyContent").load("CheckApply #topContainer", { sysNo: "@bam.sysNum" }, function () {
                $($("#applyContent .panel-heading")[0]).html("<i class='fa fa-list'></i> @bam.billTypeName 详情");
                $("#waiting").remove();
                $(".auditContent").css("visibility", "visible");
                $("#flowRecordBt").on("click", function () {
                    var box = $("<div></div>");
                    $(box).load("CheckFlowRecord .list-group", { sysNo: "@bam.sysNum" }, function () {
                        openMessageDialog($(box).html(), "查看流转记录");
                    });
                });                
            });

            $("#hrTalkBt").on("click",function(){
                openConfirmDialog("确认要申请人事面谈吗？", function () {
                    $.post("../ApplyExtra/NeedHRTalk",{sysNo:"@bam.sysNum"},function(data){
                        if(!data.suc){
                            toastr.error(data.msg);
                            return;
                        }
                        openMessageDialog("人事面谈预约成功，具体时间和地点稍后会通过企业微信推送到您手机，请注意查收。<br />面谈结束后请再回到此流程选择处理方式。","人事面谈预约结果");
                    })
                });
            });

            var auditJson=@Html.Raw(auditJson);
            auditJson.leave_date=utils.parseTDate(auditJson.leave_date);
            utils.loadObjData($("#auditForm"),auditJson);
            //如果有cookie，就读取
            $("input[name='charger_name']").val($.cookie("charger_name"));
            $("input[name='produce_minister_name']").val($.cookie("produce_minister_name"));
            $("input[name='highest_charger_name']").val($.cookie("highest_charger_name"));
        });
        function audit(dealWay) {
            $("#dealWay").val(dealWay);

            //设置cookie
            var fm=utils.getFormObj($("#auditForm"));
            var ckey,cvalue;
            if(fm.charger_name){
                ckey="charger_name";
                cvalue=$("input[name='charger_name']").val();
            }
            if(fm.produce_minister_name){
                ckey="produce_minister_name";
                cvalue=$("input[name='produce_minister_name']").val();
            }
            console.log(ckey+":"+cvalue);
            if(ckey && cvalue){
                $.cookie(ckey,cvalue,{expires:400});
            }

            openConfirmDialog("确认要选择此处理选项吗：" + dealWay + "？", function () {
                $.ajax({
                    type: 'post',
                    url: 'HandleApply',
                    data: $("#auditForm").serialize(),
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data.suc) {
                            toastr.success(data.msg);
                            setTimeout(function () { window.location.href = "GetMyAuditingList?billType=JM"; }, 2000);
                        } else {
                            toastr.error(data.msg);
                        }

                    }
                });

            });
        }
    </script>
}
@*通过load获取申请单内容*@
<div class="text-center text-danger" id="waiting"><i class="fa fa-3x fa-spinner fa-pulse"></i></div>
<div id="applyContent"></div>


@*审批信息*@
<div class="auditContent">
    <div class="panel panel-primary">
        <div class="panel-heading" id="auditHead">
            <i class='fa fa-pencil'></i> 开始审批
        </div>
        <div class="panel-body">
            @if (bam.isPass == null) {
                <form id="auditForm">
                    <input type="hidden" name="sysNo" value="@bam.sysNum" />
                    <input type="hidden" name="step" value="@bam.step" />
                    <input type="hidden" name="stepName" value="@bam.stepName" />
                    <input type="hidden" name="dealWay" id="dealWay" />
                    @if (!bam.stepName.Contains("申请人")) {
                        <div class="b-div">
                            <span class="b-label" style="vertical-align:top;">
                                <span>批准离职时间: </span>
                            </span>
                            <span style="display:inline-block;width:70%">
                                <span class="input-group date datePicker">
                                    <input class="form-control" type="text" id="leave_date" name="leave_date" autocomplete="off" />
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                                </span>
                            </span>
                        </div>
                        <div class="b-div">
                            <span class="b-label" style="vertical-align:top;">
                                工作评价:
                            </span>
                            <span style="display:inline-block;width:70%">
                                <select class="form-control" name="work_evaluation" id="work_evaluation">
                                    <option value="">---- 下拉选择评价 ----</option>
                                    @foreach (var d in new string[] { "良好", "一般", "较差" }) {
                                        <option value="@d">@d</option>
                                    }
                                </select>
                            </span>
                        </div>
                        <div class="b-div">
                            <span class="b-label" style="vertical-align:top;">
                                工作评价描述:
                            </span>
                            <span style="display:inline-block;width:70%">
                                <textarea type="text" class="form-control" rows="3" id="work_comment" name="work_comment" placeholder="对离职员工的工作情况进行描述"></textarea>
                            </span>
                        </div>
                        <div class="b-div">
                            <span class="b-label" style="vertical-align:top;">
                                本部是否再录用:
                            </span>
                            <span style="display:inline-block;width:70%">
                                <select class="form-control" name="wanna_employ" id="wanna_employ">
                                    <option value="">---- 下拉进行选择 ----</option>
                                    @foreach (var d in new string[] { "是", "否", "建议公司不再录用" }) {
                                        <option value="@d">@d</option>
                                    }
                                </select>
                            </span>
                        </div>
                        <div class="b-div">
                            <span class="b-label" style="vertical-align:top;">
                                是否再录用原因:
                            </span>
                            <span style="display:inline-block;width:70%">
                                <textarea type="text" class="form-control" rows="3" id="employ_comment" name="employ_comment" placeholder="是否愿意再次录用此离职员工的原因"></textarea>
                            </span>
                        </div>
                        if (bam.stepName.Contains("组长") && otherInfo.charger_name == null) {
                            <div class="b-div">
                                <span class="b-label" style="vertical-align:top;">
                                    主管:
                                </span>
                                <span style="display:inline-block;width:70%">
                                    <input type="text" class="form-control selectUser" name="charger_name" placeholder="选择主管" />
                                </span>
                            </div>
                        }
                        if (bam.stepName.Contains("主管") && otherInfo.produce_minister_name == null) {
                            <div class="b-div">
                                <span class="b-label" style="vertical-align:top;">
                                    生产部长:
                                </span>
                                <span style="display:inline-block;width:70%">
                                    <input type="text" class="form-control selectUser" name="produce_minister_name" placeholder="选择生产部长" />
                                </span>
                            </div>
                        }
                        <div class="b-div">
                            <span class="b-label" style="vertical-align:top;">
                                审核意见:
                            </span>
                            <span style="display:inline-block;width:70%">
                                <textarea class="form-control" rows="2" id="opinion" name="opinion"></textarea>
                            </span>
                        </div>

                        if (bam.stepName.Contains("组长") || bam.stepName.Contains("主管")) {
                            <div class="b-div">
                                <span class="b-label" style="vertical-align:top;">
                                    是否已面谈:
                                </span>
                                <span style="display:inline-block;width:70%">
                                    <input type="checkbox" id="hasTalked" name="hasTalked" /> <span class="text-danger"><i class="fa fa-info-circle"></i> 与员工面谈后，勾选此项才可选择【挽留成功】和【挽留失败】</span>
                                </span>
                            </div>
                        }
                    }
                </form>
            }
            <div style="margin-top:12px;"></div>
            @if (bam.isPass == null) {
                if (bam.stepName.Contains("申请人再确认")) {
                    <div>
                        <button type="button" id="hrTalkBt" class="btn btn-block btn-success" style="margin-bottom:6px;">申请人事面谈，协调换部门</button>
                    </div>
                }
                <div class="btn-group btn-group-justified" role="group">
                    @if (bam.stepName.Contains("申请人")) {                        
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger" onclick="audit('坚持辞职')">坚持辞职</button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-success" onclick="audit('撤销辞职')">撤销辞职</button>
                        </div>
                    }
                    else {
                        if (bam.stepName.Contains("组长") || bam.stepName.Contains("主管")) {
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-danger" onclick="audit('挽留失败')" id="keepSuc" disabled>挽留失败</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-success" onclick="audit('挽留成功')" id="keepFail" disabled>挽留成功</button>
                            </div>
                        }                   
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary" onclick="audit('同意辞职')">同意辞职</button>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
@section Modal {
    @Html.Partial("_MessageDialog")
    @Html.Partial("_ConfirmDialog")
}
