@using EmpInfo.Models;
@{
    ei_stockAdminApply sa = (ei_stockAdminApply)ViewData["sa"];
}
@section CSS{
    <style type="text/css">
        
        #contentTb th{
            color: gray;
            font-weight:normal;
            font-style:italic;
        }

        #al_file_tb th {
            font-size: small;
            text-align: center;
        }

        #al_file_tb td {
            font-size: small;
            text-align: center;
        }

        #al_file_list i {
            cursor: pointer;
        }
    </style>
}
@section Scripts {
    <script>
        $(function () {            
            $("#flowRecordBt").on("click", function () {                
                var box = $("<div></div>");
                $(box).load("@Url.Content("~/Apply/CheckFlowRecord") .list-group", { sysNo: "@sa.sys_no" }, function () {
                    openMessageDialog($(box).html(), "查看流转记录");
                });
                
            });
        });
</script>
}
<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
                    <li><span class="glyphicon glyphicon-hand-right"></span></li>
                    <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
                    <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
                    <li><a href="@string.Concat(Url.Content("~/Apply/ApplyIndex?billType=SA&billName="), Uri.EscapeDataString("仓管权限申请"))">仓管权限</a></li>
                    <li class="active">查看详情</li>
                </ol>
            </div>
            <div class="panel-body">               

                <table style="width:100%;border-collapse:separate; border-spacing:8px;" id="contentTb">
                    <tr>
                        <th style="width:28%;">
                            审核状态                            
                        </th>
                        <td style="width:72%;">
                            <span class="pull-left" style="margin-top:5px;">@ViewData["auditStatus"]</span>                            
                            <button type="button" class="btn btn-default btn-sm pull-right" id="flowRecordBt"><i class="fa fa-level-down"></i> 流转记录</button>
                            
                        </td>
                    </tr>
                    <tr>
                        <th>申请流水号</th>
                        <td>
                            @sa.sys_no
                            
                        </td>
                    </tr>                    
                    <tr>
                        <th>申请人</th>
                        <td>@(sa.applier_name+"("+sa.applier_num+")")</td>
                    </tr>                    
                    <tr>
                        <th>申请时间</th>
                        <td>@(((DateTime)sa.apply_time).ToString("yyyy-MM-dd HH:mm"))</td>
                    </tr>
                    <tr>
                        <th>账套名称</th>
                        <td>@sa.k3_account_name</td>
                    </tr>
                    <tr>
                        <th>仓库名称</th>
                        <td>@sa.k3_stock_name</td>
                    </tr>
                    <tr>
                        <th>仓库代码</th>
                        <td>@sa.k3_stock_num</td>
                    </tr>
                    <tr>
                        <th>申请原因</th>
                        <td>@sa.comment</td>
                    </tr>                    
                </table>                  
            </div>
        </div>
    </div>
</div>
@section Modal {
    @Html.Partial("_MessageDialog")
}
