@using EmpInfo.Models;
@{
    ETCheckApplyModel m = ViewData["am"] as ETCheckApplyModel;
    ei_etApply et = m.et;
    List<ei_etApplyEntry> entrys = m.entrys;    
}

@section CSS{
    <style type="text/css">        
        #contentTb th{
            color: gray;
            font-weight:normal;
            font-style:italic;
        }
    </style>
}
@section Scripts {
    <script>
    $(function () {
        $("#attDiv").load("../Item/PicAttachments", { sysNo: "@et.sys_no" }, function () { });
        $("#flowRecordBt").on("click", function () {
            var box = $("<div></div>");
            $(box).load("CheckFlowRecord .list-group", { sysNo: "@et.sys_no" }, function () {
                openMessageDialog($(box).html(), "查看流转记录");
            });
        });
        $("#printBt").on("click", function () {
            var w = $(document).width();
            if (w > 900) {
                window.location.href = "@Url.Content("~/Report/PrintET?sysNo=")" + "@et.sys_no";
            } else {
                toastr.error("必须在大屏幕显示器上打印");
            }
        });
    });
</script>
}
<div class="row" style="margin-left:0;margin-right:0;">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" style="padding-left:0;padding-right:0;">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
                    <li><span class="glyphicon glyphicon-hand-right"></span></li>
                    <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
                    <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
                    <li><a href="ApplyIndex?billType=ET">紧急出货运输申请</a></li>
                    <li class="active">查看详情</li>
                </ol>
            </div>
            <div class="panel-body">

                <table style="width:100%;border-collapse:separate; border-spacing:8px;" id="contentTb">
                    <tr>
                        <th style="width:28%;">
                            审核状态
                        </th>
                        <td style="width:72%;">
                            <span class="pull-left" style="margin-top:5px;">@ViewData["auditStatus"]</span>
                            <button type="button" class="btn btn-default btn-sm pull-right" id="flowRecordBt"><i class="fa fa-level-down"></i> 流转记录</button>
                        </td>
                    </tr>
                    <tr>
                        <th>申请流水号</th>
                        <td>
                            <span class="pull-left" style="margin-top:5px;">@et.sys_no</span>
                            @if (ViewData["auditStatus"].Equals("已通过")) { 
                                <button type="button" class="btn btn-default btn-sm pull-right" id="printBt"><i class="fa fa-print"></i> 打印</button>
                            }
                        </td>
                    </tr>                    
                    <tr>
                        <th>申请人</th>
                        <td>
                            @et.applier_name
                        </td>
                    </tr>
                    <tr>
                        <th>联系电话</th>
                        <td>
                            @et.applier_phone
                        </td>
                    </tr>           
                    <tr>
                        <th>申请时间</th>
                        <td>@(((DateTime)et.apply_time).ToString("yyyy-MM-dd HH:mm"))</td>
                    </tr>
                    <tr>
                        <th>市场部</th>
                        <td>@et.market_name</td>
                    </tr>
                    <tr>
                        <th>出货公司</th>
                        <td>@et.company</td>
                    </tr>
                    <tr>
                        <th>客户</th>
                        <td>@et.customer_name</td>
                    </tr>
                    <tr>
                        <th>生产事业部</th>
                        <td>@et.bus_dep</td>
                    </tr>
                    <tr>
                        <th>出货时间</th>
                        <td>@(((DateTime)et.out_time).ToString("yyyy-MM-dd HH:mm"))</td>
                    </tr>
                    <tr>
                        <th>运输方式</th>
                        <td>@et.transfer_style</td>
                    </tr>
                    <tr>
                        <th>总毛重(KG)</th>
                        <td>@et.gross_weight</td>
                    </tr>
                    <tr>
                        <th>件数</th>
                        <td>@et.pack_num</td>
                    </tr>
                    <tr>
                        <th>包装箱尺寸</th>
                        <td>@et.box_size</td>
                    </tr>
                    <tr>
                        <th>卡板尺寸</th>
                        <td>@et.cardboard_size</td>
                    </tr>
                    <tr>
                        <th>送货地址</th>
                        <td>@et.addr</td>
                    </tr>
                    <tr>
                        <th>出货要求</th>
                        <td>@et.demand</td>
                    </tr>
                    <tr>
                        <th>申请原因</th>
                        <td>@et.reason</td>
                    </tr>
                    <tr>
                        <th>责任备注</th>
                        <td>@et.responsibility</td>
                    </tr>
                    @if (et.normal_fee != null) { 
                    <tr>
                        <th>货运公司</th>
                        <td>@et.dilivery_company</td>
                    </tr>
                    <tr>
                        <th>正常运费</th>
                        <td>@et.normal_fee</td>
                    </tr>
                    <tr>
                        <th>申请运费</th>
                        <td>@et.apply_fee</td>
                    </tr>
                    <tr>
                        <th>运费差额</th>
                        <td>@et.different_fee</td>
                    </tr>
                    }
                </table>   
                @if (et.has_attachment == true) {
                    <div class="b-div" id="attDiv"></div>
                }               
                <div class="b-div">
                    <div class="panel panel-default" id="al_file_panel">
                        <div class="panel-heading">出货明细</div>
                        <div class="panel-body" style="padding:0 8px;">
                            <table class="table table-condensed table-hover" style="margin:10px 0;">
                                <thead>
                                    <tr>
                                        <th style="width:20%;">订单单号</th>
                                        <th style="width:25%;">产品名称</th>
                                        <th style="width:35%;">规格型号</th>
                                        <th style="width:20%;">出货数量</th>
                                    </tr>
                                </thead>
                                <tbody id="al_file_list">
                                    @foreach (var e in entrys) {
                                        <tr>
                                            <td>@e.order_number</td>
                                            <td>@e.item_name</td>
                                            <td>@e.item_modual</td>
                                            <td>@(((decimal)e.qty).ToString("###,###.####"))</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Modal {
    @Html.Partial("_MessageDialog")
}

