@using EmpInfo.Models;
@{
    ei_CRApply cr = ViewData["am"] as ei_CRApply;    
}
@section CSS{
    <style type="text/css">
        #contentTb th {
            color: gray;
            font-weight: normal;
            font-style: italic;
        }       
    </style>
}
@section Scripts {
    <script>
        $(function () {
            $("#attDiv").load("../Item/PicAttachments", { sysNo: "@cr.sys_no" }, function () { });
            $("#flowRecordBt").on("click", function () {
                var box = $("<div></div>");
                $(box).load("CheckFlowRecord .list-group", { sysNo: "@cr.sys_no" }, function () {
                    openMessageDialog($(box).html(), "查看流转记录");
                });

            });
        });
    </script>
}
<div class="row" style="margin-left:0;margin-right:0;">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" style="padding-left:0;padding-right:0;">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
                    <li><span class="glyphicon glyphicon-hand-right"></span></li>
                    <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
                    <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
                    <li><a href="@Url.Content("~/Apply/ApplyIndex?billType=CR")">考勤补记申请单</a></li>
                    <li class="active">查看详情</li>
                </ol>
            </div>
            <div class="panel-body">                

                <table style="width:100%;border-collapse:separate; border-spacing:8px;" id="contentTb">
                    <tr>
                        <th style="width:28%;">
                            审核状态
                        </th>
                        <td style="width:72%;">
                            <span class="pull-left" style="margin-top:5px;">@ViewData["auditStatus"]</span>
                            <button type="button" class="btn btn-default btn-sm pull-right" id="flowRecordBt"><i class="fa fa-level-down"></i> 流转记录</button>
                        </td>
                    </tr>
                    <tr>
                        <th>申请流水号</th>
                        <td>
                            @cr.sys_no
                        </td>
                    </tr>
                    <tr>
                        <th>申请人</th>
                        <td>
                            <span class="pull-left" style="margin-top:5px;">@string.Concat(cr.applier_name,"(",cr.applier_num,")")</span>
                        </td>
                    </tr>
                    <tr>
                        <th>申请时间</th>
                        <td>@(((DateTime)cr.apply_time).ToString("yyyy-MM-dd HH:mm"))</td>
                    </tr>
                    <tr>
                        <th>所属部门</th>
                        <td>@cr.dep_long_name</td>
                    </tr>
                    <tr>
                        <th>漏刷日期</th>
                        <td>@(((DateTime)cr.forgot_date).ToString("yyyy-MM-dd"))</td>
                    </tr>
                    <tr>
                        <th>漏刷时间</th>
                        <td>@cr.time1 @cr.time2 @cr.time3 @cr.time4</td>
                    </tr>
                    <tr>
                        <th>漏刷原因</th>
                        <td>@cr.reason</td>
                    </tr>
                    <tr>
                        <th>备注</th>
                        <td>@cr.comment</td>
                    </tr>
                </table>     
                @if (cr.has_attachment == true) {
                    <div class="b-div" id="attDiv"></div>
                }                          
            </div>
        </div>
    </div>
</div>
@section Modal {
    @Html.Partial("_MessageDialog")
}
