@using EmpInfo.Models;
@using Newtonsoft.Json;
@{
    UserInfo currentUser = ViewData["currentUser"] as UserInfo;
    var m = ViewData["am"] as FXCheckApplyModel;
    var h = m.bill;
    var entryJson = JsonConvert.SerializeObject(m.entrys);
    var itemJson = JsonConvert.SerializeObject(m.items);
    bool isSelfTaken = h.fx_type_no.StartsWith("2");

}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/webupload/webuploader.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
    @*<link rel="stylesheet" href="@Url.Content("~/Content/prettyPhoto.css")" />*@

    <style type="text/css">
        .b-label {
            display: inline-block;
            width: 100px;
            vertical-align: top;
            color: gray;
        }

        .b-input {
            display: inline-block;
            width: 65%;
        }

        .b-div {
            margin: 10px 0;
        }
    </style>
}

@section Scripts {
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.prettyPhoto_full.js")"></script>*@
    <script src="@Url.Content("~/Scripts/myDownloaderPro.js?v=2")"></script>

    <script>
    var minutes=30; //自提二维码有效分钟数
    $("#tb").bootstrapTable({
        striped: true,
        data:@Html.Raw(entryJson),
            columns: [
                {
                    field: "item_name",
                    title: "物品名称"
                }, {
                    field: "item_model",
                    title: "物品型号"
                }, {
                    field: "item_qty",
                    title: "数量"
                }, {
                    field: "item_unit",
                    title: "单位"
                }, {
                    field: "comment",
                    title: "备注"
                }
            ]
        });

        $("#tb2").bootstrapTable({
            striped: true,
            data:@Html.Raw(itemJson),
            columns: [
                {
                    field: "item_name",
                    title: "物品名称"
                }, {
                    field: "item_model",
                    title: "物品型号"
                }, {
                    field: "in_qty",
                    title: "入厂数量"
                }, {
                    field: "out_qty",
                    title: "出厂数量"
                }, {
                    field: "unit_name",
                    title: "单位"
                }, {
                    field: "comment",
                    title: "备注"
                }
            ]
        });

        $(function () {
            $("#attList").myDownloader({ sysNum: "@h.sys_no" });

        $("#flowRecordBt").on("click", function () {
            var box = $("<div></div>");
            $(box).load("../Apply/CheckFlowRecord .list-group", { sysNo: "@h.sys_no" }, function () {
                openMessageDialog($(box).html(), "查看流转记录");
            });
        });

        $("#printBt").on("click",function(){
            window.open("../Report/PrintFX?sysNo=@h.sys_no");
        });

        $("#showCode").on("click",function(){
            $("#codeModal").modal("show");
            genQrCode();
        });

        $("#reGenCodeBt").on("click",function(){
            genQrCode();
        })

        genOtherSeg();
    });

    function genOtherSeg(){
        var segs=@Html.Raw(h.other_segs);
        for(var i=0;i<segs.length;i++){
            //要分段填写，不能写成一行，否则会与原有的用html写的字段对不齐
            var html='<div class="b-div"> \
                <span class="b-label"> \
                '+segs[i].n
                +':</span> \
                <span class="b-input"> \
                '+segs[i].v
                +'</span> \
                </div>';
            $("#fxExtraFields").append(html);
        }
    }

    function genQrCode(){
        $("#codeDiv").css("background-image","url('../Home/GetFXQrCode?sysNo=@h.sys_no&r="+Math.random()+"')");
        var time=new Date(Date.now()+minutes*60*1000);
        var str=utils.parseJsDate(time,true);
        $("#expire_time").html(str);
        $("#valid_minutes").html(minutes);
    }

    </script>
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公</a></li>
            <li><a href="@Url.Content("~/Apply/ApplyIndex?billType=FX")">放行条申请流程</a></li>
            <li class="active">查看申请</li>
        </ol>
    </div>
    <div class="panel-body">
        <div class="b-div">
            <span class="b-label">
                流转记录:
            </span>
            <span class="b-input">
                <button type="button" class="btn btn-default btn-sm" id="flowRecordBt"><i class="fa fa-level-down"></i> 流转记录</button>
            </span>
        </div>    
        @if (h.can_print && h.out_time == null && !"被拒绝".Equals(ViewData["auditStatus"])) {
            if (isSelfTaken) {                
                    <div class="b-div">
                        <span class="b-label">
                            出示:
                        </span>
                        <span class="b-input">
                            <button type="button" class="btn btn-default btn-sm" id="showCode"><i class="fa fa-qrcode"></i> 放行二维码</button>
                        </span>
                    </div>
            }
            else {
                <div class="b-div">
                    <span class="b-label">
                        打印:
                    </span>
                    <span class="b-input">
                        <button type="button" class="btn btn-default btn-sm" id="printBt"><i class="fa fa-print"></i> 打印放行条</button>
                    </span>
                </div>
            }
        }
            
        <div style="margin-top:6px;">
            <div class="b-label">附件列表:</div>
            <div id="attList"></div>
        </div>
        <div class="b-div">
            <span class="b-label">
                业务类型:
            </span>
            <span class="b-input">
                @h.fx_type_name
            </span>
        </div>
        <div class="b-div">
            <span class="b-label">
                申请流程:
            </span>
            <span class="b-input">
                @h.fx_process
            </span>
        </div>
        <div class="b-div">
            <span class="b-label">
                申请流水号:
            </span>
            <span class="b-input">
                @h.sys_no
            </span>
        </div>
        <div class="b-div">
            <span class="b-label">
                申请人:
            </span>
            <span class="b-input">
                @h.applier_name
            </span>
        </div>
        <div class="b-div">
            <span class="b-label">
                联系电话:
            </span>
            <span class="b-input">
                @h.applier_phone
            </span>
        </div>
        <div class="b-div">
            <span class="b-label">
                公司:
            </span>
            <span class="b-input">
                @h.company
            </span>
        </div>
        <div class="b-div">
            <span class="b-label">
                部门:
            </span>
            <span class="b-input">
                @h.bus_name
            </span>
        </div>
        <div class="b-div">
            <span class="b-label">
                放行厂区:
            </span>
            <span class="b-input">
                @h.from_addr
            </span>
        </div>
        <div class="b-div">
            <span class="b-label">
                收货区域:
            </span>
            <span class="b-input">
                @h.to_scope
            </span>
        </div>
        <div class="b-div">
            <span class="b-label">
                收货公司全称:
            </span>
            <span class="b-input">
                @h.receiver_cop_name
            </span>
        </div>
        <div class="b-div">
            <span class="b-label">
                收货地址:
            </span>
            <span class="b-input">
                @h.to_addr
            </span>
        </div>
        <div class="b-div">
            <span class="b-label">
                件数:
            </span>
            <span class="b-input">
                @h.total_pack_num
            </span>
        </div>
        @if (!isSelfTaken) {
            <div class="b-div">
                <span class="b-label">
                    收件人:
                </span>
                <span class="b-input">
                    @h.receiver_name
                </span>
            </div>
            <div class="b-div">
                <span class="b-label">
                    收件人电话:
                </span>
                <span class="b-input">
                    @h.receiver_phone
                </span>
            </div>
            <div class="b-div">
                <span class="b-label">
                    快递公司:
                </span>
                <span class="b-input">
                    @h.ex_company
                </span>
            </div>
            <div class="b-div">
                <span class="b-label">
                    快递单号:
                </span>
                <span class="b-input">
                    @h.ex_no
                </span>
            </div>
        }
        @if (isSelfTaken) {
            <div class="b-div">
                <span class="b-label">
                    带出人类型:
                </span>
                <span class="b-input">
                    @h.take_out_people_type
                </span>
            </div>
            if (h.take_out_people_type != "申请人") {
                <div class="b-div">
                    <span class="b-label">
                        带出人姓名:
                    </span>
                    <span class="b-input">
                        @h.take_out_people_name
                    </span>
                </div>
                <div class="b-div">
                    <span class="b-label">
                        带出人电话:
                    </span>
                    <span class="b-input">
                        @h.take_out_people_phone
                    </span>
                </div>
            }
            if (h.take_out_people_type == "外来人员") {
                <div class="b-div">
                    <span class="b-label">
                        带出人预约码:
                    </span>
                    <span class="b-input">
                        @h.take_out_people_code
                    </span>
                </div>
                if (!string.IsNullOrEmpty(h.take_out_people_id)) { 
                    <div class="b-div">
                        <span class="b-label">
                            带出人身份证:
                        </span>
                        <span class="b-input">
                            @h.take_out_people_id
                        </span>
                    </div>
                }
                if (!string.IsNullOrEmpty(h.take_out_people_car)) { 
                    <div class="b-div">
                        <span class="b-label">
                            带出人车牌号:
                        </span>
                        <span class="b-input">
                            @h.take_out_people_car
                        </span>
                    </div>
                }
                if (!string.IsNullOrEmpty(h.take_out_people_visit_no)) { 
                    <div class="b-div">
                        <span class="b-label">
                            带出人访客证:
                        </span>
                        <span class="b-input">
                            @h.take_out_people_visit_no
                        </span>
                    </div>
                }
            }
        }
        <div class="b-div">
            <span class="b-label">
                申请原因:
            </span>
            <span class="b-input">
                @h.reason
            </span>
        </div>
        <div class="b-div">
            <span class="b-label">
                备注:
            </span>
            <span class="b-input">
                @h.comment
            </span>
        </div>
        <!--存放此业务类型的额外内容-->
        <div id="fxExtraFields"></div>

        @if (h.out_time != null) {
            <div class="b-div">
                <span class="b-label">
                    放行状态:
                </span>
                <span class="b-input">
                    @h.out_status
                </span>
            </div>
            <div class="b-div">
                <span class="b-label">
                    放行时间:
                </span>
                <span class="b-input">
                    @(((DateTime)h.out_time).ToString("yyyy-MM-dd HH:mm"))
                </span>
            </div>
            <div class="b-div">
                <span class="b-label">
                    放行人:
                </span>
                <span class="b-input">
                    @h.out_guard
                </span>
            </div>
            if (!string.IsNullOrEmpty(h.out_gate)) {
                <div class="b-div">
                    <span class="b-label">
                        放行大门:
                    </span>
                    <span class="b-input">
                        @h.out_gate
                    </span>
                </div>
            }
        }

        @if (m.entrys.Count() > 0) { 
            <div class="b-div" style="margin-top:16px;">
                <span class="b-label">
                    放行物品:
                </span>
                <div class="b-input">
                </div>
            </div>
            <table data-toggle="table" id="tb"></table>
        }
        @if (m.items.Count() > 0) {
            <div class="b-div" style="margin-top:24px;">
                <span class="b-label">
                    自带物品:
                </span>
                <div class="b-input"></div>
            </div>
            <table data-toggle="table" id="tb2"></table>
        }
    </div>
</div>
@section Modal {
    @Html.Partial("_MessageDialog")

    <div class="modal fade" id="codeModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="codeModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="fa fa-qrcode"></i> 查看放行二维码(@h.sys_no)</h4>
                </div>
                <div class="modal-body">
                    <div id="codeDiv" style="background-size:200px;background-repeat:no-repeat;background-position:center;height:200px;">
                        <img src="~/Content/images/Trulyicon.jpg" class="center-block" style="width:32px;height:auto; padding-top:84px;" />
                    </div>
                    <div style="margin-top:16px;" class="text-danger small">
                        <div style="font-weight:bold;margin-bottom:6px;">注意事项：</div>
                        <div style="padding-left:12px;">
                            <div>1. 此放行二维码有时效性，生成后仅在<span id="valid_minutes"></span>分钟有效，超过即失效。</div>
                            <div>2. 重新打开二维码对话框或者点击【刷新二维码】按钮，会重新刷新二维码，并重置失效时间。</div>
                            <div>3. 当前显示的二维码失效时间为：<span id="expire_time"></span></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> 关闭</button>
                    <button id="reGenCodeBt" type="button" class="btn btn-success"><i class="fa fa-refresh"></i> 刷新二维码</button>
                </div>
            </div>
        </div>
    </div>
}