@using EmpInfo.Models
@using Newtonsoft.Json
@{
    ei_sjApply m = ViewData["am"] as ei_sjApply;
    JsonSerializerSettings js = new JsonSerializerSettings();
    js.ReferenceLoopHandling = ReferenceLoopHandling.Ignore;
    string entryJson = JsonConvert.SerializeObject(m.ei_sjApplyEntry.ToList(), js);
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
    <style type="text/css">
        .b-label {
            display: inline-block;
            width: 85px;
            color: gray;
            vertical-align: middle;
        }

        .b-input {
            display: inline-block;
            width: 70%;
        }

        .b-div {
            margin: 4px 0;
        }
    </style>
}
@section Scripts {
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/extensions/mobile/bootstrap-table-mobile.min.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>

    <script>
        $(function () {
            $("#flowRecordBt").on("click", function () {
                var box = $("<div></div>");
                $(box).load("CheckFlowRecord .list-group", { sysNo: "@m.sys_no" }, function () {
                    openMessageDialog($(box).html(), "查看流转记录");
                });

            });
        });
        $("#tb").bootstrapTable({
            striped: true,
            mobileResponsive: true,
            pagination: false,
            data:@Html.Raw(entryJson),
            columns: [{
                field: "is_agree",
                title: "是否同意",
                formatter:function(value,row,index){
                    if(value){
                        return "同意调动";
                    }else{
                        return "拒绝调动";
                    }
                },
                cellStyle:function(value,row,index){
                    var color = "green";
                    if(!value){
                        color="red";
                    }
                    return { css: { color: color } };
                }
            },{
                    field: "card_number",
                    title: "厂牌"
                }, {
                    field: "name",
                    title: "姓名"
                }, {
                    field: "sex",
                    title: "性别"
                }, {
                    field: "education",
                    title: "学历"
                }, {
                    field: "account",
                    title: "账号"
                }, {
                    field: "out_dep_name",
                    title: "调出部门"
                }, {
                    field: "out_dep_id",
                    visible: false
                }, {
                    field: "out_dep_position",
                    title: "调出岗位"
                }, {
                    field: "out_time",
                    title: "调出日期",
                    formatter: function (value, row, index, field) {
                        return utils.parseTDate(value);
                    }
                }, {
                    field: "in_dep_name",
                    title: "调入部门"
                }, {
                    field: "in_dep_id",
                    visible: false
                }, {
                    field: "in_dep_position",
                    title: "调入岗位"
                }, {
                    field: "in_time",
                    title: "到岗日期",
                    formatter: function (value, row, index, field) {
                        return utils.parseTDate(value);
                    }
                }
            ]
        });
    </script>
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
            <li><a href="@Url.Content("~/Home/NoPaperProcess")">无纸化流程</a></li>
            <li><a href="ApplyIndex?billType=SJ">员工调动申请流程</a></li>
            <li class="active">查看申请单</li>
        </ol>
    </div>
    <div class="panel-body">
            <div class="b-div">
                <span class="b-label">
                    流转记录:
                </span>
                <span class="b-input">
                    <button type="button" class="btn btn-default btn-sm" id="flowRecordBt"><i class="fa fa-level-down"></i> 流转记录</button>
                </span>
            </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="b-div">
                    <span class="b-label">
                        申请流水号:
                    </span>
                    <span class="b-input">
                        @m.sys_no
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="b-div">
                    <span class="b-label">
                        申请人:
                    </span>
                    <span class="b-input">
                        @m.applier_name
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="b-div">
                    <span class="b-label">
                        申请时间:
                    </span>
                    <span class="b-input">
                        @(((DateTime)m.apply_time).ToString("yyyy-MM-dd"))
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="b-div">
                    <span class="b-label">
                        调动类型:
                    </span>
                    <div class="b-input">
                        @m.switch_type
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="b-div">
                    <span class="b-label">
                        工资类型:
                    </span>
                    <span class="b-input">
                        @m.salary_type
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="b-div">
                    <span class="b-label">
                        调出部门文员:
                    </span>
                    <span class="b-input">
                        @m.out_clerk_name
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="b-div">
                    <span class="b-label">
                        调出部门主管/经理:
                    </span>
                    <span class="b-input">
                        @m.out_manager_name
                    </span>
                </div>
            </div>
            @if (!string.IsNullOrWhiteSpace(m.out_minister_name)) { 
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="b-div">
                    <span class="b-label">
                        调出部门部长/助理:
                    </span>
                    <span class="b-input">
                        @m.out_minister_name
                    </span>
                </div>
            </div>
            }
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="b-div">
                    <span class="b-label">
                        调入部门文员:
                    </span>
                    <span class="b-input">
                        @m.in_clerk_name
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="b-div">
                    <span class="b-label">
                        调入部门主管/经理:
                    </span>
                    <span class="b-input">
                        @m.in_manager_name
                    </span>
                </div>
            </div>
            @if (!string.IsNullOrWhiteSpace(m.in_minister_name)) { 
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="b-div">
                    <span class="b-label">
                        调入部门部长/助理:
                    </span>
                    <span class="b-input">
                        @m.in_minister_name
                    </span>
                </div>
            </div>
            }
        </div>
        <div class="b-div">
            <span class="b-label" style="vertical-align:top;">
                调动原因/说明:
            </span>
            <span class="b-input">
                @m.comment
            </span>
        </div>
        <div>调动人员信息：</div>
        <table data-toggle="table" id="tb"></table>
    </div>
</div>

@section Modal {
    @Html.Partial("_MessageDialog")
}
