@using EmpInfo.Models
@{
    List<EmpInfo.FlowSvr.FlowAuditListModel> list = (List<EmpInfo.FlowSvr.FlowAuditListModel>)ViewData["list"];
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <style type="text/css">
        #auditDiv .subTitle {
            font-size: small;
            font-style: italic;
            color: gray;
        }
    </style>
}
@section Scripts {
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/extensions/mobile/bootstrap-table-mobile.min.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>
    @*加入以下js，使IE8支持datetimepicker组件*@
    <script>
        if (!Array.prototype.indexOf) {
            Array.prototype.indexOf = function (elt /*, from*/) {
                var len = this.length >>> 0;

                var from = Number(arguments[1]) || 0;
                from = (from < 0)
                     ? Math.ceil(from)
                     : Math.floor(from);
                if (from < 0)
                    from += len;

                for (; from < len; from++) {
                    if (from in this &&
                        this[from] === elt)
                        return from;
                }
                return -1;
            };
        }
    </script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script>
        $("#tb").bootstrapTable({
            striped: true,
            mobileResponsive: true,
            pagination: true,
            pageSize: 30,
            pageList: [10, 30, 50, 100],
            search: true,
            rowStyle: function () {
                return {
                    css: { "cursor": "pointer" }
                };
            },
            onClickRow: function (row, ele, field) {
                var sysNo = $.trim(row[0]);
                window.location.href = "CheckApply?sysNo=" + sysNo;
            }
        });
    $(function () {
        $(".form_date").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            todayBtn: true,
            startView: 2,
            minView: 2
        });
        //设置日期联动，结束日期不能大于起始日期
        $("#fromDatePicker1").on("changeDate", function (e) {
            $('#toDatePicker1').datetimepicker('setStartDate', e.date);
        });
        $("#toDatePicker1").on("changeDate", function (e) {
            $('#fromDatePicker1').datetimepicker('setEndDate', e.date);
        });

        $("#checkBt").on("click", function () {
            window.location.href = "CheckMyAuditedList?"
            + "billType=" + "@ViewData["billType"]" + "&"
                + "fromDate=" + $("#from_date").val() + "&"
                + "toDate=" + $("#to_date").val() + "&"
                + "sysNo=" + $("#sysNo").val() + "&"
                + "cardNo=" + $("#cardNo").val();
            });

            $("#exportExcelBt").on("click", function () {
                toastr.info("请稍等，不要重复点击，正在导出......");
                window.location.href = "@Url.Content("~/Report/BeginExportALAuditedExcel?")"
                + "fromDate=" + $("#from_date").val() + "&"
                + "toDate=" + $("#to_date").val() + "&"
                + "sysNo=" + $("#sysNo").val() + "&"
                + "cardNo=" + $("#cardNo").val();
            });

        });
    </script>
}

<div class="panel panel-success" id="auditDiv">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            @foreach (var n in (ViewData["navigatorLinks"] as List<ApplyNavigatorModel>)) {
                <li><a href="@string.Concat(Url.Content("~/"),n.url)">@n.text</a></li>
            }            
            <li><a href="@string.Concat("ApplyIndex?billType=", ViewData["billType"])">@ViewData["billTypeName"]</a></li>
            <li class="active">我的已办</li>
        </ol>
    </div>
    <div class="panel-body">

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group date form_date" style="margin:6px 0;" id="fromDatePicker1">
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            <input class="form-control" type="text" id="from_date" name="from_date" placeholder="申请起始日期" readonly value="@ViewData["fromDate"]">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group date form_date" style="margin:6px 0;" id="toDatePicker1">
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            <input class="form-control" type="text" id="to_date" name="to_date" placeholder="申请结束日期" readonly value="@ViewData["toDate"]">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" placeholder="此处可输入申请流水号" id="sysNo"  value="@ViewData["sysNo"]"/>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" class="form-control" placeholder="此处可输入申请人厂牌" id="cardNo"  value="@ViewData["cardNo"]"/>
                    </div>
                </div>
                <div style="margin-top:8px;">
                    <button class="btn btn-block btn-success" id="checkBt"><i class="fa fa-check"></i> 开始查询</button>
                </div>
            </div>
        </div>

        @if (list.Count() == 0) {
            <p class="text-center text-warning">暂没有我的已办记录</p>
        }
        else {
            <div class="text-danger"><i>以下是符合筛选条件的已办记录:</i> </div>
            
            <hr style="margin:4px;" />
            if ((string)ViewData["billType"] == "AL") {
                <button class="btn btn-default pull-right" id="exportExcelBt"><i class="fa fa-file-excel-o"></i> 导出到excel</button>
                <div class="clearfix"></div>
            }
            <table id="tb">
                <thead>
                    <tr>
                        <th data-width="10%">申请单号</th>
                        <th data-width="10%">申请日期</th>
                        <th data-width="10%">申请人</th>
                        <th data-width="45%">申请内容</th>
                        <th data-width="10%">审批结果</th>
                        <th data-width="15%">审批节点</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var l in list) {
                        <tr>
                            <td>@l.sysNo</td>
                            <td>@(((DateTime)l.applyTime).ToString("MM-dd HH:mm"))</td>
                            <td>@l.applier</td>
                            <td>@l.title / @l.subTitle</td>
                            <td>@l.auditResult (@l.finalResult)</td>
                            <td>@l.stepName</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>
