@{
    List<EmpInfo.FlowSvr.FlowAuditListModel> list = (List<EmpInfo.FlowSvr.FlowAuditListModel>)ViewData["list"];
}
@section CSS{
    <style type="text/css">
        #auditDiv .subTitle {
            font-size: small;
            font-style: italic;
            color: gray;
        }
    </style>
}

<div class="panel panel-success" id="auditDiv">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公</a></li>
            <li><a href="@Url.Content("~/Apply/StockAdminIndex")">仓管权限</a></li>
            <li class="active">我的已办</li>
        </ol>
    </div>
    <div class="panel-body">

        @if (list.Count() == 0) {
            <p class="text-center text-warning">暂没有我的已办仓管权限申请单记录</p>
        }
        else {
            <h4 class="text-danger"><i>可以查看到最近一年内的已办仓管权限申请记录:</i> </h4>
            <hr />

            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>申请单号 /<span class="subTitle">申请日期</span></td>
                        <td>申请人 /<span class="subTitle">仓库名称</span></td>
                        <td>审批结果 / <span class="subTitle">审批节点</span></td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var l in list) {
                        <tr>
                            <td>@l.sysNo <br /> <span class="subTitle">@(((DateTime)l.applyTime).ToString("MM-dd HH:mm"))</span> </td>
                            <td>@l.applier <span class="text-danger"> @l.title</span> <br /> <span class="subTitle">@l.subTitle</span></td>
                            <td><b class="@(l.auditResult == "OK" ? "text-success" : "text-danger")"> @l.auditResult (@l.finalResult) </b><br /> <span class="subTitle">@l.stepName</span></td>
                            <td style="vertical-align:central;"><a href="CheckSAApply?sysNo=@l.sysNo">查看详细</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>
