@using EmpInfo.Models;

@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/webupload/webuploader.css")" />

    <style type="text/css">
        .b-label {
            display: inline-block;
            width: 25%;
            vertical-align: top;
            color: gray;
        }

        .b-div {
            margin: 10px 0;
        }

        #al_file_tb th {
            font-size: small;
            text-align: center;
        }

        #al_file_tb td {
            font-size: small;
            text-align: center;
        }

        #al_file_list i {
            cursor: pointer;
        }
    </style>
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script src="@Url.Content("~/Scripts/webuploader.min.js")"></script>

    <script>
    var queue;
    $(function () {
        $("#datePicker").datetimepicker({
            language: 'zh-CN',
            format: "yyyy-mm-dd",
            autoclose: true,
            startView: 2,
            maxView: 2,
            minView:2
        });               

        $(".timePicker").datetimepicker({
            language: 'zh-CN',
            format: "hh:ii",
            autoclose: true,
            startView: 1,
            maxView: 1,
            minuteStep: 5,
        });

        //选择部门
        $("#eDepName").on("click", function () {
            openSelectDepDialog(0, function (selectedDep) {
                console.log(selectedDep);
                $("#eDepName").val(selectedDep.depLongName);
                $("#eDepNum").val(selectedDep.depNum);
                $("#eDepId").val(selectedDep.depId);
            });
        });       

        $("#confirmMessage").on("change", function () {
            if ($("#confirmMessage:checked").length > 0) {                
                $("#apply_bt").removeClass("disabled");
            } else {
                $("#apply_bt").addClass("disabled");
            }
        });

        //提交申请
        $("#apply_bt").on("click", function () {
            if (!validateForm()) {
                return;
            }
            $("#hasAttachment").val($("#al_file_list").children().length>0); //是否有附件            
            var forgotDate = Date.parse($("#forgotDate").val().replace(/-/g, "/"));
            if (isNaN(forgotDate)) {
                toastr.error("[漏刷日期]不合日期规则");
                return;
            } else {
                if (new Date(forgotDate).getMonth() != new Date().getMonth()) {
                    //如果开始请假日期不是本月，需要用户再确认 2018-08-08
                    openConfirmDialog("漏刷日期不是本月份，是否确认要继续提交？", function () {
                        setTimeout(function () { BeginApply(); }, 500);
                    });
                } else {
                    BeginApply();
                }
            }

        });        

    });



    //验证表单
    function validateForm() {
        if ($("#eDepNum").val() == "") {
            toastr.error("必须选择[所属部门]");
            return false;
        }
        if ($("input[name='reason']:checked").length < 1) {
            toastr.error("必须选择[漏刷原因]");
            return false;
        }
        if ($("#forgotDate").val() == "") {
            toastr.error("必须填写[漏刷日期]");
            return false;
        }
        var reg = /^(20|21|22|23|[0-1]\d):[0-5]\d$/; //时间正则
        var timeReg = new RegExp(reg);
        if (!reg.test($("#time1").val())) {
            toastr.error("[时间1]必须填写正确的时间");
            return false;
        }

        var time2 = $("#time2").val();
        var time3 = $("#time3").val();
        var time4 = $("#time4").val();

        if ($.trim(time2) != "") {
            if (!reg.test(time2)) {
                toastr.error("[时间2]必须填写正确的时间");
                return false;
            }
        }
        if ($.trim(time3) != "") {
            if (!reg.test(time3)) {
                toastr.error("[时间3]必须填写正确的时间");
                return false;
            }
        }
        if ($.trim(time4) != "") {
            if (!reg.test(time4)) {
                toastr.error("[时间4]必须填写正确的时间");
                return false;
            }
        }

        if ($.trim($("#comment").val()) == "") {
            var reason = $($("input[name='reason']:checked")[0]).val();
            if (reason == "陪客户" || reason == "外出办公") {
                toastr.error("漏刷原因是陪客户或外出办公时，必须在备注中注明详情");
                return false;
            }            
        }
        if (reason == "补办厂牌" && $("#al_file_list").children().length == 0) {
            toastr.error("原因是【补办厂牌】的必须上传图片证明真实性");
            return false;
        }
        return true;
    }

    function showDepName() {
        var name = $("#eDepName").val();
        var no = $("#eDepNum").val();
        if (name == "") {
            toastr.info("请先选择所属部门");
            return;
        }
        openMessageDialog("<div>名称：<span class='text-danger'>" + name + "</span></div><div>编码：<span class='text-danger'>" + no + "</span></div>", "当前所选部门信息");
    }

    function BeginApply() {        
        $(this).button("loading");
        var formParam = $("#alForm").serialize();
        $.ajax({
            type: 'post',
            url: '@Url.Content("~/Apply/GetCRFlowQueue")',
            data: formParam,
            cache: false,
            dataType: 'json',
            success: function (data) {
                if (data.suc) {
                    var q = data.list;
                    queue = q;
                    var div = "";
                    var canSelectAuditor = false;
                    var depNo = $("#eDepNum").val();                    
                    for (var i = 0; i < q.length; i++) {
                        div += "<div>" + q[i].step + ".";
                        div += "【" + q[i].step_name + "】 <span class='auditors'>" + q[i].auditors + "</span>";                        
                        div += "</div>";
                    }
                    openConfirmDialog(div, function () {
                        $("#apply_bt").button("loading");
                        $.ajax({
                            type: 'post',
                            url: '@Url.Content("~/Apply/SaveApplyCR")',
                            data: formParam + "&auditor_queues=" + JSON.stringify(queue),
                            cache: false,
                            dataType: 'json',
                            success: function (data) {
                                $("#apply_bt").button("reset");
                                if (data.suc) {
                                    toastr.success("提交成功:" + data.msg);
                                    setTimeout(function () { window.location.href = "@Url.Content("~/Apply/ApplyIndex?billType=CR")"; }, 2000);
                                } else {
                                    toastr.error("提交失败：" + data.msg);
                                    $("#apply_bt").button("reset");
                                }

                            }
                        });
                    }, "审批流程预览", "返回修改", "确认提交");
                } else {
                    toastr.error(data.msg);
                }
                $("#apply_bt").button("reset");
            }
        });
    }

    </script>
    <script>
        $(function () {

            $("#al_file_panel").hide();
            var maxNum = 3; //最多上传3个文件
            var maxSingleSize = 10 * 1024 * 1024; //单个文件最多10M,会自动压缩的
            var uploader = WebUploader.create({
                swf: '@Url.Content("~/Content/webupload/Uploader.swf")',
                server: '@Url.Content("~/File/BeginUpload")',
                pick: '#picker',
                resize: false,
                auto: true,
                formData: { sysNum: '@ViewData["sysNum"]' },
                fileNumLimit: maxNum,
                fileSingleSizeLimit: maxSingleSize,
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                }
            });

            uploader.on('fileQueued', function (file) {
                var fileName = file.name;
                if (fileName.length > 20) {
                    var ext = fileName.substr(fileName.lastIndexOf("."));
                    fileName = fileName.substr(0, 14) + ".." + ext;
                }
                $("#al_file_list").append('<tr><td id="' + file.id + '" data-fd="' + file.name + '" class="item">' +
                    fileName +
                '</td><td>' + (file.size / 1000).toFixed(1) + " K</td><td class='state'>上传中...</td></tr>");
                $("#al_file_panel").show();
            });

            uploader.on('uploadSuccess', function (file, res) {
                if (!res.suc) {
                    $('#' + file.id).parent().find('td.state').addClass("text-danger").html("上传出错");
                    console.log(res);
                } else {
                    $('#' + file.id).parent().find('td.state').addClass("text-success").html("已上传| <i class='fa fa-times-circle-o text-danger' title='移除'></i>");
                }

            });

            uploader.on('uploadError', function (file) {
                $('#' + file.id).parent().find('td.state').addClass("text-danger").html('上传出错');
            });

            uploader.on('uploadComplete', function (file) {
                //$('#' + file.id).find('.progress').fadeOut();
            });

            //上传队列出错提示
            uploader.on("error", function (type) {
                switch (type) {
                    case "Q_TYPE_DENIED":
                        toastr.error("图片格式不正确");
                        break;
                    case "F_EXCEED_SIZE":
                        toastr.error("单个文件大小必须少于10M");
                        break;
                    case "F_DUPLICATE":
                        toastr.error("不能重复上传文件");
                        break;
                    case "Q_EXCEED_NUM_LIMIT":
                        toastr.error("最多上传文件数量是" + maxNum + "个");
                        break;
                    default:
                        console.error("上传失败：" + type);
                        break;
                }
            });

            //移除已上传文件
            $("#al_file_list").on("click", "td i", function () {
                var fileTD = $(this).parents("tr").find("td")[0];
                openConfirmDialog("确定要移除此上传的文件吗？", function () {
                    var fileId = $(fileTD).attr("id");
                    var fileName = $(fileTD).attr("data-fd");

                    $.post("@Url.Content("~/File/RemoveUploadedFile")", { sysNum: "@ViewData["sysNum"]", fileName: fileName }, function (data) {
                        if (data.suc) {
                            toastr.success("文件移除成功");
                            uploader.removeFile(fileId,true);
                            $(fileTD).parent().fadeOut(1000, function () {
                                $(fileTD).parent().remove();
                                var st = uploader.getStats();
                                if (st.successNum == st.cancelNum) {
                                    $("#al_file_panel").fadeOut(1000);
                                }
                            });
                        } else {
                            toastr.error("移除失败：" + data.msg);
                        }
                    })
                });

            });

        });
    </script>
}

<div class="row" style="margin-left:0;margin-right:0;">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" style="padding-left:0;padding-right:0;">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
                    <li><span class="glyphicon glyphicon-hand-right"></span></li>
                    <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
                    <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
                    <li><a href="@Url.Content("~/Apply/ApplyIndex?billType=CR")">考勤补记申请单</a></li>
                    <li class="active">开始申请</li>
                </ol>
            </div>
            <div class="panel-body">
                <form id="alForm" style="margin-top:-12px;">
                    <div class="b-div">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>申请流水号</button>
                        </span>
                        <span style="display:inline-block;width:70%">
                            <input type="text" class="form-control" id="sysNum" value="@ViewData["sysNum"]" disabled />
                            <input type="hidden" name="sys_no" value="@ViewData["sysNum"]" />
                        </span>
                    </div>
                    <div class="b-div">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>所属部门</button>
                        </span>
                        <div style="display:inline-block;width:70%">
                            <div class="input-group">
                                <input type="text" class="form-control" id="eDepName" name="dep_long_name" value="@ViewData["depName"]" placeholder="点击此处选择部门" />
                                <span class="input-group-addon" style="cursor:pointer;" onclick="showDepName()"><i class="fa fa-info text-danger"></i></span>
                            </div>
                            <input type="hidden" id="eDepNum" name="dep_no" value="@ViewData["depNum"]" />
                            <input type="hidden" id="eDepId" name="dep_id" value="@ViewData["depId"]" />
                        </div>
                    </div>
                    <div class="b-div" style="vertical-align:middle;">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>漏刷日期</button>
                        </span>
                        <div style="display:inline-block;width:70%;vertical-align:top;">
                            <div class="input-group date" id="datePicker">                                
                                <input class="form-control" type="text" id="forgotDate" name="forgot_date" autocomplete="off" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                            </div>
                            <div class="input-group date timePicker">
                                <span class="input-group-addon">时间[1] </span>
                                <input class="form-control" type="text" name="time1" id="time1" autocomplete="off" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                            </div>
                            <div class="input-group date timePicker">
                                <span class="input-group-addon">时间[2] </span>
                                <input class="form-control" type="text" name="time2" id="time2" autocomplete="off" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                            </div>
                            <div class="input-group date timePicker">
                                <span class="input-group-addon">时间[3] </span>
                                <input class="form-control" type="text" name="time3" id="time3" autocomplete="off" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                            </div>
                            <div class="input-group date timePicker">
                                <span class="input-group-addon">时间[4] </span>
                                <input class="form-control" type="text" name="time4" id="time4" autocomplete="off" />
                                <span class="input-group-addon"><i class="fa fa-calendar"></i> </span>
                            </div>
                        </div>
                        <p class="small text-danger" style="margin-top:4px;"><i class="fa fa-info-circle"></i> 1天内漏刷卡一次只需填写时间[1]，其它3个留空即可</p>
                    </div>
                    <div class="b-div">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>漏刷原因</button>
                        </span>
                        <div style="display:inline-block;width:70%">
                            <span style="display:block;margin:0;" class="row">
                                @{
                                    string[] types = new string[] { "漏刷卡", "补办厂牌", "陪客户", "外出办公" };
                                    foreach (var ty in types) {                                        
                                        <span class="col-xs-6" style="padding:0 4px;">
                                            <input type="radio" name="reason" value="@ty" /> @ty
                                        </span>
                                    }
                                }
                            </span>
                        </div>
                        <p class="small text-danger"><i class="fa fa-info-circle"></i> 原因是[陪客户]或者[外出办公]的，请在下面[备注]框写明客户名字或办公事件</p>
                    </div>
                    <div class="b-div">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>备注</button>
                        </span>
                        <span style="display:inline-block;width:70%">
                            <textarea type="text" class="form-control" rows="2" id="comment" name="comment"></textarea>
                        </span>
                    </div>
                    <div class="b-div">
                        <span class="b-label">
                            <button class="btn btn-block btn-default" disabled>附件</button>
                        </span>
                        <div style="display:inline-block;width:70%">
                            <div id="uploader" class="wu-example">
                                <div id="picker"> + </div>
                            </div>
                        <p class="small text-danger"><i class="fa fa-info-circle"></i> 原因是[补办厂牌]的，必须上传图片证明真实性（最多可上传3张）</p>
                        </div>
                    </div>
                    <div class="panel panel-default" id="al_file_panel">
                        <div class="panel-heading">附件信息</div>
                        <div class="panel-body" style="padding:0 8px;">
                            <table class="table table-condensed table-hover" id="al_file_tb" style="margin:10px 0;">
                                <thead>
                                    <tr>
                                        <th style="width:50%;">名称</th>
                                        <th style="width:20%;">大小</th>
                                        <th style="width:30%;">状态</th>
                                    </tr>
                                </thead>
                                <tbody id="al_file_list"></tbody>
                            </table>
                        </div>
                    </div>
                    <input type="hidden" name="has_attachment" id="hasAttachment" />
                    <div class="b-div">
                       <div style="padding-left:6px;"><input type="checkbox" id="confirmMessage" /> 本人保证以上所填资料属实，如有造假将接受公司处罚！</div>
                    </div>              
                </form>                
                <button class="btn btn-danger btn-block disabled" type="button" id="apply_bt" data-loading-text="正在提交..."><i class="fa fa-check-circle-o"></i> 提交考勤补记申请</button>
            </div>
        </div>
    </div>
</div>
@section Modal {
    @Html.Partial("_SelectDep")
    @Html.Partial("_SelectUsers")
    @Html.Partial("_ConfirmDialog")
    @Html.Partial("_MessageDialog")
}