@section Scripts {
    <script>
        $(function () {
            //搜索按钮
            $("#searchText").keyup(function () {
                if (event.keyCode == 13) {
                    $("#searchBt").click();
                }
            });
            $("#searchBt").click(function () {
                $.post("@Url.Content("~/EP/GetEQDeps")", { searchContent: $("#searchText").val() }, function (data) {
                    if (data.suc) {
                        fillGroups(data.rows);
                    } else {
                        toastr.error(data.msg);
                    }
                });
            });
            
            $("#charger,#minister").on("focus", function () {
                var self = this;
                openSelectUserDialog($(self).val(), 1, function (result) {
                    $(self).val(result);
                });
            });

            $("#addGroupBt").click(function () {
                $("#groupModal").modal("show");
            });
            $("#groupConfirmBt").click(function () {
                $.post("@Url.Content("~/EP/AddEqDep")",
                    {
                        depNum: $("#dep_num").val(),
                        depName: $("#dep_name").val(),
                        charger: $("#charger").val(),
                        minister: $("#minister").val()
                    }, function (data) {
                    if (data.suc) {
                        toastr.success(data.msg);
                        $("#groupModal").modal("hide");
                        setTimeout("$('#searchBt').click()", 200);
                    } else {
                        toastr.error(data.msg);
                    }
                })
            });

            $("#searchBt").click();
        });
        //填充用户列表
        function fillGroups(rows) {
            //清空已有内容
            $("#groupList a").remove();
            //加载数据
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                var item = "<a class='list-group-item' href='@Url.Content("~/EP/EqDepDetail/")"+row.id+"'><div class='media'><div class='media-left media-middle'>";
                item += "<img class='media-object' src='@Url.Content("~/Content/images/dep.png")' alt='dep'></div><div class='media-body'><h4 class='media-heading " + (row.isForbit ? "text-danger" : "") + "'>";
                item += row.depNum + " | " + row.depName;
                item += "</h4><div style='color:gray'>";
                item += "部门负责人：" + row.charger;
                item += "<br/>";
                item += "部门分部长：" + row.minister;
                item += "</div></div><div class='media-right media-middle'><span class='glyphicon glyphicon-menu-right' style='color:green'></span></div></div></a>";
                $("#groupList").append(item);
            }
        }

    </script>
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
            <li><a href="@Url.Content("~/Apply/ApplyIndex?billType=EP")">设备故障报修单</a></li>
            <li class="active">设备部门维护</li>
        </ol>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" id="searchText" placeholder="可输入设备部门或生产部门搜索">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger" id="searchBt"><span class="glyphicon glyphicon-search"></span> 搜索</button>
                    
                </span>
            </div>

            <button type="button" class="btn btn-block btn-success" id="addGroupBt" style="margin-top:8px;"><span class="fa fa-plus-circle"></span> 新增设备部门</button>

        </div>
        </div>
    <div class="list-group" id="groupList">
        @*存放内容列表*@
    </div>    
</div>

@section Modal {
    <div class="modal fade" id="groupModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="groupLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-plus-circle"></i> 新增设备部门</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="dep_num" class="sr-only">编码:</label>
                    <div class="input-group">
                        <div class="input-group-addon">编码:</div>
                        <input type="text" class="form-control" id="dep_num" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="dep_name" class="sr-only">名称:</label>
                    <div class="input-group">
                        <div class="input-group-addon">名称:</div>
                        <input type="text" class="form-control" id="dep_name" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="charger" class="sr-only">负责人:</label>
                    <div class="input-group">
                        <div class="input-group-addon">负责人:</div>
                        <input type="text" class="form-control" id="charger" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="minister" class="sr-only">分部长:</label>
                    <div class="input-group">
                        <div class="input-group-addon">分部长:</div>
                        <input type="text" class="form-control" id="minister" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span> 取消</button>
                <button id="groupConfirmBt" type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok-circle"></span> 确认</button>
            </div>
        </div>
    </div>
</div>
    @Html.Partial("_SelectUsers")
}
