@using EmpInfo.Models;
@{
    Layout = null;
    List<AttachmentModel> atts = ViewData["atts"] as List<AttachmentModel>;
    string sysNo = ViewData["sysNo"] as string;
}


<style type="text/css">               

    #al_file_tb th {
        font-size: small;
        text-align: center;
    }

    #al_file_tb td {
        font-size: small;
        text-align: center;
    }

    #al_file_list i {
        cursor: pointer;
    }
</style>


<script>
    function showPic(fileName){
        var sn = "@sysNo";
        var path = utils.GetDownloadRoute(sn) + fileName;
        window.location.href = path;
    }
</script>

    <div class="panel panel-default" id="al_file_panel">
        <div class="panel-heading">附件信息</div>
        <div class="panel-body" style="padding:0 8px;">
            <table class="table table-condensed table-hover" id="al_file_tb" style="margin:10px 0;">
                <thead>
                    <tr>
                        <th style="width:55%;">名称</th>
                        <th style="width:25%;">大小</th>
                        <th style="width:20%;">查看</th>
                    </tr>
                </thead>
                <tbody id="al_file_list">
                    @foreach (var file in atts) {
                        <tr>
                            <td>
                                @if (file.fileName.Length > 20) {
                                    var ext = file.fileName.Substring(file.fileName.IndexOf("."));
                                    var showName = file.fileName.Substring(0, 14) + ".." + ext;
                                    <span>@showName</span>
                                }
                                else {
                                    <span>@file.fileName</span>
                                }
                            </td>
                            <td>@(file.fileSize/1000 + " K")</td>
                            <td><i class="fa fa-file-picture-o text-success" onclick="showPic('@file.fileName')"></i></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
