@using EmpInfo.Models;
@{
    //List<AssistantEmpModel> list = (List<AssistantEmpModel>)ViewData["list"];
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
}
@section Scripts{
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/extensions/mobile/bootstrap-table-mobile.min.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>
    <script>

        $(function () {
            @*$("#searchText").keyup(function () {
                if (event.keyCode == 13) {
                    $("#searchBt").click();
                }
            });

            $("#searchBt").on("click", function () {
                var searchValue = $("#searchText").val();
                window.location.href = "@Url.Content("~/Report/SearchAssistantEmps?value=")" + searchValue;
            });*@


        });

        $("#tb").bootstrapTable({
            striped: true,
            mobileResponsive: true,
            pagination: true,
            sidePagination: "server",
            url: "GetAssistantEmps",
            search:true,
            columns: [            
            {
                field: "empName",
                title: "姓名"
            }, {
                field: "cardNumber",
                title: "厂牌"
            }, {
                field: "empType",
                title: "类型"
            }, {
                field: "depName",
                title: "部门"
            }
            ],
            rowStyle: function () {
                return {
                    css: { "cursor": "pointer" }
                };
            },
            onClickRow: function (row, ele, field) { 
                window.location.href = "CheckAssistantEmp?empType=" + row.empType + "&cardNumber=" + row.cardNumber;
            }
        });
        

    </script>
}
<div class="panel panel-success" id="applyDiv">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Home/WorkGroupIndex")">智慧办公集合</a></li>
            <li class="active">基辅员工查询</li>
        </ol>
    </div>
    <div class="panel-body">        
        <table id="tb"></table>        
    </div>
</div>
