@using EmpInfo.Models;
@{
    DSModel dm = ViewData["dm"] as DSModel;
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
    <style type="text/css">
        th {
            font-size: 18px;
        }

        td {
            font-size: 16px;
        }
    </style>
}
@section Scripts {
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>

    <script type="text/javascript">
        var inter;
        var isRolling = true;
        var rollSpeed = 60;
        var currentPx = 0;

        $(function () {
            //改为自适应全屏宽度
            $("#topContainer").removeClass("container").addClass("container-fluid");
            $("#tb").bootstrapTable('refreshOptions', { height: window.innerHeight - 112 });
            $("#stSpeed").val(rollSpeed);

            $("#btnStop").on("click", function () {
                if (isRolling) {
                    window.clearInterval(inter);
                    isRolling = false;
                    $("#btnStop").html("<i class='fa fa-play'></i> 继续滚动");
                } else {
                    setInter();
                    isRolling = true;
                    $("#btnStop").html("<i class='fa fa-stop'></i> 暂停滚动");
                }
            });
            
            $("#stSpeed").on("change", function () {
                rollSpeed = $(this).val();
                setInter()
            });
            
            $(".pic_d").parent("td").on("click", function () {
                var detail_id = $(this).find("span").html();
                window.open("CheckDSPic?id=" + detail_id);
            });

            setInter();
        });

        function setInter() {
            window.clearInterval(inter);
            var scrollPosition = -1;
            var lastPosition = -1;
            inter = setInterval(function () {
                if (currentPx == 0) {
                    //在顶部也暂停2秒
                    isRolling = false;
                    window.clearInterval(inter);
                    setTimeout(function () { setInter(); isRolling = true; }, 2000);
                }
                $("#tb").bootstrapTable('scrollTo', currentPx++);
                scrollPosition = $("#tb").bootstrapTable('getScrollPosition');
                if (lastPosition == scrollPosition) {
                    currentPx = 0;
                    //到底部暂停2秒
                    window.clearInterval(inter);
                    isRolling = false;
                    setTimeout(function () { setInter(); isRolling = true; }, 2000);
                } else {
                    lastPosition = scrollPosition;
                }
            }, rollSpeed);
        }

        

    </script>

        <script>
        @*搜索选项*@
        $(function () {

            $("#ckEmpty").iCheck({
                checkboxClass: 'icheckbox_square-blue'
            });

            if ("@dm.isEmpty" == "1") {
                $('#ckEmpty').iCheck('check');
            }
            $('#ckEmpty').on('ifChanged', function (event) {
                reloadPage();
            });
            $("#stPlace,#stCharger").on("change", function () {
                reloadPage();
            });



            $("#stPlace").val("@dm.place");
            $("#stCharger").val("@dm.depCharger");

            $("#btnSearch").on("click", function () {
                //需要给时间，输入法隐藏后再加载，否则会缺少输入法的空间
                setTimeout(function () {
                    reloadPage();
                }, 500);
            });

        });
        function reloadPage() {
            var isEmpty = $("#ckEmpty:checked").length;
            var place = $("#stPlace").val();
            var depName = $("#txDepName").val();
            var charger = $("#stCharger").val();

            place = encodeURIComponent(place);
            depName = encodeURIComponent(depName);
            charger = encodeURIComponent(charger);

            window.location.href = "DS?isEmpty=" + isEmpty + "&place=" + place + "&depName=" + depName + "&depCharger=" + charger;
        }
    </script>

}
<div class="text-center" style="font-size:36px;margin-bottom:6px;">信利厂房简介</div>
<div id="btns">
    <button id="btnStop" class="btn btn-success btn-sm pull-right"><i class="fa fa-stop"></i> 暂停滚动</button>
    <div class="pull-left" style="line-height:30px;">
        <span>
            滚动速度：
            <select id="stSpeed" class="form-control input-sm" style="display:inline-block;width:100px;">
                <option value="60">慢速</option>
                <option value="40">中速</option>
                <option value="20">快速</option>
            </select>
        </span>
        <span style="padding-left:16px;">
            闲置厂房：<input type="checkbox" id="ckEmpty" />
        </span>
        <span style="padding-left:16px;">
            地点：
            <select id="stPlace" class="form-control input-sm" style="display:inline-block;width:100px;">
                <option value="">全部</option>
                @foreach (var p in dm.places) {
                    <option value="@p">@p</option>
                }
            </select>
        </span>
        <span style="padding-left:16px;">
            负责人：
            <select id="stCharger" class="form-control input-sm" style="display:inline-block;width:100px;">
                <option value="">全部</option>
                @foreach (var p in dm.chargers) {
                    <option value="@p">@p</option>
                }
            </select>
        </span>
        <span style="padding-left:16px;">
            部门：<input type="text" class="form-control input-sm" id="txDepName" style="display:inline-block;width:100px;" value="@dm.depName" />
        </span>
        <span style="padding-left:16px">
            <button class="btn btn-sm btn-primary" id="btnSearch"><i class="fa fa-search"></i> 搜索</button>
        </span>
    </div>

</div>
<div class="clearfix" style="margin-bottom:8px;"></div>

<table id="tb" data-toggle="table" data-show-columns="false">
    <thead>
        <tr>
            <th data-field="sort_no" data-valign="middle" data-align="center">
                序号
            </th>
            <th data-field="place" data-valign="middle" data-align="center">
                地点
            </th>
            <th data-field="floor" data-valign="middle" data-align="center">
                楼层
            </th>
            <th data-field="dep_name">
                部门
            </th>
            <th data-field="area_size" data-valign="middle" data-align="center">
                厂房面积(㎡)
            </th>
            <th data-field="dep_size" data-valign="middle" data-align="center">
                车间面积(㎡)
            </th>
            <th data-field="clear_level" data-valign="middle" data-align="center">
                净房等级
            </th>
            <th data-field="usage">
                生产工序
            </th>
            <th data-field="dep_plan">
                车间整合规划
            </th>
            <th data-field="pic_name" data-valign="middle" data-align="center">
                平面图
            </th>
        </tr>
    </thead>
    <tbody id="tbody">
        @{
            int currentID = 0;
            int currentRowSpan = 1;
            bool isSameAsLast = false;
        }
        @foreach (var p in dm.ps) {
            <tr>
                @if (currentID != p.place_id) {
                    currentID = p.place_id;
                    currentRowSpan = dm.ps.Count(s => s.place_id == currentID);
                    isSameAsLast = false;
                }
                else {
                    isSameAsLast = true;
                    currentRowSpan = 1;
                }
                @if (!isSameAsLast) {
                    <td rowspan="@currentRowSpan">@p.sort_no</td>
                    <td rowspan="@currentRowSpan">@p.place</td>
                }
                <td>@p.floor</td>
                <td>@p.dep_name</td>
                @if (!isSameAsLast) {
                    <td rowspan="@currentRowSpan">@p.area_size</td>
                }
                <td>@p.dep_size</td>
                <td>@p.clear_level</td>
                <td>@p.usage</td>
                <td>@p.dep_plan</td>
                <td>
                    @if (string.IsNullOrEmpty(p.pic_name)) {
                        <text>无</text>
                    }
                    else {
                        <i class="fa fa-file-picture-o pic_d" style="color:#5cb85c;cursor:pointer;"></i>
                        <span style="display:none;">@p.detail_id</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
