<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>信利移动办公平台</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/toastr.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/skins/square/red.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/skins/square/blue.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/skins/square/green.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/fontawesome/fontcss/font-awesome.min.css")" />

    @RenderSection("CSS", false)
    <style type="text/css">
        body, div, p, h1, h2, h3, h4, h5, h6, legend, input, button, a, label, span {
            font-family: 'Microsoft YaHei','Courier New',Arial;
        }
        .container {
            padding:0;
        }
    </style>
    

    <script src="@Url.Content("~/Scripts/jquery-1.11.3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>
    <script src="@Url.Content("~/Scripts/icheck.js")"></script>
    <script src="@Url.Content("~/Scripts/placeholders.js")"></script>
    <script src="@(Url.Content("~/Scripts/myJs.js?v=")+new Random().Next())"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="@Url.Content("~/Scripts/html5shiv.min.js")"></script>
      <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
    <![endif]-->

</head>
<body>    
    <div class="container" id="topContainer">
        @RenderBody()
    </div>
    @RenderSection("Modal", false)
    @RenderSection("Scripts",false)    
</body>
</html>
