
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
}

@section Scripts {
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/extensions/mobile/bootstrap-table-mobile.min.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>
    <script>
        $(function () {
            $("#openBtn").on("click", function () {
                var rows = $('#tb').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行");
                    return;
                }
                $.post("ToggleFlag", { itemNo: rows[0].item_no }, function (data) {
                    if (!data.suc) {
                        toastr.error(data.msg);
                    } else {
                        toastr.success("操作成功");
                        $('#tb').bootstrapTable('refresh');
                    }
                });
            });

            $("#createBtn").on("click", function () {
                window.open("Create");
            })

            $("#modifyBtn").on("click", function () {
                var rows = $('#tb').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行");
                    return;
                }
                window.open("Modify?itemNo=" + rows[0].item_no);
            });

            $("#checkBtn").on("click", function () {
                var rows = $('#tb').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行");
                    return;
                }
                window.open("Check?itemNo=" + rows[0].item_no);
            });

            $("#deleteBtn").on("click", function () {
                var rows = $('#tb').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行");
                    return;
                }
                openConfirmDialog("确定要删除选中文档吗？删除后将不可恢复。", function () {
                    $.post("Delete", { itemNo: rows[0].item_no }, function (data) {
                        if (!data.suc) {
                            toastr.error(data.msg);
                        } else {
                            toastr.success("删除成功");
                            $('#tb').bootstrapTable('refresh');
                        }
                    });
                });
            });

        });

        $("#tb").bootstrapTable({
            url: "GetMyList",
            striped: true,
            mobileResponsive: true,
            pagination: true,
            pageSize: 20,
            pageList: [10, 20, 50],
            search: true,
            clickToSelect: true,
            columns: [
                {
                    radio: true
                }, {
                    field: "item_no",
                    title: "流水号",
                    visible: false
                }, {
                    field: "open_flag",
                    title: "发布标志",
                    cellStyle: function (value, row, index) {
                        var textColor;
                        if (value ) 
                            textColor = "#5cb85c";
                         else 
                            textColor = "#d9534f";
                        
                        return { css: { color: textColor } };
                    },
                    formatter: function (value, row, index, field) {
                        if (value)
                            return "已发布";
                        else
                            return "未发布";
                    }
                }, {
                    field: "caption",
                    title: "标题",
                    formatter: function (value, row, index, field) {
                        var text = value;
                        if (row.has_attachment) {
                            text = "<i class='fa fa-fw fa-paperclip'></i> " + value;
                        }
                        return text;
                    }
                }, {
                    field: "catalog",
                    title: "分类"
                }, {
                    field: "creater_name",
                    title: "作者"
                }, {
                    field: "create_time",
                    title: "创建日期",
                    formatter: function (value, row, index, field) {
                        return utils.parseTDate(value, true);
                    }
                }, {
                    field: "last_update_time",
                    title: "更新日期",
                    formatter: function (value, row, index, field) {
                        return utils.parseTDate(value, true);
                    }
                }
            ],
            onDblClickRow: function (row, $element,field) {
                if (row.item_no) {
                    window.open("Modify?itemNo=" + row.item_no);
                }
            },
            onCheck: function (row,$ele) {
                if (row.open_flag) {
                    $("#openSpan").html("取消发布");
                } else {
                    $("#openSpan").html("发布");
                }
            },
            rowStyle: function (row, index) {
                return { css: { cursor: 'pointer' } };
            }
        });

    </script>
}

<div class="panel panel-success">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/KW/KWIndex")">知识库</a></li>
            <li class="active">我的文档</li>
        </ol>
    </div>
    <div class="panel-body">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" id="createBtn"><span class="text-success"><i class="fa fa-plus"></i> 新建</span></button>
            <button type="button" class="btn btn-default" id="modifyBtn"><span class="text-warning"><i class="fa fa-edit"></i> 修改</span></button>
            <button type="button" class="btn btn-default" id="checkBtn"><span class="text-primary"><i class="fa fa-eye"></i> 查看</span></button>
            <button type="button" class="btn btn-default" id="deleteBtn"><span class="text-danger"><i class="fa fa-remove"></i> 删除</span></button>
            <button type="button" class="btn btn-default" id="openBtn"><span class="text-info"><i class="fa fa-crosshairs"></i> <span id="openSpan">发布/取消发布</span></span></button>
        </div>

        <table id="tb"></table>
    </div>

</div>

@section Modal{
    @Html.Partial("_ConfirmDialog")
}