@using EmpInfo.Models;
@{
    DinningCardStatusModel ds = (DinningCardStatusModel)@ViewData["CardStatus"];
}

@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-slider.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-switch.min.css")" />
    <style type="text/css">
        #ex1Slider .slider-selection {
	        background: #85C7E7;
        }
        #ex1Slider .tooltip-inner{
            background:#0B8BCC;
        }
        .slider.slider-horizontal{
            width:100%;
        }

        .b-label {
            display: inline-block;
            width: 80px;
        }

        .b-div {
            margin: 10px 0;
        }
    </style>
}
@section Scripts{
    @*加入以下js，使IE8支持datetimepicker组件*@
    <script>
        if (!Array.prototype.indexOf) {
            Array.prototype.indexOf = function (elt /*, from*/) {
                var len = this.length >>> 0;

                var from = Number(arguments[1]) || 0;
                from = (from < 0)
                     ? Math.ceil(from)
                     : Math.floor(from);
                if (from < 0)
                    from += len;

                for (; from < len; from++) {
                    if (from in this &&
                        this[from] === elt)
                        return from;
                }
                return -1;
            };
        }
    </script>
    @*<script src="@Url.Content("~/Scripts/moment.js")"></script>*@
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-slider.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-switch.min.js")"></script>    
    <script>        
        //日期控件设置
        $(function () {           

            $(".form_date").datetimepicker({
                language: 'zh-CN',
                format: "yyyy-mm-dd",
                autoclose: true,
                todayBtn: true,
                startView: 2,
                minView: 2,
                endDate: new Date()
            });
            //设置时间点，消费只能查最近1个月，充值只能查最近6个月
            $('#fromDatePicker1').datetimepicker('setStartDate', new Date("@(DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd"))"));
            $('#toDatePicker1').datetimepicker('setStartDate', new Date("@(DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd"))"));
            $('#fromDatePicker2').datetimepicker('setStartDate', new Date("@(DateTime.Now.AddMonths(-6).ToString("yyyy-MM-dd"))"));
            $('#toDatePicker2').datetimepicker('setStartDate', new Date("@(DateTime.Now.AddMonths(-6).ToString("yyyy-MM-dd"))"));

            //设置日期联动，结束日期不能大于起始日期
            $("#fromDatePicker1").on("changeDate", function (e) {
                $('#toDatePicker1').datetimepicker('setStartDate', e.date);
            });
            $("#toDatePicker1").on("changeDate", function (e) {
                $('#fromDatePicker1').datetimepicker('setEndDate', e.date);
            });
            $("#fromDatePicker2").on("changeDate", function (e) {
                $('#toDatePicker2').datetimepicker('setStartDate', e.date);
            });
            $("#toDatePicker2").on("changeDate", function (e) {
                $('#fromDatePicker2').datetimepicker('setEndDate', e.date);
            });

            //消费查询按钮点击
            $("#resumneBt").click(function () {
                var fd = $("#consume_from_date").val();
                var td = $("#consume_to_date").val();
                if (fd == "") {
                    toastr.error("消费起始日期不能为空");
                    return;
                }
                if (td == "") {
                    toastr.error("消费结束日期不能为空");
                    return;
                }
                //清空消费内容
                $("#consumeContent li").remove();
                $.post("@Url.Content("~/Home/GetConsumeRecords")", { from_date: fd, to_date: td }, function (data) {
                    if (!data.suc) {
                        toastr.error(data.msg);
                    } else {
                        var rec = data.records;
                        
                        for (var i = 0; i < rec.length; i++) {
                            var li = "<li class='list-group-item text-primary'><div class='row'><div class='col-xs-8 col-sm-4'>时间:";
                            li += rec[i].consumeTime;
                            li += "</div><div class='col-xs-4 col-sm-2'>金额:";
                            li += rec[i].money;
                            li += "</div><div class='col-xs-6 col-sm-3'>餐别：";
                            li += rec[i].diningType;
                            li += "</div><div class='col-xs-6 col-sm-3'>地点：";
                            li += rec[i].place;
                            li += "</div></div></li>";
                            $("#consumeContent").append(li);
                        }
                        toastr.success("消费记录读取成功");
                    }
                });
            });

            //充值查询按钮点击
            $("#rechargeBt").click(function () {
                var fd = $("#recharge_from_date").val();
                var td = $("#recharge_to_date").val();
                if (fd == "") {
                    toastr.error("充值起始日期不能为空");
                    return;
                }
                if (td == "") {
                    toastr.error("充值结束日期不能为空");
                    return;
                }
                //清空充值内容
                $("#rechargeContent li").remove();
                $.post("@Url.Content("~/Home/GetRechargeRecords")", { from_date: fd, to_date: td }, function (data) {
                    if (!data.suc) {
                        toastr.error(data.msg);
                    } else {
                        var rec = data.records;
                        
                        for (var i = 0; i < rec.length; i++) {
                            var li = "<li class='list-group-item text-primary'>";
                            li += "<div><span class='glyphicon glyphicon-time'></span> 充值时间：<span class='pull-right'>" + rec[i].rechargeTime + "</span></div>";
                            li += "<div><span class='glyphicon glyphicon-home'></span> 充值场所：<span class='pull-right'>" + rec[i].place + "</span></div>";
                            li += "<div><span class='glyphicon glyphicon-plus'></span> 充值金额：<span class='pull-right'>" + rec[i].rechargeSum + "</span></div>";
                            li += "<div><span class='glyphicon glyphicon-stop'></span> 充值前金额：<span class='pull-right'>" + rec[i].beforeSum + "</span></div>";
                            li += "<div><span class='glyphicon glyphicon-triangle-right'></span> 充值后金额：<span class='pull-right'>" + rec[i].afterSum + "</span></div>";
                            li+="</li>"
                            $("#rechargeContent").append(li);
                        }
                        toastr.success("充值记录读取成功");
                    }
                });
            });

            //挂失
            $("#lockCard").click(function () {
                openConfirmDialog("确认要申请挂失你的饭卡吗？挂失后此饭卡将不能再刷机消费。", function () { lockOrUnlockCard("2"); });
            });
            //解除挂失
            $("#unLockCard").click(function () {
                openConfirmDialog("确认要解除挂失你的饭卡吗？解除挂失后此饭卡可以继续刷机消费。", function () { lockOrUnlockCard("1"); });
            });

            //$('#maxLimit').slider();
            //$("#maxLimit").on("slide", function (slideEvt) {
            //    $("#maxLimitValue").html(slideEvt.value + " 元");
            //});
            
            $('#maxLimit').slider({
                formatter: function (value) {
                    return value + " 元";
                }
            });

            $('[name="canConsume"]').bootstrapSwitch({
                onText: "开启",
                offText: "关闭",
                onColor: "success",
                offColor: "default",
                size: "small",
                onInit: function (event, state) {
                    if (state == true) {
                        $("#payPassword").removeAttr("disabled");
                        $('#maxLimit').slider("enable");
                        $(this).val("1");
                    } else {
                        $("#payPassword").attr("disabled", "disabled");
                        $('#maxLimit').slider("disable");
                        $(this).val("0");
                    }
                },
                onSwitchChange: function (event, state) {
                    if (state == true) {
                        $("#payPassword").removeAttr("disabled");
                        $('#maxLimit').slider("enable");
                        $(this).val("1");
                    } else {
                        $("#payPassword").attr("disabled", "disabled");
                        $('#maxLimit').slider("disable");
                        $(this).val("0");
                    }
                }
            });

            $("#seePayPassword").click(function () {
                if ($(this).hasClass("fa-eye-slash")) {
                    $(this).removeClass("fa-eye-slash").addClass("fa-eye");
                    $("#payPassword").attr({ "type": "text" });
                } else {
                    $(this).removeClass("fa-eye").addClass("fa-eye-slash");
                    $("#payPassword").attr({ "type": "password" });
                }
            });


            //获取饭卡绑定信息
            $.post("@Url.Content("~/Home/GetDinnerCardBinding")", {}, function (data) {
                if (data.suc) {
                    $('#maxLimit').slider("setValue", data.limit);
                    $("#payPassword").val("之前设定密码");
                    if (data.status == "1") {
                        $('[name="canConsume"]').bootstrapSwitch("state", true);
                    }
                }
            });

            //保存饭卡绑定信息
            $("#saveDinnerCar").on("click", function () {
                var canConsume = $('input[name="canConsume"]').val();
                var payPassword = $("#payPassword").val();
                var maxLimit = $('#maxLimit')[0].value;
                console.log(canConsume + ";" + payPassword + ";" + maxLimit);
                
                if (canConsume == "1") {
                    if (payPassword == "") {
                        toastr.error("开启状态下请设定支付密码");
                        return;
                    }
                    if (payPassword != "之前设定密码") {
                        var reg = new RegExp(/^\d{6}$/);
                        if (!reg.test(payPassword)) {
                            toastr.error("支付密码必须为6位数字，保存失败");
                            return;
                        }
                    }
                }
                if (parseInt(maxLimit) < 0 || parseInt(maxLimit) > 100) {
                    toastr.error("免密限额必须介于0与100之间！");
                    return;
                }
                
                $("#saveDinnerCar").addClass("disabled");
                $.post("@Url.Content("~/Home/SaveDinnerCardBinding")", {
                    canConsume: canConsume,
                    payPassword: payPassword,
                    maxLimit:maxLimit
                }, function (data) {
                    $("#saveDinnerCar").removeClass("disabled");
                    if (data.suc) {
                        toastr.success(data.msg);
                    } else {
                        toastr.error(data.msg);
                    }
                });

            });
            
            $("#dinner_title").on("click", function () {                
                if ($("#dinner_op_icon").hasClass("fa-chevron-circle-down")) {
                    $("#dinner_op_icon").removeClass("fa-chevron-circle-down").addClass("fa-chevron-circle-up");
                    $("#dinner_body").slideDown(500);
                } else {
                    $("#dinner_op_icon").removeClass("fa-chevron-circle-up").addClass("fa-chevron-circle-down");
                    $("#dinner_body").slideUp(500);                    
                }
            });

            $("#c_r_title").on("click", function () {
                if ($("#c_r_op_icon").hasClass("fa-chevron-circle-down")) {
                    $("#c_r_op_icon").removeClass("fa-chevron-circle-down").addClass("fa-chevron-circle-up");
                    $("#c_r_body").slideDown(500);
                } else {
                    $("#c_r_op_icon").removeClass("fa-chevron-circle-up").addClass("fa-chevron-circle-down");
                    $("#c_r_body").slideUp(500);
                }
            });

        });

        //挂失、解除挂失
        function lockOrUnlockCard(isLock) {
            console.log(isLock);
            $.post("@Url.Content("~/Home/LockOrUnlock")", { lockStatus: isLock }, function (data) {
                if (data.suc) {                    
                    toastr.success(data.msg);
                    setTimeout(function () { location.reload(true); },1000);
                } else {
                    toastr.error(data.msg);
                }
            });
        }

    </script>
    }
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> 当前饭卡信息</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4 col-md-4">
                姓名：<strong class="text-success">@ds.username</strong>
            </div>
            <div class="col-xs-8 col-md-4">
                厂牌：<strong class="text-success">@ds.cardNo</strong>
            </div>
            <div class="col-xs-4 col-md-4">余额：<strong class="text-success">@(((decimal)ds.remainingSum).ToString("0.0"))</strong> </div>
            <div class="col-xs-8 col-md-4">
                状态：<strong class="text-success">@ds.status</strong>
                @if (ds.status.Equals("挂失")) { 
                    <a href="#" class="text-danger" id="unLockCard">&nbsp; 解除挂失？ </a>
                }
                else if(ds.status.Equals("正常")) {
                    <a href="#" class="text-danger" id="lockCard">&nbsp; 申请挂失？ </a>
                }
            </div>
            <div class="col-xs-12 col-md-8">最后消费时间：<strong class="text-success">@ds.lastConsumeTime</strong></div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title" id="dinner_title">
        <i class="fa fa-vcard"></i> 信利超市饭卡消费绑定
        <span class="pull-right"><i class="fa fa-chevron-circle-down" id="dinner_op_icon"></i></span>
        </h3>
    </div>
    <div class="panel-body" id="dinner_body" style="display:none">
        <div class="b-div">
            <span class="b-label">是否启用:</span>
            <input name="canConsume" type="checkbox" data-size="small">
            <p class="small text-danger"><i class="fa fa-info-circle"></i> 开启表示开通刷卡消费，关闭表示禁用刷卡消费</p>
        </div>
        <div class="b-div">
            <span class="b-label" style="vertical-align:top;">支付密码:</span>
            <span style="display:inline;width:70%;">
                <span class="input-group" style="display:inline-table;width:70%;">
                    <input type="password" id="payPassword" name="payPassword" class="form-control input-sm" placeholder="请输入6位数字" />
                    <span class="input-group-addon"><i id="seePayPassword" title="查看密码" class="fa fa-eye-slash text-danger"></i> </span>
                </span>
            </span>
        </div>
        <div class="b-div" style="margin-top:32px;">
            <span class="b-label">免密限额:</span>
            <span style="display:inline-block;width:70%;vertical-align:top;">
                <input id="maxLimit" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-tooltip="always"/>
            </span>
            <p class="small text-danger"><i class="fa fa-info-circle"></i> 例如：免密限额设置为50元，则50元以下消费不需要输入支付密码，50元以上消费则需要输入支付密码</p>
        </div>
        <div class="b-div">
            <button class="btn btn-primary btn-block" id="saveDinnerCar"><i class="fa fa-save"></i> 保存设定</button>
            <p class="small text-danger"><i class="fa fa-info-circle"></i> 以上设定只对信利城市广场和蓝天广场等消费时生效，对食堂和社区超市消费没有影响。</p>            
        </div>
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title" id="c_r_title">
            <span class="glyphicon glyphicon-usd"></span> 消费&充值记录查询
            <span class="pull-right"><i class="fa fa-chevron-circle-down" id="c_r_op_icon"></i></span>
        </h3>
    </div>
    <div class="panel-body" id="c_r_body" style="display:none">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#consumeRecord" aria-controls="consumeRecord" role="tab" data-toggle="tab">查询消费记录</a></li>
            <li role="presentation"><a href="#rechargeRecord" aria-controls="rechargeRecord" role="tab" data-toggle="tab">查询充值记录</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <!-- 消费记录tab -->
            <div role="tabpanel" class="tab-pane fade in active" id="consumeRecord">
                <div class="panel panel-default" style="margin-top:10px;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <label for="consume_from_date" class="sr-only">起始日期</label>
                                <div class="input-group date form_date" style="margin-top:10px;" id="fromDatePicker1">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    <input class="form-control" type="text" id="consume_from_date" name="consume_from_date" placeholder="请输入起始日期" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label for="consume_to_date" class="sr-only">结束日期</label>
                                <div class="input-group date form_date" style="margin-top:10px;" id="toDatePicker1">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    <input class="form-control" type="text" id="consume_to_date" name="consume_to_date" placeholder="请输入结束日期" readonly>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:10px;"><button class="btn btn-success btn-block" id="resumneBt"><span class="glyphicon glyphicon-search"></span> 开始查询</button></div>
                        <div class="small text-danger"><span class="glyphicon glyphicon-info-sign"></span> 可以查询到最近1个月以内的消费记录</div>
                    </div>
                    <ul class="list-group" id="consumeContent">
                        @*此处插入消费记录*@
                    </ul>
                </div>
            </div>
            <!-- 以下是充值记录tab -->
            <div role="tabpanel" class="tab-pane fade" id="rechargeRecord">
                <div class="panel panel-default" style="margin-top:10px;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <label for="recharge_from_date" class="sr-only">起始日期</label>
                                <div class="input-group date form_date" style="margin-top:10px;" id="fromDatePicker2">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    <input class="form-control" type="text" id="recharge_from_date" name="recharge_from_date" placeholder="请输入起始日期" readonly>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <label for="recharge_to_date" class="sr-only">结束日期</label>
                                <div class="input-group date form_date" style="margin-top:10px;" id="toDatePicker2">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    <input class="form-control" type="text" id="recharge_to_date" name="recharge_to_date" placeholder="请输入结束日期" readonly>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:10px;"><button class="btn btn-success btn-block" id="rechargeBt"><span class="glyphicon glyphicon-search"></span> 开始查询</button></div>
                        <div class="small text-danger"><span class="glyphicon glyphicon-info-sign"></span> 可以查询到最近6个月以内的充值记录</div>
                    </div>
                    <ul class="list-group" id="rechargeContent">
                        @*此处插入充值记录*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section modal{
    @Html.Partial("_ConfirmDialog")
}