@using EmpInfo.Models;
@{
    GetSalaryInfo_Result info = ((List<GetSalaryInfo_Result>)ViewData["info"]).First();
    List<string> months = (List<string>)ViewData["months"];
}

<script>
    $(function () {
        $(".ck_more").hide();

        $("#check_more_bt").click(function () { 
            toggleDetail(true);
            var val = $("#yearMonthSelect").val();
            if (val != "") {
                $.post("@Url.Content("~/Home/CheckSalaryDetail")", { yearMonth: val }, function (data) {                    

                    //通过遍历得到结果对象的字段名和字段值，字段名和html的span id一致即可动态赋值
                    for (var key in data) {
                        $("#" + key).html(parseDecimal(data[key]));
                    }

                    toastr.success("成功加载更多工资明细");
                });
            }
        });

        $("#yearMonthSelect").change(function () {
            var val = $("#yearMonthSelect").val();
            toggleDetail(false);
            if (val != "") {
                $.post("@Url.Content("~/Home/CheckSalarySummary")", { yearMonth: val }, function (data) {
                    for (var key in data) {
                        $("#" + key).html(parseDecimal(data[key]));
                    }

                    toastr.success("成功加载工资信息");
                });
            }
        });
    });

    function parseDecimal(value) {
        if (isNaN(value)) return value;
        if (value == 0 || value == "" || value == null) return "--";
        var partInt = parseInt(value); //取出整数部分
        var partDecimal = value.toString().split(".")[1]; //取出小数部分
        var isInt = (value - partInt < 0.0000001); //原数字是否整数
        //对整数部分加千分位逗号
        var partIntStr = partInt.toString();
        var result = "";
        while (partIntStr.length > 3) {
            result = "," + partIntStr.slice(-3) + result;
            partIntStr = partIntStr.slice(0, partIntStr.length - 3);
        }
        if (partIntStr.length > 0) result = partIntStr + result;
        //加上小数部分或者0
        if (isInt) {
            result = result + ".0";
        } else {
            result = result + "." + partDecimal;
        }
        return result;
    }

    function toggleDetail(show) {
        if (show) {
            $(".ck_base").addClass("col-sm-4").removeClass("col-xs-12");
            $(".ck_more").slideDown(400);
            $(".bt_li").hide();
        } else {            
            $(".ck_more").slideUp(400, function () {
                $(".ck_base").addClass("col-xs-12").removeClass("col-sm-4");
            });
            $(".bt_li").show();
        }
    }

</script>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-home"></span> 当前工资概览</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-5 col-md-3">账号：<strong>@ViewData["salaryNo"]</strong></div>
            <div class="col-xs-7 col-md-3">基本工资：<strong>@info.basicSalary.ToString("N1")</strong></div>
            <div class="col-xs-5 col-md-3">类别：<strong>@info.salaryType</strong> </div>
            <div class="col-xs-7 col-md-3">最近发放月份：<strong>@info.lastSalaryDate</strong></div>
        </div>
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-usd"></span> 工资明细查询</h3>
    </div>
    <div class="panel-body"> 
            <select class="form-control" id="yearMonthSelect">
                <option value="">请选择需要查询的月份</option>
                @foreach (var y in months) {
                    <option value="@y">@y</option>
                }
            </select>
    </div>
    <div class="row">
        <div class="col-xs-12 ck_base">
            <ul class="list-group">
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>公司工日：</span><span class="pull-right" id="work_days"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>基本工资：</span><span class="pull-right" id="basicSalary"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>应发工资：</span><span class="pull-right" id="should_pay_salary"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>代扣工资：</span><span class="pull-right" id="withhold_salary"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>实发工资：</span><span class="pull-right" id="real_salary"></span></li>
                <li class="list-group-item text-primary bt_li"><button class="btn btn-danger btn-block" id="check_more_bt"><i class="fa fa-th-list"></i> 查看更多</button></li>
            </ul>
        </div>
        <div class="col-sm-4 ck_more">
            <ul class="list-group">
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>工作工日：</span><span class="pull-right" id="monthly_work_days"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>计件工日：</span><span class="pull-right" id="counter_days"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>请假：</span><span class="pull-right" id="off_duty_days"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>迟到：</span><span class="pull-right" id="late_days"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>旷工：</span><span class="pull-right" id="run_away_days"></span></li>
            </ul>
        </div>
        <div class="col-sm-4 ck_more">
            <ul class="list-group">
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>津贴：</span><span class="pull-right" id="allowance"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>工值：</span><span class="pull-right" id="work_value"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>其它工资：</span><span class="pull-right" id="other_salary"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>补扣款：</span><span class="pull-right" id="cut_money"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>奖罚：</span><span class="pull-right" id="sanction"></span></li>
            </ul>
        </div>
        <div class="col-sm-4 ck_more">
            <ul class="list-group">
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>加班工资：</span><span class="pull-right" id="overtime_salary"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>工龄奖：</span><span class="pull-right" id="work_years_salary"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>伙食补贴：</span><span class="pull-right" id="dinner_welfare"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>房租：</span><span class="pull-right" id="dorm_rent"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>其它扣款：</span><span class="pull-right" id="other_debit"></span></li>
            </ul>
        </div>        
        <div class="col-sm-4 ck_more">
            <ul class="list-group">
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>税金：</span><span class="pull-right" id="tax"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>养老保险：</span><span class="pull-right" id="old_insurance"></span></li>
                <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>公积金：</span><span class="pull-right" id="public_reserve_funds"></span></li>
            </ul>
        </div>
    </div>
</div>
