@using EmpInfo.Models;
@{
    GetSalaryInfo_new_Result info = ((List<GetSalaryInfo_new_Result>)ViewData["info"]).First();
    List<string> months = (List<string>)ViewData["months"];    
}

<script>
    $(function () {
        $(".ck_more").hide();

        $("#check_more_bt").click(function () {
            toggleDetail(true);
            var val = $("#yearMonthSelect").val();
            if (val != "") {
                $.post("@Url.Content("~/Home/CheckSalaryDetail")", { yearMonth: val }, function (data) {
                    if (!data.suc) {
                        toastr.error(data.msg);
                        return;
                    }
                    var result = data.result[0];
                    //通过遍历得到结果对象的字段名和字段值，字段名和html的span id一致即可动态赋值
                    for (var key in result) {
                        $("#" + key).html(parseDecimal(result[key]));
                    }

                    toastr.success("成功加载更多工资明细");
                });
            }
        });

        $("#yearMonthSelect").change(function () {
            var val = $("#yearMonthSelect").val();
            toggleDetail(false);
            if (val != "") {
                $.post("@Url.Content("~/Home/CheckSalarySummary")", { yearMonth: val }, function (data) {
                    for (var key in data) {
                        $("#" + key).html(parseDecimal(data[key]));
                    }

                    toastr.success("成功加载工资信息");
                });
            }
        });
    });

    function parseDecimal(value) {
        if (isNaN(value)) return value;
        if (value == 0 || value == "" || value == null) return "--";
        var partInt = parseInt(value); //取出整数部分
        var partDecimal = value.toString().split(".")[1]; //取出小数部分
        var isInt = (value - partInt < 0.0000001); //原数字是否整数
        //对整数部分加千分位逗号
        var partIntStr = partInt.toString();
        var result = "";
        while (partIntStr.length > 3) {
            result = "," + partIntStr.slice(-3) + result;
            partIntStr = partIntStr.slice(0, partIntStr.length - 3);
        }
        if (partIntStr.length > 0) result = partIntStr + result;
        //加上小数部分或者0
        if (isInt) {
            result = result + ".0";
        } else {
            result = result + "." + partDecimal;
        }
        return result;
    }

    function toggleDetail(show) {
        if (show) {
            $(".ck_base").addClass("col-sm-4").removeClass("col-xs-12");
            $(".ck_more").slideDown(400);
            $(".bt_li").hide();
        } else {
            $(".ck_more").slideUp(400, function () {
                $(".ck_base").addClass("col-xs-12").removeClass("col-sm-4");
            });
            $(".bt_li").show();
        }
    }

</script>

<div class="panel panel-success">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li class="active">当前工资概览</li>
        </ol>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-5 col-md-3 text-success">账号：<strong>@ViewData["salaryNo"]</strong></div>
            <div class="col-xs-7 col-md-3 text-success">基本工资：<strong>@(((decimal)info.basicSalary).ToString("N1"))</strong></div>
            <div class="col-xs-5 col-md-3 text-success">类别：<strong>@info.salaryType</strong> </div>
            <div class="col-xs-7 col-md-3 text-success">最近发放月份：<strong>@info.lastSalaryDate</strong></div>
        </div>
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-usd"></span> 工资明细查询</h3>
    </div>
    <div class="panel-body">
        <select class="form-control" id="yearMonthSelect">
            <option value="">请选择需要查询的月份</option>
            @foreach (var y in months) {
                <option value="@y">@y</option>
            }
        </select>
    </div>
    <div class="row">
        <div class="col-xs-12 ck_base">
            <ul class="list-group">
                @{
                    string[] texts1 = new string[] { "公司工日", "基本工资", "应发工资", "代扣工资", "实发工资" };
                    string[] names1 = new string[] { "work_days", "basicSalary", "should_pay_salary", "withhold_salary", "real_salary" };
                    for (var i = 0; i < texts1.Count(); i++) {
                        <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>@texts1[i]：</span><span class="pull-right" id="@names1[i]"></span></li>
                    }
                }
                <li class="list-group-item text-primary bt_li"><button class="btn btn-danger btn-block" id="check_more_bt"><i class="fa fa-th-list"></i> 查看更多</button></li>
            </ul>
        </div>
        @{
            string[] texts = new string[] { "工作工日", "计件工日", "请假", "迟到", "旷工",
                                            "津贴", "工值", "其它工资", "补扣款", "奖罚",
                                            "加班工资", "工龄奖", "伙食补贴", "房租", "其它扣款",
                                            "税金", "养老保险", "公积金" };
            string[] names = new string[] { "monthly_work_days", "counter_days", "off_duty_days", "late_days", "run_away_days",
                                            "allowance", "work_value", "other_salary", "cut_money", "sanction",
                                            "overtime_salary", "work_years_salary", "dinner_welfare", "dorm_rent", "other_debit",
                                            "tax", "old_insurance", "public_reserve_funds" };
            //每5行分为1组                                
            int groupCount=(int)Math.Ceiling(texts.Length/5m);
            for (var i = 0; i < groupCount; i++) {
                <div class="col-sm-4 ck_more">
                    <ul class="list-group">
                        @for (var j = i * 5; j < i * 5 + 5 && j < texts.Length; j++) { 
                            <li class="list-group-item text-primary"><i class="fa fa-chevron-circle-right"></i> <span>@texts[j]：</span><span class="pull-right" id="@names[j]">></span></li>
                        }
                    </ul>
                </div>
            }
        }
    </div>
</div>


