@{
    string auts = (string)ViewData["autStr"];
}
@section CSS{
    <style type="text/css">
        #workGroup img {
            width: 48px;
            height: 48px;
        }
    </style>
}
@section Scripts {
    <script>
    $(function () {
        $(".closeLink").click(function () {
            toastr.info("此功能暂未开放");
        });
        //K3重置密码
        $("#K3Img").click(function () {
            $.post("@Url.Content("~/Home/ValidateEmail")", {}, function (data) {
                if (!data.suc) {
                    toastr.error(data.msg);
                } else {
                    $.post("@Url.Content("~/Home/ValidatePhone")", {}, function (data) {
                        if (data.suc) {
                            window.location.href = "@Url.Content("~/K3/AccountReset")";
                            } else {
                                toastr.error(data.msg);
                            }
                        });
                    }
                });
            });
                

            //请假报表
            $("#alReport").on("click", function () {
                var w = $(document).width();                
                if (w > 900) {
                    window.location.href = "@Url.Content("~/Report/ALReport")";
                } else {
                    toastr.error("此功能必须在大屏幕显示器操作");
                }
            });

        });
    </script>
}
<div class="panel panel-danger">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li class="active">智慧办公集合</li>
        </ol>
    </div>
    <div class="panel-body" id="workGroup">
        <div class="row" style="margin: 0;">            
            <div class="col-xs-4 col-sm-3 col-md-2">
                <a href="@Url.Content("~/Apply/ApplyIndex?billType=AL")">
                    <img src="@Url.Content("~/Content/images/leave.png")" alt="leave" class="center-block" />
                    <p class="text-center">请假申请</p>
                </a>
            </div>
            @if ((bool)ViewData["isDepReporter"]) { 
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a id="alReport" href="#">
                        <img src="@Url.Content("~/Content/images/report.png")" alt="leave" class="center-block" />
                        <p class="text-center">请假报表</p>
                    </a>
                </div>
            }
            <div class="col-xs-4 col-sm-3 col-md-2">
                <a href="#" id="K3Img">
                    <img src="@Url.Content("~/Content/images/box.png")" alt="leave" class="center-block" />
                    <p class="text-center">K3用户重置</p>
                </a>
            </div>
            @*@if (auts.IndexOf("ModuelTest") >= 0) {*@
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="@Url.Content("~/Apply/ApplyIndex?billType=SA")">
                        <img src="@Url.Content("~/Content/images/stock.png")" alt="leave" class="center-block" />
                        <p class="text-center">仓管权限申请</p>
                    </a>
                </div>
            @*}*@
            @if (auts.IndexOf("StockBillAudit1") >= 0) {
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="@Url.Content("~/K3/StockBillAudit")">
                        <img src="@Url.Content("~/Content/images/paper.png")" alt="leave" class="center-block" />
                        <p class="text-center">出库单一审</p>
                    </a>
                </div>
            }
            @if (auts.IndexOf("UnnormalCH") >= 0) {
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="@Url.Content("~/Apply/ApplyIndex?billType=UC")">
                        <img src="@Url.Content("~/Content/images/uc.png")" alt="leave" class="center-block" />
                        <p class="text-center">非正常出货</p>
                    </a>
                </div>
            }
            @if (auts.IndexOf("AssistantEmps") >= 0) {
                <div class="col-xs-4 col-sm-3 col-md-2">
                    <a href="@Url.Content("~/Report/AssistantEmps")">
                        <img src="@Url.Content("~/Content/images/assist.png")" alt="assist" class="center-block" />
                        <p class="text-center">基干/辅助职员查询</p>
                    </a>
                </div>
            }
            <div class="col-xs-4 col-sm-3 col-md-2">
                <a href="@Url.Content("~/Apply/ApplyIndex?billType=EP")">
                    <img src="@Url.Content("~/Content/images/ep.png")" alt="leave" class="center-block" />
                    <p class="text-center">设备故障报修</p>
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2">
                <a href="@Url.Content("~/Home/EleProcess")">
                    <img src="@Url.Content("~/Content/images/elepr.png")" alt="assist" class="center-block" />
                    <p class="text-center">电子公司专用流程</p>
                </a>
            </div>
            
        </div>
    </div>
</div>