@using EmpInfo.Models;
@{
    List<XAAuditorsModel> buyers = ViewData["buyers"] as List<XAAuditorsModel>;
}

@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-table/bootstrap-table.min.css")" />
}
@section Scripts{
    <script src="@Url.Content("~/Content/bootstrap-table/bootstrap-table.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/extensions/mobile/bootstrap-table-mobile.min.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.min.js")"></script>
    <script src="@Url.Content("~/Scripts/myUserSelecter.js")"></script>

    <script>
        $("#tb1").bootstrapTable({
            url: "GetXAAuditors",
            striped: true,
            mobileResponsive: true,
            pagination: true,
            pageSize: 20,
            pageList: [20, 50, 100, 200],
            search: true,
            clickToSelect: true,
            columns: [
                {
                    radio: true
                }, {
                    field: "position",
                    title: "职位"
                }, {
                    field: "company",
                    title: "公司"
                }, {
                    field: "deptName",
                    title: "部门"
                }, {
                    field: "userName",
                    title: "姓名"
                }, {
                    field: "userNumber",
                    title: "厂牌"
                }
            ]
        });

        $(function () {
            $("#tb1AddBt").on("click", function () {
                $("#tb1Modal .modal-title").html("增加处理人");
                utils.resetForm($("#tb1Form"));
                $("#tb1Modal").modal("show");
                $("select[name='position']").removeAttr("disabled");
            });

            $("#tb1ModifyBt").on("click", function () {
                var rows = $('#tb1').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行后再修改");
                    return;
                }
                $("#tb1Modal .modal-title").html("修改处理人");
                utils.loadObjData($("#tb1Form"), rows[0]);
                $("#tb1Form input[name='userName']").val(rows[0].userName + "(" + rows[0].userNumber + ")");
                $("select[name='position']").attr("disabled", "disabled");
                $("#tb1Modal").modal("show");
            });

            $("#tb1RemoveBt").on("click", function () {
                var rows = $('#tb1').bootstrapTable('getSelections');
                if (rows.length == 0) {
                    toastr.error("请先选择一行后再删除");
                    return;
                }
                openConfirmDialog("确定要删除选中行吗？", function () {
                    $.post("RemoveXAAuditor", { position: rows[0].position, id: rows[0].id }, function (data) {
                        if (data.suc) {
                            toastr.success("删除成功");
                            $('#tb1').bootstrapTable('refresh');
                        } else {
                            toastr.error("删除失败：" + data.msg);
                        }
                    });
                });
            });

            $("#saveTb1FormBt").on("click", function () {
                $("select[name='position']").removeAttr("disabled");
                var obj = utils.getFormObj($("#tb1Form"));
                if (obj.company == "" || obj.deptName == "" || obj.userName == "") {
                    toastr.error("缺少值");
                    $("select[name='position']").attr("disabled", "disabled");
                    return;
                }
                $.post("SaveXAAuditor", { obj: JSON.stringify(obj) }, function (data) {
                    if (data.suc) {
                        $("#tb1Modal").modal("hide");
                        toastr.success("保存成功");
                        $('#tb1').bootstrapTable('refresh');
                    } else {
                        toastr.error("保存失败：" + data.msg);
                    }
                });
            });

            $(".user-select").on("focus", function () {
                var self = this;
                $.selectUsers({
                    userLimit: 1,
                    userHasSelected: $(self).val(),
                    callback: function (result) {
                        $(self).val(result);
                    }
                });
            });

        });
    </script>
}
<div class="panel panel-success">
    <div class="panel-heading">
        <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
            <li><span class="glyphicon glyphicon-hand-right"></span></li>
            <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
            <li><a href="@Url.Content("~/Apply/ApplyIndex?billType=XA")">项目申请单</a></li>
            <li class="active">总经理与CEO</li>
        </ol>
    </div>
    <div class="panel-body">
        <div>
            <button class="btn btn-success" id="tb1AddBt"><i class="fa fa-plus"></i> 增加</button>
            <button class="btn btn-primary" id="tb1ModifyBt"><i class="fa fa-edit"></i> 修改</button>
            <button class="btn btn-danger" id="tb1RemoveBt"><i class="fa fa-plus"></i> 删除</button>
        </div>

        <table id="tb1"></table>
    </div>
</div>

@section Modal{
    <div class="modal fade" id="tb1Modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="tb1Modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><i class="fa fa-plus"></i> 增加人员</h4>
                </div>
                <div class="modal-body">
                    <form id="tb1Form">
                        <input type="hidden" name="id" data-value="0" />
                        <div>职位：</div>
                        <select class="form-control" name="position">
                            <option value="总经理">总经理</option>
                            <option value="CEO">CEO</option>
                        </select>
                        <div style="margin-top:4px;">公司：</div>
                        <select class="form-control" name="company">
                            <option value="">------下拉选择公司------</option>
                            @foreach (var b in buyers) {
                                <option value="@b.company">@b.company @b.userName</option>
                            }
                        </select>
                        <div style="margin-top:4px;">部门：</div>
                        <input type="text" class="form-control" name="deptName" />
                        <div style="margin-top:4px;">职员：</div>
                        <input type="text" class="form-control user-select" name="userName" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-reply"></i> 取消</button>
                    <button id="saveTb1FormBt" type="button" class="btn btn-success"><i class="fa fa-check"></i> 确定</button>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_ConfirmDialog")
}