@using EmpInfo.Models;
@{
    vw_ei_users user=(vw_ei_users)ViewData["user"];
}

@section Scripts{
    <script>
        $(function () {
            $("#resetPassBtn").click(function () {
                $.post("@Url.Content("~/Admin/resetPassword")", { id: "@user.id" }, function (data) {
                    if (data.suc) {
                        toastr.success(data.msg);
                    } else {
                        toastr.error(data.msg);
                    }
                })
            });

            $("#activeBtn").click(function () {
                var st = $("#status").html();
                if (st == "禁用" && $("#depName").html() == "") {
                    toastr.error("此员工已离职，不能解禁");
                    return;
                }
                $.post("@Url.Content("~/Admin/activeUser")", { id: "@user.id" }, function (data) {
                    if (data.suc) {                        
                        st = st == "正常" ? "禁用" : "正常";
                        $("#status").html(st);
                        toastr.success(data.msg);
                    } else {
                        toastr.error(data.msg);
                    }
                })
            });

        });
    </script>
}

<div class="panel panel-danger">
    <div class="panel-heading">
            <ol class="breadcrumb" style="margin:0;padding:0; background-color:transparent;">
                <li><span class="glyphicon glyphicon-hand-right"></span></li>
                <li><a href="@Url.Content("~/Home/Index")">主页</a></li>
                <li><a href="@Url.Content("~/Admin/AdminIndex")">管理员工具栏</a></li>
                <li><a href="@Url.Content("~/Admin/UserManagement")">用户管理</a></li>
                <li class="active">注册用户信息明细</li>
            </ol>
    </div>
    <div class="panel-body">
        <div class="center-block">
            <img id="people_img" title="头像" class="img-thumbnail center-block" style="background-color:#fff;border:1px solid #ddd;width:100px;height:120px;" alt="people image" src="@Url.Content("~/Home/GetEmpPortrait?card_no="+user.card_number)" />
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item text-primary"><span class="glyphicon glyphicon-triangle-right"></span> <span>状态：</span><span class="pull-right" id="status" style="color:red">@(user.forbit_flag==true?"禁用":"正常")</span></li>
        <li class="list-group-item text-primary"><span class="glyphicon glyphicon-triangle-right"></span> <span>姓名：</span><span class="pull-right">@user.name</span></li>
        <li class="list-group-item text-primary"><span class="glyphicon glyphicon-triangle-right"></span> <span>厂牌：</span><span class="pull-right">@user.card_number</span></li>
        <li class="list-group-item text-primary"><span class="glyphicon glyphicon-triangle-right"></span> <span>性别：</span><span class="pull-right">@user.sex</span></li>
        <li class="list-group-item text-primary"><span class="glyphicon glyphicon-triangle-right"></span> <span>部门：</span><span class="pull-right" id="depName">@user.short_dep_name</span></li>
        <li class="list-group-item text-primary"><span class="glyphicon glyphicon-triangle-right"></span> <span>长部门：</span><span class="pull-right">@user.dep_name</span></li>
        <li class="list-group-item text-primary"><span class="glyphicon glyphicon-triangle-right"></span> <span>身份证：</span><span class="pull-right">@user.id_number</span></li>
        <li class="list-group-item text-primary"><span class="glyphicon glyphicon-triangle-right"></span> <span>条形码：</span><span class="pull-right">@user.salary_no</span></li>
        <li class="list-group-item text-primary"><span class="glyphicon glyphicon-triangle-right"></span> <span>邮箱地址：</span><span class="pull-right">@user.email</span></li>
        <li class="list-group-item text-primary"><span class="glyphicon glyphicon-triangle-right"></span> <span>手机长号：</span><span class="pull-right">@user.phone</span></li>
        <li class="list-group-item text-primary"><span class="glyphicon glyphicon-triangle-right"></span> <span>手机短号：</span><span class="pull-right">@user.short_phone</span></li>
        <li class="list-group-item text-primary"><span class="glyphicon glyphicon-triangle-right"></span> <span>注册日期：</span><span class="pull-right">@(((DateTime)user.create_date).ToShortDateString())</span></li>
        <li class="list-group-item text-primary"><span class="glyphicon glyphicon-triangle-right"></span> <span>最后登陆日期：</span><span class="pull-right">@(user.last_login_date==null?"":(((DateTime)user.last_login_date).ToShortDateString()))</span></li>
    </ul>
    <div class="btn-group btn-group-justified" role="group" aria-label="操作按钮">
        <div class="btn-group" role="group">
            <button class="btn btn-success" id="resetPassBtn">
                <span class="glyphicon glyphicon-repeat"></span>
                重置密码
            </button>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-danger" id="activeBtn">
                <span class="glyphicon glyphicon-random"></span>
                禁用/激活
            </button>
        </div>
    </div>
</div>
