@using EmpInfo.Models;
@{
    QywxJsConfigParam p = ViewData["qywxConfigParam"] as QywxJsConfigParam;
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/jweixin-1.2.0.js")"></script>
    <script>
        wx.config({
            beta: @p.beta, // 必须这么写，否则wx.invoke调用形式的jsapi会有问题
            debug: @p.debug, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '@p.appId', // 必填，企业微信的corpID
            timestamp: @p.timestamp, // 必填，生成签名的时间戳
            nonceStr: '@p.nonceStr', // 必填，生成签名的随机串
            signature: '@p.signature',// 必填，签名
            jsApiList: ['@p.actionType'] // 必填，需要使用的JS接口列表:'getLocation','scanQRCode'
        });

        wx.ready(function(){
            $("#jsBtn").trigger("click");
        });

        wx.error(function(res){
            toastr.error(res);
        });        

    </script>

    @if (p.actionType == "scanQRCode") {
        <script>
            $(function(){
                $("#jsBtn").on("click",function(){
                    wx.scanQRCode({
                        needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                        scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                        success: function (res) {
                            var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                            $("#result").val(res.resultStr);
                            $("#jsForm").submit();
                        },
                        error: function(res) {
                            toastr.error(res.errMsg);
                            //if (res.errMsg.indexOf('function_not_exist') > 0) {
                            //    alert('版本过低请升级')
                            //}
                        }
                    });
                });
            })
        </script>
    }

}

<button class="btn btn-danger btn-block" id="jsBtn" style="margin-top:24px;"><i class="fa fa-link"></i> @p.actionType</button>
<form id="jsForm" action="HandleJsResult" method="post">
    <input type="hidden" name="actionType" value="@p.actionType" />
    <input type="hidden" name="result" id="result" />
</form>
