@using EmpInfo.Models;
@{
    DormRepairBeginApplyModel dr = ViewData["infoBeforeApply"] as DormRepairBeginApplyModel; 
}
@section CSS{
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/webupload/webuploader.css")" />

    <style type="text/css">
        .list-group-item .media img {
            height: 64px;
            width: 96px;
        }

        .b-label {
            display: inline-block;
            width: 80px;
            vertical-align: top;
        }

        .b-div {
            margin: 10px 0;
        }

        .badge {
            background-color: #3399CC;
        }
    </style>
}
@section Scripts{
    <script src="@Url.Content("~/Scripts/knockout-3.4.0.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.zh-CN.js")"></script>
    <script src="@Url.Content("~/Scripts/webuploader.min.js")"></script>
    <script src="@Url.Content("~/Scripts/myUploaderPro.js?v=2")"></script>
    <script>

        $(function () {
            $("#repairTimePicker").datetimepicker({
                language: 'zh-CN',
                format: "yyyy-mm-dd hh:ii",
                autoclose: true,
                maxView: 2,
                minuteStep: 10,
                startDate: new Date("@DateTime.Now.ToString("yyyy-MM-dd HH:mm")"),
                endDate: new Date("@DateTime.Now.AddDays(7).ToString("yyyy-MM-dd 20:00")")
            });
            $("#myUploader").myUploader({
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                },
                sysNum: "@dr.sysNo",
                fileNumLimit: 3,
                prefix: "1^" //申请人的前缀
            });
        });

        

        function DormRepairModel() {
            var self = this;
            self.areaNames = ["一区", "二区", "六区", "红草一区"];
            self.areaName = ko.observable("");
            self.dormNumber = ko.observable("");
            self.phoneNumber = ko.observable("");
            self.shortPhoneNumber = ko.observable("");
            self.contactName = ko.observable("");
            self.repairTypes = ["直接维修", "预约维修"];
            self.repairType = ko.observable("");
            //self.repairTime = "";
            self.repairContent = ko.observable("");

            //修改维修类型
            self.ChangeRepairType = function (r) {
                self.repairType(r);
            }

            //提交申请
            self.submitApply = function () {
                if (self.areaName() == "") {
                    toastr.error("请选择住宿区");
                    return;
                }
                if (self.dormNumber() == "") {
                    toastr.error("请输入宿舍号");
                    return;
                }
                if (self.repairType() == "") {
                    toastr.error("请选择维修类型");
                    return;
                }
                //if (self.repairType() == "预约维修" && self.repairTime == "") {
                //    toastr.error("请选择预约时间");
                //    return;
                //}
                if (self.contactName() == "") {
                    toastr.error("请填写联系人");
                    return;
                }
                if (self.phoneNumber() == "" && self.shortPhoneNumber() == "") {
                    toastr.error("手机号和短号至少必须填写一个");
                    return;
                }

                $("#applyBt").button("loading");
                $.post("BeginApplyDPOutside", {
                    sys_no:"@dr.sysNo",
                    area_name: self.areaName,
                    dorm_num: self.dormNumber,
                    repair_type: self.repairType(),
                    //repair_time: self.repairTime,
                    fee_share_type: "户主本人",
                    fee_share_peple: "",
                    contact_name: self.contactName(), 
                    contact_phone: self.phoneNumber(),
                    contact_short_phone: self.shortPhoneNumber(),
                    repair_content: self.repairContent()
                }, function (data) {
                    $("#applyBt").button("reset");
                    if (data.suc) {
                        toastr.success("提交成功:" + data.msg);
                        setTimeout(function () { window.location.href = "../Apply/CheckDPApplyInDormSys?sysNo=@dr.sysNo"; }, 1000);
                    } else {
                        toastr.error(data.msg);
                    }
                });
            }


        }
        ko.applyBindings(new DormRepairModel());
    </script>
}
<div class="row" style="margin-left:0;margin-right:0;">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12" style="padding-left:0;padding-right:0;">
        <div class="panel panel-primary">
            <div class="panel-heading">
                厂外人员宿舍维修单
            </div>
            <div class="panel-body">
                <div class="b-div">
                    <span class="b-label">
                        区号：
                    </span>
                    <span style="display:inline-block;width:70%;">
                        <select class="form-control" data-bind="options:areaNames,selectedOptions:areaName,optionsCaption:'请选择宿舍区'"></select>
                    </span>
                </div>
                <div class="b-div">
                    <span class="b-label">
                        宿舍号：
                    </span>
                    <span style="display:inline-block;width:70%;">
                        <input type="text" class="form-control" data-bind="value:dormNumber" placeholder="请填写宿舍号" />
                    </span>
                </div>
                <div class="b-div">
                    <span class="b-label">
                        维修类型：
                    </span>
                    <!--ko foreach: repairTypes-->
                    <button class="btn btn-sm btn-default" data-bind="css:{'btn-primary':$parent.repairType()==$data},click:$parent.ChangeRepairType" style="margin-right:12px;">
                        <span data-bind="text:$data"></span>
                        <i class="fa fa-check-circle" data-bind="visible:$parent.repairType()==$data"></i>
                    </button>
                    <!--/ko-->
                </div>
                @*<div class="b-div" data-bind="visible:repairType()=='预约维修'">
                    <span class="b-label" style="vertical-align:top;">维修时间</span>
                    <span style="display:inline;width:70%;vertical-align:top;">
                        <span class="input-group date" style="display:inline-table;width:70%;" id="repairTimePicker">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                            <input class="form-control" type="text" readonly data-bind="value:repairTime">
                        </span>
                    </span>
                </div>*@
                <div class="b-div">
                    <span class="b-label">联系人：</span>
                    <span style="display:inline-block;width:70%;">
                        <input type="text" class="form-control" data-bind="value:contactName" placeholder="联系人必须是后勤部登记的在住人员姓名" autocomplete="off"/>
                    </span>
                </div>
                <div class="b-div">
                    <span class="b-label">手机号码：</span>
                    <span style="display:inline-block;width:70%;">
                        <input type="text" class="form-control" data-bind="value:phoneNumber" placeholder="请填写手机号码"/>
                    </span>
                </div>
                <div class="b-div">
                    <span class="b-label">手机短号：</span>
                    <span style="display:inline-block;width:70%;">
                        <input type="text" class="form-control" data-bind="value:shortPhoneNumber" placeholder="有信利短号的，请填写；否则不用填写"/>
                    </span>
                </div>
                <div class="b-div">
                    <span class="b-label">维修内容：</span>
                    <span style="display:inline-block;width:70%;">
                        <textarea class="form-control" rows="3" data-bind="value:repairContent" placeholder="请填写需要维修的物品"></textarea>
                    </span>
                </div>
                <div style="display:inline-block;">
                    <div id="picker"> <i class="fa fa-upload"></i> 上传故障图片 </div>
                </div>
                <div id="myUploader">
                    @*这里生成上传文件插件*@
                </div>

                <button class="btn btn-danger btn-block" type="button" data-bind="click:submitApply" data-loading-text="正在提交..."><i class="fa fa-check-circle-o"></i> 提交宿舍维修申请</button>
            </div>
        </div>

        <div class="panel panel-default" style="margin:16px 0 0 0;">
            <div class="panel-body">
                <h4 class="text-danger"><i class="fa fa-info-circle"></i> 功能说明 </h4>
                <div style="margin-left:18px;padding-top:6px;" class="text-danger">
                    <p>
                        1. 流程步骤：开始--->厂外人员申请宿舍维修--->后勤受理人接单--->维修完成--->申请人确认评价--->结束。
                    </p>
                    <p>
                        2. 产生的维修费用由本人和舍友（如果是多人宿舍）共同分摊，7天内新入住的人员不用分摊维修费用。
                    </p>
                    <p>
                        3. 维修完成后，产生的维修配件费用将在本月的住宿费用中扣除；维修单一旦确认完成之后，再次发生维修事宜均属于有偿服务，费用另外计算。
                    </p>
                    <p>
                        4. 对本次服务不确认评价，将不能再次申请维修，请配合给予评价。
                    </p>
                    <p>
                        5. 维修工接单时间起24小时内完成维修，如遇节假日及特殊维修，将延期。
                    </p>
                    <p>
                        5. 后勤部联系电话：0660-3380021
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
